force-app/main/default/flows/CadastralUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Chamada da Integration Procedure que replica dados do Cliente no VivoNet.</description>
        <name>IPCalloutRegistration</name>
        <label>IPCalloutRegistration</label>
        <locationX>2350</locationX>
        <locationY>879</locationY>
        <actionName>CustomVIPImplementationInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureName</name>
            <value>
                <stringValue>val_CalloutRegistration</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddUpdateAccount</name>
        <label>AddUpdateAccount</label>
        <locationX>2695</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>UpdateServiceAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopServiceAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopServiceAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RelatedContactId</name>
        <label>RelatedContactId</label>
        <locationX>1773</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RequestedFirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RequestedLastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRelatedContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRelatedContact</name>
        <label>UpdateRelatedContact</label>
        <locationX>1773</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>UpdateContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRelatedContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRelatedContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateServiceAccountName</name>
        <label>UpdateServiceAccountName</label>
        <locationX>2693</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>LoopServiceAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdateAccount</targetReference>
        </connector>
    </assignments>
    <description>Flow for updating the name and/or last name of related Accounts and Contacts.</description>
    <environments>Default</environments>
    <formulas>
        <name>FirstAndLastName</name>
        <dataType>String</dataType>
        <expression>{!$Record.RequestedFirstName__c}&amp; &apos; &apos; &amp;{!$Record.RequestedLastName__c}</expression>
    </formulas>
    <interviewLabel>Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CadastralUpdate</label>
    <loops>
        <name>LoopRelatedContact</name>
        <label>LoopRelatedContact</label>
        <locationX>1946</locationX>
        <locationY>365</locationY>
        <collectionReference>GetRelatedServiceAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetRelatedContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePrimaryContact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopServiceAccount</name>
        <label>LoopServiceAccount</label>
        <locationX>2347</locationX>
        <locationY>361</locationY>
        <collectionReference>GetRelatedServiceAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateServiceAccountName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateServices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedContact</name>
        <label>GetRelatedContact</label>
        <locationX>1950</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopRelatedContact.vlocity_cmt__PrimaryContactId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedServiceAccount</name>
        <label>GetRelatedServiceAccount</label>
        <locationX>1946</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRelatedContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f0000001PwAAAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>2350</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>IPCalloutRegistration</targetReference>
        </connector>
        <inputAssignments>
            <field>RequestedFirstName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedLastName__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>Update Contacts</label>
        <locationX>1774</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>GetRelatedServiceAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vlocity_cmt__PrimaryContactId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.RequestedFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.RequestedLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrimaryContact</name>
        <label>UpdatePrimaryContact</label>
        <locationX>2158</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>LoopServiceAccount</targetReference>
        </connector>
        <inputReference>UpdateContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateServices</name>
        <label>UpdateServices</label>
        <locationX>2350</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
        <inputReference>UpdateServiceAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>1218</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>UpdateContacts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RequestedFirstName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RequestedLastName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>ApproverUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Approver</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ApproverDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ApproverId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>collSeviceAcct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ju</stringValue>
        </value>
    </variables>
    <variables>
        <name>GetApproverList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ja</stringValue>
        </value>
    </variables>
    <variables>
        <name>nextApprover</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextApproverUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rolesAssignment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServicesAccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdateContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdateServiceAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
