force-app/main/default/flows/CaseUpdateDateTimeStatusChanged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>HasStatusChangeEqualsToFalse</name>
        <label>Alteração de Status Igual À FALSE</label>
        <locationX>448</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasStatusChangeEqualsToTrue</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>[Bloco9-Jornada71-US3520] Registrar data e hora de alteração de Status do caso</description>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeUpdate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>CaseUpdateDateTimeStatusChanged {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseUpdateDateTimeStatusChanged</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>HasStatusChangeEqualsToTrue</name>
        <label>Atualização de Status Igual À TRUE</label>
        <locationX>458</locationX>
        <locationY>556</locationY>
        <inputAssignments>
            <field>DateTimeStatusChanged__c</field>
            <value>
                <elementReference>DateTimeUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>HasStatusChangeEqualsToFalse</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} = &apos;Palitagem de Atendimento Pre Caso GPS&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
