force-app/main/default/flows/CaseGenenysInteractionRoutine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>ChangeOfAdress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ChangeOfAddress</stringValue>
        </value>
    </constants>
    <constants>
        <name>Helpwithbilling</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Helpwithbilling</stringValue>
        </value>
    </constants>
    <constants>
        <name>HelpWithInvoicingorBilling</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HelpWithInvoicingorBilling</stringValue>
        </value>
    </constants>
    <constants>
        <name>HelpWithTheOrder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HelpWithTheOrder</stringValue>
        </value>
    </constants>
    <constants>
        <name>InvoiceorRechargeCollection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InvoiceorRechargeCollection</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProblemWithPortability</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ProblemWithPortability</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Record</name>
        <label>Obtem Registro RecordType</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>ChangeOfAdres</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChangeOfAdress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Helpwithbilling</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HelpWithInvoicingorBilling</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HelpWithTheOrder</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InvoiceorRechargeCollection</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProblemWithPortability</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Status</targetReference>
            </connector>
            <label>ChangeOfAdress</label>
        </rules>
    </decisions>
    <description>Verifica diariamente as 09:00 horas os casos que estão com status &quot;Em execução&quot; e altera para o status &quot;Em fila&quot;</description>
    <interviewLabel>[Caso] Rotina Interação Genenys {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Caso] Rotina Interação Genenys</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_Status</name>
        <label>Atualiza Status</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em execução</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em fila</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em execução</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-22</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filtra_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>ListaCaseId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
