force-app/main/default/flows/CasoAtualizarStatusCasoParaFechado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AtribuirStatusFechadoCaso</name>
        <label>Atribuir Status Fechado ao Caso</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ObterCaso.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_tatusParaFechado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>StatusDoCaso</name>
        <label>Status do Caso</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>TelaErroCasoJaFechado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Caso Status igual a Fechado</defaultConnectorLabel>
        <rules>
            <name>CasoStatusDiferenteFechado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterCaso.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FecharCaso</targetReference>
            </connector>
            <label>Caso Status Diferente de Fechado</label>
        </rules>
    </decisions>
    <description>Flow usado para fechar o caso de Minhas Solicitações via Quick Action (Fechar Caso)</description>
    <interviewLabel>[Caso] Atualizar Status do Caso para Fechado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Caso Minhas Solicitações] Atualizar Status do Caso para Fechado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterCaso</name>
        <label>Obter Caso</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StatusDoCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_tatusParaFechado</name>
        <label>Atualizar Status para Fechado</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>ObterCaso</inputReference>
    </recordUpdates>
    <screens>
        <name>FecharCaso</name>
        <label>Fechar Caso</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <connector>
            <targetReference>AtribuirStatusFechadoCaso</targetReference>
        </connector>
        <fields>
            <name>MsgConfirmacaoFecharCaso</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(5, 5, 5); font-size: 14px;&quot;&gt;Tem certeza de que deseja fechar este Caso ?﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirmar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaErroCasoJaFechado</name>
        <label>Tela de Erro Caso já Fechado</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <fields>
            <name>MasCasoJaFechado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;﻿Este Caso já está fechado !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterCaso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
