force-app/main/default/flows/ClosedCustomerTopicInProgress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Atribuir_Nova_Palitagem</name>
        <label>Atribuir Nova Palitagem</label>
        <locationX>138</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Iterar_Topic_em_andamento.TopicName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Solicitação &gt; Comercial &gt; Migrar / Alterar Plano &gt; Fluxo Cancelado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterar_Topic_em_andamento.remarkup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processo de migração cancelado por inatividade em {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Topic_com_Palitagem_Alterada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Topic_com_Palitagem_Alterada</name>
        <label>Topic com Palitagem Alterada</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>TodasTopicsAtualizadas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterar_Topic_em_andamento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_Topic_em_andamento</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_Topic_em_Andamento</name>
        <label>Existe Topic em Andamento?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Topic_em_Andamento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterar_Topic_em_andamento</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Fluxo com execução diária para alterar a palitagem das customer interaction topics do fluxo de migração que estão &quot;Em Andamento&quot;</description>
    <formulas>
        <name>ValidacaoLastModifiedDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (2/24)</expression>
    </formulas>
    <interviewLabel>Encerrar Topic com Fluxo em Andamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encerrar Topic com Fluxo em Andamento</label>
    <loops>
        <name>Iterar_Topic_em_andamento</name>
        <label>Iterar Topic em andamento</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Buscar_Topic_em_Andamento</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribuir_Nova_Palitagem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualizar_Topics</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Topic_em_Andamento</name>
        <label>Buscar Topic em Andamento</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Topic_em_Andamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TopicName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Fluxo em Andamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hybris</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ValidacaoLastModifiedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>vlocity_cmt__CustomerInteractionTopic__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TopicName__c</queriedFields>
        <queriedFields>remarkup__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Topics</name>
        <label>Atualizar Topics</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <inputReference>TodasTopicsAtualizadas</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Topic_em_Andamento</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-17</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TodasTopicsAtualizadas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__CustomerInteractionTopic__c</objectType>
    </variables>
</Flow>
