force-app/main/default/flows/ClusterMessageList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Alimenta a variável que será exibida na tela</description>
        <name>AddClusterMessage</name>
        <label>AddClusterMessage</label>
        <locationX>739</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>ClusterName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClusterMember.RecordLink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClusterName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreaker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SepareteClusterMessage</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>LineBreaker</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;br&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>if</name>
        <label>if</label>
        <locationX>429</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>SepareteClusterMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condicao</name>
            <conditionLogic>(1 and 2 ) or (3 and 4)</conditionLogic>
            <conditions>
                <leftValueReference>ClusterMember.Communication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClusterMember.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ManualCloseCluster</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClusterMember.Validity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClusterMember.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutomaticScheduledCluster</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddClusterMessage</targetReference>
            </connector>
            <label>Condição</label>
        </rules>
    </decisions>
    <description>Screenflow que exibe mensagens de cluster no Lightning Record Page de Account</description>
    <interviewLabel>ClusterMessageList {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClusterMessageList1</label>
    <loops>
        <name>SepareteClusterMessage</name>
        <label>SepareteClusterMessage</label>
        <locationX>450</locationX>
        <locationY>155</locationY>
        <assignNextValueToReference>ClusterMember</assignNextValueToReference>
        <collectionReference>GetClusterMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>if</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetClusterMembers</name>
        <label>GetClusterMembers</label>
        <locationX>178</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SepareteClusterMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClusterMember__c</object>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Tela utilizada no Lightning Record Page de Account</description>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>993</locationX>
        <locationY>46</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextScreen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!Image} Avisos&lt;/b&gt;:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ClusterName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>GetClusterMembers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClusterMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClusterMember__c</objectType>
    </variables>
    <variables>
        <name>ClusterMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClusterMember__c</objectType>
    </variables>
    <variables>
        <name>ClusterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&apos;/resource/AvisoIcon&apos;/&gt; </stringValue>
        </value>
    </variables>
</Flow>
