force-app/main/default/flows/CreateDisputeItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignDisputedItemCollection</name>
        <label>AssignDisputedItemCollection</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>DisputedItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DisputedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllCharges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDisputedItemValues</name>
        <label>AssignDisputedItemValues</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DisputedItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotStarted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.InstanceProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.AvailableAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convertAvailableAmountAsCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.BundleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.bundleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.ChargeCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.ChargeCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trunkCodeDescriptionIn255Characters</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.Discounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convertDiscountAsCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.FrontEndCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.frontEndCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.ItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trunkNameIn80Characters</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.OfferId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.offerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.OfferType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.offerType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.SubscriberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.subscriberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.TotalAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convertTotalAmountAsCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.BillingStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateFormat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.BillingEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateFormat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.CustomerAccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.customerAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.HaveDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convertHaveDiscountAsBoolean</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.Csp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllCharges.csp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisputedItem.NameFull__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trunkFullNameIn255Characters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignDisputedItemCollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>convertAvailableAmountAsCurrency</name>
        <dataType>Currency</dataType>
        <expression>VALUE(BLANKVALUE({!LoopAllCharges.availableAmount}, &apos;0.00&apos;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>convertDiscountAsCurrency</name>
        <dataType>Currency</dataType>
        <expression>VALUE(BLANKVALUE({!LoopAllCharges.discount}, &apos;0.00&apos;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>convertHaveDiscountAsBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF(UPPER(BLANKVALUE({!LoopAllCharges.haveDiscount}, &apos;false&apos;)) = &apos;TRUE&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>convertTotalAmountAsCurrency</name>
        <dataType>Currency</dataType>
        <expression>VALUE(BLANKVALUE({!LoopAllCharges.totalAmount}, &apos;0.00&apos;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>defaultItemName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!LoopAllCharges.name}, {!LoopAllCharges.codeDescription})</expression>
    </formulas>
    <formulas>
        <name>EndDateFormat</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!LoopAllCharges.endDate})</expression>
    </formulas>
    <formulas>
        <name>StartDateFormat</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!LoopAllCharges.startDate})</expression>
    </formulas>
    <formulas>
        <name>trunkCodeDescriptionIn255Characters</name>
        <dataType>String</dataType>
        <expression>IF (LEN({!LoopAllCharges.codeDescription}) &gt; 254, MID({!LoopAllCharges.codeDescription}, 1, 254), {!LoopAllCharges.codeDescription})</expression>
    </formulas>
    <formulas>
        <name>trunkFullNameIn255Characters</name>
        <dataType>String</dataType>
        <expression>IF (LEN({!LoopAllCharges.name}) &gt; 254, MID({!LoopAllCharges.name}, 1, 254), {!LoopAllCharges.name})</expression>
    </formulas>
    <formulas>
        <name>trunkNameIn80Characters</name>
        <dataType>String</dataType>
        <expression>IF (LEN({!defaultItemName}) &gt; 79, MID({!defaultItemName}, 1, 79), {!defaultItemName})</expression>
    </formulas>
    <interviewLabel>Contestação - Fixa/Convergente - Criar items de contestação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Criar items de contestação</label>
    <loops>
        <name>LoopAllCharges</name>
        <label>LoopAllCharges</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>AllCharges.charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignDisputedItemValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateDisputedItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDisputedItems</name>
        <label>CreateDisputedItems</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>GetDisputedItems</targetReference>
        </connector>
        <inputReference>DisputedItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetDisputedItems</name>
        <label>GetDisputedItems</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotStarted</stringValue>
            </value>
        </filters>
        <object>DisputedItem__c</object>
        <outputReference>SavedCharges</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingEndDate__c</queriedFields>
        <queriedFields>BillingStartDate__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopAllCharges</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCharges</name>
        <apexClass>DisputeChargeModelList</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisputedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DisputedItem__c</objectType>
    </variables>
    <variables>
        <name>DisputedItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DisputedItem__c</objectType>
    </variables>
    <variables>
        <name>SavedCharges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DisputedItem__c</objectType>
    </variables>
    <variables>
        <name>ServiceIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
