force-app/main/default/flows/CreateUpdateCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IPCreateInteractionTopic</name>
        <label>IPCreateInteractionTopic</label>
        <locationX>964</locationX>
        <locationY>479</locationY>
        <actionName>CustomVIPImplementationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IPCreateProtocolVivoNet</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interactionId</name>
            <value>
                <elementReference>$Record.CustomerInteractionId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>$Record.OrderId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origin</name>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outcome</name>
        </inputParameters>
        <inputParameters>
            <name>procedureName</name>
            <value>
                <stringValue>val_CreateInteractionTopicAndProtocolVivoNet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTree</name>
            <value>
                <elementReference>$Record.ServiceQualificationTree__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscriptionId</name>
            <value>
                <elementReference>$Record.vlocity_cmt__SubscriptionId__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>topicId</name>
            <value>
                <elementReference>$Record.CustomerInteractionTopicTree__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>topicName</name>
            <value>
                <elementReference>$Record.ServiceQualificationMobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.OrderNumber__r.CreatedById</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomVIPImplementationInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IPCreateProtocolVivoNet</name>
        <label>IPCreateProtocolVivoNet</label>
        <locationX>965</locationX>
        <locationY>668</locationY>
        <actionName>CustomVIPImplementationInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>procedureName</name>
            <value>
                <stringValue>val_CreateProtocolVivoNet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>IPCreateInteractionTopic.output</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>topicName</name>
            <value>
                <elementReference>$Record.ServiceQualificationMobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.OrderNumber__r.CreatedById</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomVIPImplementationInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>topicId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Verificar se o campo de Status do caso é igual ao campo CaseStatusGenTopic__c do objeto relacionado CustomerInteractionTopicTree__c</description>
        <name>IsStatusEqualsCaseStatusGenTopic</name>
        <label>IsStatusEqualsCaseStatusGenTopic</label>
        <locationX>1087</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerInteractionTopicTree__r.CaseStatusGenTopic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPCreateInteractionTopic</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Flow Update de Casos que executa o processo de criação de relacionamento com base no protocolo.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula para validar se o caso é aberto ou fechado</description>
        <name>ClosedCase</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status}, &quot;Closed&quot;), &quot;Fechado&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>PathTopicName</name>
        <dataType>String</dataType>
        <expression>&quot;Início &gt; &quot;&amp;{!$Record.ServiceQualificationMobile__c}</expression>
    </formulas>
    <interviewLabel>UpdateCreateCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IsStatusEqualsCaseStatusGenTopic</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>topicId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CustomerInteractionTopicTree__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varInteractionTopicId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
