force-app/main/default/flows/DisputeCheckCustomerInteraction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asSetActionAnswear</name>
        <label>Definir resposta da ação</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Answer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>asSetActionStepHistory</name>
        <label>Recuperar Id do histórico de execução de ação</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>actionStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcIsNecessaryStepReExecution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetFlowStepHistoryIdByCaseId</name>
        <label>Recuperar Id do histórico de execução</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetStepHistoryByCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetFlowStepHistoryIdByDisputedItemIdAndCaseId</name>
        <label>Recuperar Id do histórico de execução</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetStepHistoryByDisputedItemIdAndCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assSetAsNegativeAnswear</name>
        <label>Definir resposta como negativa</label>
        <locationX>534</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcIsThereActionStepHistory2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assSetAsPositiveAnswear</name>
        <label>Definir resposta como positiva</label>
        <locationX>270</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcIsThereActionStepHistory2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choNo</name>
        <choiceText>Não</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>choYes</name>
        <choiceText>Sim</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>dcIsNecessaryStepReExecution</name>
        <label>É necessário reexecutar esta etapa do fluxo?</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>asSetActionAnswear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsNecessaryStepReExecutionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowReExecution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDisputedItem</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsThereActionStepHistory</name>
        <label>Existe histórico de execução de ação</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>getDisputedItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsThereActionStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grGetActionStepHistory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsThereActionStepHistory2</name>
        <label>Existe histórico de execução de ação?</label>
        <locationX>402</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>crCreateActionStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsThereActionStepHistory2Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>urUpdateActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcThereIsDisputedItem</name>
        <label>Existe item a ser contestado?</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>grGetStepHistoryByCaseId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcThereIsDisputedItemYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>disputItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetStepHistoryByDisputedItemIdAndCaseId</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCheckAnswear</name>
        <label>A resposta foi positiva?</label>
        <locationX>402</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>assSetAsNegativeAnswear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>decYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assSetAsPositiveAnswear</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsThereStepHistory</name>
        <label>Existe histórico de execução?</label>
        <locationX>402</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>crCreateStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>decIsThereStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Ação Manual - Ordem de cancelamento foi criada? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Ação Manual - Existe alguma interação na data mencionada pelo cliente?</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crCreateActionStepHistory</name>
        <label>Criar histórico de execução de ação</label>
        <locationX>534</locationX>
        <locationY>2282</locationY>
        <assignRecordIdToReference>actionStepHistoryId</assignRecordIdToReference>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowExecutionStepHistory__c</field>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>M</stringValue>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordCreates>
    <recordCreates>
        <name>crCreateStepHistory</name>
        <label>Criar histórico de execução</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignRecordIdToReference>flowStepHistoryId</assignRecordIdToReference>
        <connector>
            <targetReference>getDisputedItem</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisputedItem__c</field>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>step</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionStepHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>getDisputedInvoice</name>
        <label>Carregar DisputedInvoice__c</label>
        <locationX>402</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scnManualAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDisputedItem</name>
        <label>Carrega Item Contestado</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDisputedInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetActionStepHistory</name>
        <label>Buscar histórico de execução de ação</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcIsThereActionStepHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowExecutionStepHistory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>question</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionActionHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetStepHistoryByCaseId</name>
        <label>Buscar histórico de execução pelo caso</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asSetFlowStepHistoryIdByCaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetStepHistoryByDisputedItemIdAndCaseId</name>
        <label>Buscar histórico de execução pelo item contestado e caso</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asSetFlowStepHistoryIdByDisputedItemIdAndCaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisputedItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>urUpdateActionStepHistory</name>
        <label>Atualizar histórico de execução de ação</label>
        <locationX>270</locationX>
        <locationY>2282</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionStepHistoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordUpdates>
    <screens>
        <name>scnManualAction</name>
        <label>Ação Manual</label>
        <locationX>402</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decCheckAnswear</targetReference>
        </connector>
        <fields>
            <name>dtCustomerInteraction</name>
            <extensionName>c:customerInteractionDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>instanceProduct</name>
                <value>
                    <elementReference>getDisputedItem.InstanceProduct__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerAccountId</name>
                <value>
                    <elementReference>getDisputedInvoice.AccountHref__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtxTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(92, 22, 157); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!step}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rdoAnswears</name>
            <choiceReferences>choYes</choiceReferences>
            <choiceReferences>choNo</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>M) {!question}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcThereIsDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allowReExecution</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>answear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
