force-app/main/default/flows/DisputeFixedConvergentZeroElevationV2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asSetDistuedItemStatus</name>
        <label>Definir status do item contestado para: Em Análise</label>
        <locationX>1658</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>lpForEachDusputedItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InAnalisys</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upDisputedItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>A_Voc_pertence_a_um_grupo_com_escopo_de_contesta_o_E2E</name>
        <label>A) Você pertence a um grupo com escopo de contestação E2E?</label>
        <locationX>2766</locationX>
        <locationY>5552</locationY>
        <defaultConnector>
            <targetReference>Transferir_liga_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearVALIDA_ALCADA_ZERO_006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfMotives</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_1_de_A_Voc_pertence_a_um_grupo_com_escopo_de_contesta_o_E2E</name>
        <label>A) Você pertence a um grupo com escopo de contestação E2E?</label>
        <locationX>1658</locationX>
        <locationY>6152</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_Transferir_liga_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearVALIDA_ALCADA_ZERO_001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Carregar_ATC_FX_FIN_CONT_AJU_AUT_003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcHouvealteraodevencimento</name>
        <label>Houve alteração de vencimento?</label>
        <locationX>2772</locationX>
        <locationY>4568</locationY>
        <defaultConnector>
            <targetReference>sfVALIDA_ALCADA_ZERO_006</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>outSimVenc001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaVenc001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfValidaVenc002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcNCCPREVER010</name>
        <label>M) Existe registro de NCC para este cliente nos últimos 12 meses?</label>
        <locationX>2766</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>sfValidaPlano001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcNCCPREVER010Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearNccPrever010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfValidaNCC</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcVALIDA007</name>
        <label>M) Informe a reclamação do cliente está relacionada a uma orientação de negar ajuste. Cliente aceita?</label>
        <locationX>1342</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>sfVALIDA_ALCADA_ZERO_009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcVALIDA007Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearVALIDA_007</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gtATC_FX_FIN_CONT_NEG_OFAT_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcVALIDA014</name>
        <label>M) Trata-se de término de período de Desconto?</label>
        <locationX>4070</locationX>
        <locationY>4568</locationY>
        <defaultConnector>
            <targetReference>sfVALIDA_ALCADA_ZERO_008</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcVALIDA014Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerValida14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gtATC_FX_FIN_CONT_NEG_VAL_PLA_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcVALIDA_ALCADA_ZERO_001</name>
        <label>A) Você pertence a um grupo com escopo de contestação E2E?</label>
        <locationX>1421</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>scTransferCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcVALIDA_ALCADA_ZERO_001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearVALIDA_ALCADA_ZERO_001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_REINC_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcVALIDA_ALCADA_ZERO_007</name>
        <label>A) Você pertence a um grupo com escopo de contestação E2E?</label>
        <locationX>3212</locationX>
        <locationY>4784</locationY>
        <defaultConnector>
            <targetReference>sfTransferCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcVALIDA_ALCADA_ZERO_007Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearVALIDA_ALCADA_ZERO_007</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>sfMotives</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcVALIDA_ALCADA_ZERO_008</name>
        <label>A) Você pertence a um grupo com escopo de contestação E2E?</label>
        <locationX>4268</locationX>
        <locationY>4784</locationY>
        <defaultConnector>
            <targetReference>sfTransferCall_VALIDA_ALCADA_ZERO_008</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcVALIDA_ALCADA_ZERO_008Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearVALIDA_ALCADA_ZERO_008</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>sfMotives</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcVALIDA_ALCADA_ZERO_009</name>
        <label>A) Você pertence a um grupo com escopo de contestação E2E?</label>
        <locationX>1540</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>sfTransferCall_VALIDA_ALCADA_ZERO_009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcVALIDA_ALCADA_ZERO_009Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearVALIDA_ALCADA_ZERO_009</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfConcession_VALIDA_ALCADA_ZERO_009</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaDuplicidade001</name>
        <label>M) Cliente contesta pois está recebendo faturas do mesmo período e valores?</label>
        <locationX>3410</locationX>
        <locationY>4568</locationY>
        <defaultConnector>
            <targetReference>gtATC_FX_FIN_CONT_NEG_NDUP_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaDuplicidade001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerValidaDuplicidade001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfVALIDA_ALCADA_ZERO_007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaInoperancia001</name>
        <label>A) Verificar se há ressarcimento automático/programado por inoperância?</label>
        <locationX>1658</locationX>
        <locationY>2156</locationY>
        <defaultConnector>
            <targetReference>ValidaInoperancia002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaInoperancia001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answaerValidaInoperancia001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfValidaOcorrencia001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaInoperancia002</name>
        <label>M) Verifique se o cliente alega inoperância por causas naturais ou problemas de terceiros?</label>
        <locationX>1812</locationX>
        <locationY>2372</locationY>
        <defaultConnector>
            <targetReference>sfValidaOcorrencia001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaInoperancia002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaInoperancia002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_INOP_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaNCC</name>
        <label>M) Nova condição comercial é responsável pela alteração no valor do item da fatura selecionada?</label>
        <locationX>2612</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>sfValidaPlano001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaNCCYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaNCC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gtATC_FX_FIN_CONT_NEG_NCC_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaOcorrencia001</name>
        <label>Item a ser contestado tem relação com as ocorrências de faturamento?</label>
        <locationX>1658</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>sfNCC_PREVER010</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente não possui orientação de ocorrências de faturamento</defaultConnectorLabel>
        <rules>
            <name>dcValidaOcorrencia001_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaOcorrencia001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente já possui ressarcimento automático programado para este item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfValidaOcorrencia002</targetReference>
            </connector>
            <label>Cliente já possui ressarcimento automático programado para este item</label>
        </rules>
        <rules>
            <name>dcValidaOcorrencia001_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaOcorrencia001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A reclamação do cliente está relacionada a uma orientação de realizar ajuste para este item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfVALIDA_ALCADA_ZERO_003</targetReference>
            </connector>
            <label>A reclamação do cliente está relacionada a uma orientação de realizar ajuste para este item</label>
        </rules>
        <rules>
            <name>dcValidaOcorrencia001_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaOcorrencia001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A reclamação do cliente está relacionada a uma orientação de negar ajuste para este item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfVALIDA_007</targetReference>
            </connector>
            <label>A reclamação do cliente está relacionada a uma orientação de negar ajuste para este item</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaOcorrencia002</name>
        <label>M) Ressarcimento está dentro do prazo?</label>
        <locationX>550</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>VALIDA_ALCADA_ZERO_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaOcorrencia002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaOcorrencia002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfValidaOcorrencia003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaOcorrencia003</name>
        <label>M) Informe ao cliente o prazo de ressarcimento. Cliente aceita?</label>
        <locationX>396</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>VALIDA_ALCADA_ZERO_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaOcorrencia003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaOcorrencia003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_AUT_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlano001</name>
        <label>A) Verifique se houve alteração de plano para a fatura selecionada?</label>
        <locationX>2766</locationX>
        <locationY>4136</locationY>
        <defaultConnector>
            <targetReference>ValidaPlano002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlano001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlano001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfValidaPlano003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlano002</name>
        <label>M) Verifique qual o questionamento do cliente em relação a fatura?</label>
        <locationX>3421</locationX>
        <locationY>4352</locationY>
        <defaultConnector>
            <targetReference>sfVALIDA014</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Houve Término de Benefícios (Desconto)</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlano002_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlano002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alteração de Vencimento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfValidaVenc001</targetReference>
            </connector>
            <label>Alteração de Vencimento</label>
        </rules>
        <rules>
            <name>dcValidaPlano002_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlano002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Possui fatura/item duplicado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfValidaDuplicidade001</targetReference>
            </connector>
            <label>Possui fatura/item duplicado</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlano003</name>
        <label>M) Cliente ciente da troca de plano?</label>
        <locationX>2112</locationX>
        <locationY>4352</locationY>
        <defaultConnector>
            <targetReference>sfValidaPlano004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlano003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerValidaPlano003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gtATC_FX_FIN_CONT_NEG_VAL_PLA_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlano004</name>
        <label>M) O cliente desconhece a troca de plano?</label>
        <locationX>2288</locationX>
        <locationY>4568</locationY>
        <defaultConnector>
            <targetReference>gtATC_FX_FIN_CONT_NEG_VAL_PLA_004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlano004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlano004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfVALIDA_ALCADA_ZERO_006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaReincidencia001_3</name>
        <label>A) Verificar se houve contestação nos últimos 45 dias, do mesmo item e fatura?</label>
        <locationX>1658</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>ValidaInoperancia001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaReincidencia001_3Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaReincidente001_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfValidaReincidente001_4</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaReincidente001_4</name>
        <label>A) Verifique se houve contestação negada nos ultimos 45 dias?</label>
        <locationX>1322</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>sfValidaReincidente001_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaReincidente001_4Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaReincidente001_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_REINC_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaReincidente001_5</name>
        <label>M) Verifique se este valor ficou pendente da ultima contestação?</label>
        <locationX>1619</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>ValidaInoperancia001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaReincidente001_5Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaReincidente001_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VALIDA_ALCADA_ZERO_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - Alçada Zero - V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Alçada Zero - V2</label>
    <loops>
        <name>lpForEachDusputedItem</name>
        <label>Para cada item do carrinho de contestação</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>grGetDusputedItens</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asSetDistuedItemStatus</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Carregar_ATC_FX_FIN_CONT_AJU_AUT_003</name>
        <label>Carregar ATC-FX-FIN-CONT-AJU-AUT-003</label>
        <locationX>1526</locationX>
        <locationY>6260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJU_AUT_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJU-AUT-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Carregar_ATC_FX_FIN_CONT_NEG_VAL_VENC_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-VAL-VENC-001</label>
        <locationX>2640</locationX>
        <locationY>4784</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_VAL_VENC_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-VAL-VENC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_REINC_001</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-REINC-001</label>
        <locationX>1289</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_AJ_REINC_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-REINC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_AUT_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-AUT-001</label>
        <locationX>264</locationX>
        <locationY>3578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_AUT_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-AUT-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_INOP_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-INOP-001</label>
        <locationX>1680</locationX>
        <locationY>2480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_INOP_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-INOP-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_REINC_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-REINC-001</label>
        <locationX>1025</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_REINC_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDusputedItens</name>
        <label>Carregar itens do carrinho de contestação</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotStarted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InAnalisys</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtATC_FX_FIN_CONT_NEG_NCC_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-NCC-001</label>
        <locationX>2480</locationX>
        <locationY>3578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>B2C_NCC_EsclarecimentosCli001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-NCC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtATC_FX_FIN_CONT_NEG_NDUP_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-NDUP-001</label>
        <locationX>3608</locationX>
        <locationY>4676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_NDUP_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-NDUP-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtATC_FX_FIN_CONT_NEG_OFAT_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-OFAT-001</label>
        <locationX>1144</locationX>
        <locationY>3362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_OFAT_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-OFAT-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtATC_FX_FIN_CONT_NEG_VAL_PLA_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-VAL-PLA-001</label>
        <locationX>1936</locationX>
        <locationY>4460</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_VAL_PLA_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-VAL-PLA-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtATC_FX_FIN_CONT_NEG_VAL_PLA_002</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-VAL-PLA-002</label>
        <locationX>3872</locationX>
        <locationY>4676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_VAL_PLA_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-VAL-PLA-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtATC_FX_FIN_CONT_NEG_VAL_PLA_004</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-VAL-PLA-004</label>
        <locationX>2376</locationX>
        <locationY>4676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_VAL_PLA_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-VAL-PLA-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upDisputedItem</name>
        <label>Atualizar item contestado</label>
        <locationX>1658</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>ValidaReincidente001_3</targetReference>
        </connector>
        <inputReference>lpForEachDusputedItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDusputedItens</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJU_AUT_003</name>
        <label>ATC-FX-FIN-CONT-AJU-AUT-003</label>
        <locationX>1526</locationX>
        <locationY>6368</locationY>
        <connector>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_AJU_AUT_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_OFAT_001</name>
        <label>ATC-FX-FIN-CONT-NEG-OFAT-001</label>
        <locationX>1144</locationX>
        <locationY>3470</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>gtATC_FX_FIN_CONT_NEG_OFAT_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_VAL_PLA_001</name>
        <label>ATC-FX-FIN-CONT-NEG-VAL-PLA-001</label>
        <locationX>1936</locationX>
        <locationY>4568</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>gtATC_FX_FIN_CONT_NEG_VAL_PLA_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_VAL_PLA_004</name>
        <label>ATC-FX-FIN-CONT-NEG-VAL-PLA-004</label>
        <locationX>2376</locationX>
        <locationY>4784</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>gtATC_FX_FIN_CONT_NEG_VAL_PLA_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_VAL_VENC_001</name>
        <label>ATC-FX-FIN-CONT-NEG-VAL-VENC-001</label>
        <locationX>2640</locationX>
        <locationY>4892</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_NEG_VAL_VENC_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>B2C_NCC_EsclarecimentosCli001</name>
        <label>B2C-NCC_EsclarecimentosCli001</label>
        <locationX>2480</locationX>
        <locationY>3686</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>gtATC_FX_FIN_CONT_NEG_NCC_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>C_pia_1_de_Transferir_liga_o</name>
        <label>Transferir ligação</label>
        <locationX>1790</locationX>
        <locationY>6260</locationY>
        <flowName>generalTransferCall</flowName>
        <inputAssignments>
            <name>callActive</name>
            <value>
                <elementReference>callActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinitionCode</name>
            <value>
                <stringValue>ATC-TRANSF-</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>scTransferCall</name>
        <label>Transferir ligação</label>
        <locationX>1553</locationX>
        <locationY>1430</locationY>
        <flowName>generalTransferCall</flowName>
        <inputAssignments>
            <name>callActive</name>
            <value>
                <elementReference>callActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinitionCode</name>
            <value>
                <stringValue>ATC-TRANSF-</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_AJ_REINC_001</name>
        <label>ATC-FX-FIN-CONT-AJ-REINC-001</label>
        <locationX>1289</locationX>
        <locationY>1538</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_REINC_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_AUT_001</name>
        <label>ATC-FX-FIN-CONT-NEG-AUT-001</label>
        <locationX>264</locationX>
        <locationY>3686</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_AUT_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_INOP_001</name>
        <label>ATC-FX-FIN-CONT-NEG-INOP-001</label>
        <locationX>1680</locationX>
        <locationY>2588</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_INOP_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_NDUP_001</name>
        <label>ATC-FX-FIN-CONT-NEG-NDUP-001</label>
        <locationX>3608</locationX>
        <locationY>4784</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>gtATC_FX_FIN_CONT_NEG_NDUP_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_REINC_001</name>
        <label>ATC-FX-FIN-CONT-NEG-REINC-001</label>
        <locationX>1025</locationX>
        <locationY>1106</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_REINC_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_VAL_PLA_002</name>
        <label>ATC-FX-FIN-CONT-NEG-VAL-PLA-002</label>
        <locationX>3872</locationX>
        <locationY>4784</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>lpForEachDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>gtATC_FX_FIN_CONT_NEG_VAL_PLA_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcession_VALIDA_ALCADA_ZERO_009</name>
        <label>Concessão</label>
        <locationX>1408</locationX>
        <locationY>3578</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-OFAT-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-OFAT-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-OFAT-005</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-OFAT-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-OFAT-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfMotives</name>
        <label>Motivos</label>
        <locationX>2634</locationX>
        <locationY>5660</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>lpForEachDusputedItem</targetReference>
        </connector>
        <flowName>DisputeFixedConvergentReasonsV2</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfNCC_PREVER010</name>
        <label>NCC PREVER010</label>
        <locationX>2766</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>dcNCCPREVER010</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe registro de NCC para este cliente nos últimos 12 meses?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>NCC PREVER010</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearNccPrever010</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTransferCall</name>
        <label>Transferir ligação</label>
        <locationX>3344</locationX>
        <locationY>4892</locationY>
        <flowName>generalTransferCall</flowName>
        <inputAssignments>
            <name>callActive</name>
            <value>
                <elementReference>callActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinitionCode</name>
            <value>
                <stringValue>ATC-TRANSF-</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfTransferCall_VALIDA_ALCADA_ZERO_008</name>
        <label>Transferir ligação</label>
        <locationX>4400</locationX>
        <locationY>4892</locationY>
        <flowName>generalTransferCall</flowName>
        <inputAssignments>
            <name>callActive</name>
            <value>
                <elementReference>callActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinitionCode</name>
            <value>
                <stringValue>ATC-TRANSF-</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfTransferCall_VALIDA_ALCADA_ZERO_009</name>
        <label>Transferência</label>
        <locationX>1672</locationX>
        <locationY>3578</locationY>
        <flowName>generalTransferCall</flowName>
        <inputAssignments>
            <name>callActive</name>
            <value>
                <elementReference>callActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinitionCode</name>
            <value>
                <stringValue>Teste</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfVALIDA014</name>
        <label>VALIDA014</label>
        <locationX>4070</locationX>
        <locationY>4460</locationY>
        <connector>
            <targetReference>dcVALIDA014</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Trata-se de término de período de Desconto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA014</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerValida14</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfVALIDA_007</name>
        <label>VALIDA_007</label>
        <locationX>1342</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>dcVALIDA007</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Negue o ajuste conforme a orientação da ocorrência de faturamento.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe a reclamação do cliente está relacionada a uma orientação de negar ajuste. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA_007</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearVALIDA_007</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfVALIDA_ALCADA_ZERO_003</name>
        <label>VALIDA_ALCADA_ZERO_003</label>
        <locationX>880</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>VALIDA_ALCADA_ZERO_002</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>A reclamação do cliente esta relacionada a uma orientação de realizar ajuste para este item em ocorrência de faturamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Ocorrência 001.1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfVALIDA_ALCADA_ZERO_006</name>
        <label>VALIDA_ALCADA_ZERO_006</label>
        <locationX>2766</locationX>
        <locationY>5444</locationY>
        <connector>
            <targetReference>A_Voc_pertence_a_um_grupo_com_escopo_de_contesta_o_E2E</targetReference>
        </connector>
        <flowName>DisputeCheckScope</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordGroupName</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA_ALCADA_ZERO_006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearVALIDA_ALCADA_ZERO_006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfVALIDA_ALCADA_ZERO_007</name>
        <label>VALIDA_ALCADA_ZERO_007</label>
        <locationX>3212</locationX>
        <locationY>4676</locationY>
        <connector>
            <targetReference>dcVALIDA_ALCADA_ZERO_007</targetReference>
        </connector>
        <flowName>DisputeCheckScope</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordGroupName</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA_ALCADA_ZERO_007</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearVALIDA_ALCADA_ZERO_007</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfVALIDA_ALCADA_ZERO_008</name>
        <label>VALIDA_ALCADA_ZERO_008</label>
        <locationX>4268</locationX>
        <locationY>4676</locationY>
        <connector>
            <targetReference>dcVALIDA_ALCADA_ZERO_008</targetReference>
        </connector>
        <flowName>DisputeCheckScope</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordGroupName</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA_ALCADA_ZERO_008</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearVALIDA_ALCADA_ZERO_008</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfVALIDA_ALCADA_ZERO_009</name>
        <label>VALIDA_ALCADA_ZERO_009</label>
        <locationX>1540</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>dcVALIDA_ALCADA_ZERO_009</targetReference>
        </connector>
        <flowName>DisputeCheckScope</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordGroupName</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA_ALCADA_ZERO_009</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearVALIDA_ALCADA_ZERO_009</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaDuplicidade001</name>
        <label>Valida Duplicidade 001</label>
        <locationX>3410</locationX>
        <locationY>4460</locationY>
        <connector>
            <targetReference>dcValidaDuplicidade001</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente contesta pois está recebendo faturas do mesmo período e valores?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Duplicidade 001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerValidaDuplicidade001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaNCC</name>
        <label>Valida NCC</label>
        <locationX>2612</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>dcValidaNCC</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique se nova condição comercial é responsável pela alteração no valor da fatura.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Nova condição comercial é responsável pela alteração no valor do item da fatura selecionada?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida NCC</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaNCC</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaOcorrencia001</name>
        <label>Valida Ocorrência 001</label>
        <locationX>1658</locationX>
        <locationY>2930</locationY>
        <connector>
            <targetReference>dcValidaOcorrencia001</targetReference>
        </connector>
        <flowName>DisputeCheckBillingOccurrence</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Ocorrência 001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaOcorrencia001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaOcorrencia002</name>
        <label>Valida Ocorrência 002</label>
        <locationX>550</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>dcValidaOcorrencia002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Ressarcimento está dentro do prazo?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Ocorrência 002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaOcorrencia002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaOcorrencia003</name>
        <label>Valida Ocorrência 003</label>
        <locationX>396</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>dcValidaOcorrencia003</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe ao cliente o prazo de ressarcimento. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Ocorrência 003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaOcorrencia003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaPlano001</name>
        <label>Valida Plano 001</label>
        <locationX>2766</locationX>
        <locationY>4028</locationY>
        <connector>
            <targetReference>dcValidaPlano001</targetReference>
        </connector>
        <flowName>CheckReplaceOffer</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Plano 001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlano001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaPlano003</name>
        <label>Valida Plano 003</label>
        <locationX>2112</locationX>
        <locationY>4244</locationY>
        <connector>
            <targetReference>dcValidaPlano003</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Argumentar com o cliente sobre as regras da troca de plano.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente ciente da troca de plano?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Plano 003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerValidaPlano003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaPlano004</name>
        <label>Valida Plano 004</label>
        <locationX>2288</locationX>
        <locationY>4460</locationY>
        <connector>
            <targetReference>dcValidaPlano004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Questione se o cliente desconhece a troca de plano.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O cliente desconhece a troca de plano?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Plano 004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlano004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaReincidente001_4</name>
        <label>Valida Reincidente 001.4</label>
        <locationX>1322</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>dcValidaReincidente001_4</targetReference>
        </connector>
        <flowName>DisputeCheckLast45DaysDenied</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique se houve contestação negada nos últimos 45 dias?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Reincidente 001.4</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaReincidente001_4</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaReincidente001_5</name>
        <label>Valida Reincidente 001.5</label>
        <locationX>1619</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>dcValidaReincidente001_5</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique se este valor ficou pendente da ultima contestação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Reincidente 001.5</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaReincidente001_5</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaVenc001</name>
        <label>Valida Venc 001</label>
        <locationX>2772</locationX>
        <locationY>4460</locationY>
        <connector>
            <targetReference>dcHouvealteraodevencimento</targetReference>
        </connector>
        <flowName>DisputeCheckBillingCycle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA VENC 001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaVenc001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfValidaVenc002</name>
        <label>Valida Venc 002</label>
        <locationX>2640</locationX>
        <locationY>4676</locationY>
        <connector>
            <targetReference>Carregar_ATC_FX_FIN_CONT_NEG_VAL_VENC_001</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Argumente com o cliente as regras de alteração de vencimento. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA VENC 002</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Transferir_liga_o</name>
        <label>Transferir ligação</label>
        <locationX>2898</locationX>
        <locationY>5660</locationY>
        <flowName>generalTransferCall</flowName>
        <inputAssignments>
            <name>callActive</name>
            <value>
                <elementReference>callActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinitionCode</name>
            <value>
                <stringValue>ATC-TRANSF-</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>VALIDA_ALCADA_ZERO_001</name>
        <label>VALIDA_ALCADA_ZERO_001</label>
        <locationX>1421</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>dcVALIDA_ALCADA_ZERO_001</targetReference>
        </connector>
        <flowName>DisputeCheckScope</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordGroupName</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA_ALCADA_ZERO_001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearVALIDA_ALCADA_ZERO_001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VALIDA_ALCADA_ZERO_002</name>
        <label>VALIDA_ALCADA_ZERO_002</label>
        <locationX>1658</locationX>
        <locationY>6044</locationY>
        <connector>
            <targetReference>C_pia_1_de_A_Voc_pertence_a_um_grupo_com_escopo_de_contesta_o_E2E</targetReference>
        </connector>
        <flowName>DisputeCheckScope</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordGroupName</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo de contestação E2E</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>VALIDA_ALCADA_ZERO_001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearVALIDA_ALCADA_ZERO_001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ValidaInoperancia001</name>
        <label>Valida Inoperância 001</label>
        <locationX>1658</locationX>
        <locationY>2048</locationY>
        <connector>
            <targetReference>dcValidaInoperancia001</targetReference>
        </connector>
        <flowName>DisputeCheckInvoicesDiscount</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>haveDiscount</name>
            <value>
                <elementReference>lpForEachDusputedItem.HaveDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Inoperância 001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answaerValidaInoperancia001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ValidaInoperancia002</name>
        <label>Valida Inoperância 002</label>
        <locationX>1812</locationX>
        <locationY>2264</locationY>
        <connector>
            <targetReference>dcValidaInoperancia002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Incidentes como: queda de árvores, substituição de postes, falta de energia, enchentes ou queimadas.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique se o cliente alega inoperância por causas naturais ou problemas de terceiros?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Inoperância 002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaInoperancia002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ValidaPlano002</name>
        <label>Valida Plano 002</label>
        <locationX>3421</locationX>
        <locationY>4244</locationY>
        <connector>
            <targetReference>dcValidaPlano002</targetReference>
        </connector>
        <flowName>DisputeCheckClientQuestion</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique qual o questionamento do cliente em relação a fatura?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Plano 002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlano002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ValidaReincidente001_3</name>
        <label>Valida Reincidente 001.3</label>
        <locationX>1658</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>dcValidaReincidencia001_3</targetReference>
        </connector>
        <flowName>DisputeCheckLast45Days</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>lpForEachDusputedItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verificar se houve contestação nos últimos 45 dias, do mesmo item e fatura?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Valida Reincidente 001.3</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaReincidente001_3</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>answaerValidaInoperancia001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2CReincidente001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearNccPrever010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearVALIDA_007</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearVALIDA_ALCADA_ZERO_001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearVALIDA_ALCADA_ZERO_006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearVALIDA_ALCADA_ZERO_007</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearVALIDA_ALCADA_ZERO_008</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearVALIDA_ALCADA_ZERO_009</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaInoperancia002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaNCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaOcorrencia001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaOcorrencia002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaOcorrencia003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlano001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlano002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlano004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaReincidente001_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaReincidente001_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaReincidente001_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaReincidente001_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaReincidente001_5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaVenc001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerValida14</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerValidaDuplicidade001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerValidaPlano003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
 
