force-app/main/default/flows/DisputeSVASingleDonationsMobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcSVAAV001</name>
        <label>M) Qual o motivo da contestação?</label>
        <locationX>2599</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV020</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doações</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV001_SVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV002</targetReference>
            </connector>
            <label>SVA</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV002</name>
        <label>M) Verifique na Aba do PRM se o SVA foi adquirido através de COMPRA CONSCIENTE?</label>
        <locationX>1849</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grGetATC_MVL_FIN_CONT_AJ_SVA_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV002_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV004</name>
        <label>M) Argumente com cliente sobre as regras Compra Consciente e cobrança é devida. Cliente aceita?</label>
        <locationX>745</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV004_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_MVL_FIN_CONT_NEG_SVA_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV005</name>
        <label>Cliente contesta pois informa que não funciona?</label>
        <locationX>1440</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV_Cobradodiferentedocontratado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV005_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV006</name>
        <label>M) Houve ativação do serviço?</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV006_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV007</name>
        <label>M) Oriente o cliente a realizar a ativação. Cliente já tentou realizar a ativação?</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>grGetATC_MVL_FIN_CONT_NEG_SVA_007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV007_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV007</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>sfSVAAV008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV008</name>
        <label>M) Questione ao cliente. Já acionou o fornecedor do serviço contestado?</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>grGetATC_MVL_FIN_CONT_NEG_SVA_008</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV008_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV008</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_MVL_FIN_CONT_AJ_SVA_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV010</name>
        <label>M) Cobrança aconteceu no período de gratuidade ou promocional do serviço contestado?</label>
        <locationX>1650</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV011</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV010_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_MVL_FIN_CONT_AJ_SVA_004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV011</name>
        <label>M) Informe que o término do período promocional encerrou e a cobrança é devida. Cliente Aceita?</label>
        <locationX>1931</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV012</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV011_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV011</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_MVL_FIN_CONT_NEG_SVA_004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV012</name>
        <label>M) Valores cobrados em fatura estão de acordo com a oferta na data da ordem de ativação do serviço?</label>
        <locationX>2228</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>grGetATC_MVL_FIN_CONT_NEG_SVA_005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV012_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV012</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV013</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV013</name>
        <label>M) Explique as características da oferta que ativou o serviço. Cobrança devida. Cliente aceita?</label>
        <locationX>2030</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>sfConcessao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV013_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV013</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_MVL_FIN_CONT_NEG_SVA_006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV020</name>
        <label>M) Informe o cliente que valor cobrado trata-se de uma doação para instituição conforme descrito na fatura. Cliente reconhece a doação?</label>
        <locationX>3350</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV021</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV020_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAV020</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>geGetATC_MVL_FIN_CONT_NEG_DOA_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV_Cobradodiferentedocontratado</name>
        <label>M) Cliente contesta pois informa que está sendo cobrado diferente do contratado?</label>
        <locationX>2170</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>grGetATC_MVL_FIN_CONT_NEG_SVA_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV_Cobradodiferentedocontratado_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSVAAVCobradodiferentedocontratado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV010</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Móvel - SVA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Móvel - SVA Avulso Doações</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>geGetATC_MVL_FIN_CONT_NEG_DOA_001</name>
        <label>ATC-MVL-FIN-CONT-NEG-DOA -001</label>
        <locationX>3218</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_DOA_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-DOA -001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_AJ_SVA_001</name>
        <label>ATC-MVL-FIN-CONT-AJ-SVA-001</label>
        <locationX>2954</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_MVL_FIN_CONT_AJ_SVA_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-SVA-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_AJ_SVA_002</name>
        <label>ATC-MVL-FIN-CONT-AJ-SVA-002</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_AJ_SVA_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-SVA-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_AJ_SVA_004</name>
        <label>ATC-MVL-FIN-CONT-AJ-SVA-004</label>
        <locationX>1370</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_AJ_SVA_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-SVA-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_DOA_AJ_001</name>
        <label>ATC-MVL-FIN-CONT-DOA-AJ-001</label>
        <locationX>3482</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_DOA_AJ_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-DOA-AJ-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_NEG_SVA_001</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-001</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-SVA-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_NEG_SVA_002</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-002</label>
        <locationX>2690</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-SVA-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_NEG_SVA_004</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-004</label>
        <locationX>1634</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-SVA-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_NEG_SVA_005</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-005</label>
        <locationX>2426</locationX>
        <locationY>1970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_005</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-SVA-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_NEG_SVA_006</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-006</label>
        <locationX>1898</locationX>
        <locationY>2186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_006</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-SVA-006</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_NEG_SVA_007</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-007</label>
        <locationX>1106</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_007</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-SVA-007</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_MVL_FIN_CONT_NEG_SVA_008</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-008</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_008</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-SVA-008</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDisputedItemById</name>
        <label>Carregar item contestado</label>
        <locationX>2599</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfSVAAV001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2473</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDisputedItemById</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfATC_MVL_FIN_CONT_AJ_SVA_001</name>
        <label>ATC-MVL-FIN-CONT-AJ-SVA-001</label>
        <locationX>2954</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_AJ_SVA_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcessao</name>
        <label>Concessão</label>
        <locationX>2162</locationX>
        <locationY>2186</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-TRANSF-SVA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AC-SVA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-SVA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-RET-SVA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-REINC-SVA-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV001</name>
        <label>SVAAV001</label>
        <locationX>2599</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcSVAAV001</targetReference>
        </connector>
        <flowName>DisputeWhatReason</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Qual o motivo da contestação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV002</name>
        <label>SVAAV002</label>
        <locationX>1849</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcSVAAV002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na tela &quot;PRM&quot; presente no Salesforce, se existe algum registro que comprove que o SVA foi adquirido através de COMPRA CONSCIENTE.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique na Aba do PRM se o SVA foi adquirido através de COMPRA CONSCIENTE?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV004</name>
        <label>SVAAV004</label>
        <locationX>745</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcSVAAV004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique ao cliente que a cobrança é devida pois segue as regras de Compra Consciente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Argumente com cliente sobre as regras Compra Consciente e cobrança é devida. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV005</name>
        <label>SVAAV005</label>
        <locationX>1440</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcSVAAV005</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente contesta pois informa que não funciona?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV006</name>
        <label>SVAAV006</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcSVAAV006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Houve ativação do serviço?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV007</name>
        <label>SVAAV007</label>
        <locationX>974</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcSVAAV007</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Oriente o cliente a realizar a ativação. Cliente já tentou realizar a ativação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV007</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV007</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV008</name>
        <label>SVAAV008</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcSVAAV008</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Questione ao cliente. Já acionou o fornecedor do serviço contestado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV008</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV008</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV010</name>
        <label>SVAAV010</label>
        <locationX>1650</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcSVAAV010</targetReference>
        </connector>
        <flowName>DisputeCheckThereIsDiscountInCustomerLine</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na tela &quot;Histórico de Interações do Next&quot; presente no fluxo Salesforce, se existe algum registro de interação na data mencionada pelo cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cobrança aconteceu no período de gratuidade ou promocional do serviço contestado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV010</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV010</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV011</name>
        <label>SVAAV011</label>
        <locationX>1931</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>dcSVAAV011</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique ao cliente que a cobrança é devida, pois ocorreu o término do seu período promocional.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe que o término do período promocional encerrou e a cobrança é devida. Cliente Aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV011</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV011</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV012</name>
        <label>SVAAV012</label>
        <locationX>2228</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>dcSVAAV012</targetReference>
        </connector>
        <flowName>DisputeCheckThereIsDiscountInCustomerLine</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na tela &quot;Histórico de Interações do Next&quot; presente no fluxo Salesforce, se existe algum registro de interação na data mencionada pelo cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Valores cobrados em fatura estão de acordo com a oferta na data da ordem de ativação do serviço?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV012</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV012</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV013</name>
        <label>SVAAV013</label>
        <locationX>2030</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>dcSVAAV013</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique detalhadamente ao cliente quais são as características da oferta que ativou o serviço.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Explique as características da oferta que ativou o serviço. Cobrança devida. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV013</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV013</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV020</name>
        <label>SVAAV020</label>
        <locationX>3350</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcSVAAV020</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Esclareça ao cliente que a cobrança se refere a doação para instituição e o questione se ele reconhece a doação feita.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe o cliente que valor cobrado trata-se de uma doação para instituição conforme descrito na fatura. Cliente reconhece a doação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV020</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV020</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV021</name>
        <label>SVAAV021</label>
        <locationX>3482</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>grGetATC_MVL_FIN_CONT_DOA_AJ_001</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe que fatura será contestada e que deve entrar em contato com a instituição para cancelar doações que possam estar PROGRAMADAS para os próximos meses. Entendido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV021</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAV021</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV_Cobradodiferentedocontratado</name>
        <label>SVAAV-Cobradodiferentedocontratado</label>
        <locationX>2170</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcSVAAV_Cobradodiferentedocontratado</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente contesta pois informa que está sendo cobrado diferente do contratado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV-Cobradodiferentedocontratado</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSVAAVCobradodiferentedocontratado</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_AJ_SVA_002</name>
        <label>ATC-MVL-FIN-CONT-AJ-SVA-002</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_AJ_SVA_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_AJ_SVA_004</name>
        <label>ATC-MVL-FIN-CONT-AJ-SVA-004</label>
        <locationX>1370</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_AJ_SVA_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_DOA_AJ_001</name>
        <label>ATC-MVL-FIN-CONT-DOA-AJ-001</label>
        <locationX>3482</locationX>
        <locationY>890</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_DOA_AJ_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_DOA_001</name>
        <label>ATC-MVL-FIN-CONT-NEG-DOA -001</label>
        <locationX>3218</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>geGetATC_MVL_FIN_CONT_NEG_DOA_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_001</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-001</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_NEG_SVA_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_002</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-002</label>
        <locationX>2690</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_NEG_SVA_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_004</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-004</label>
        <locationX>1634</locationX>
        <locationY>1862</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_NEG_SVA_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_005</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-005</label>
        <locationX>2426</locationX>
        <locationY>2078</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_NEG_SVA_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_006</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-006</label>
        <locationX>1898</locationX>
        <locationY>2294</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_NEG_SVA_006</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_007</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-007</label>
        <locationX>1106</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_NEG_SVA_007</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_MVL_FIN_CONT_NEG_SVA_008</name>
        <label>ATC-MVL-FIN-CONT-NEG-SVA-008</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_MVL_FIN_CONT_NEG_SVA_008</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearSVAAV001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV007</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV008</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV011</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV012</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV013</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV020</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAV021</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSVAAVCobradodiferentedocontratado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
