force-app/main/default/flows/DisputeConvergentFixedTelevision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcTV_001</name>
        <label>M) Qual motivo para contestação de TV?</label>
        <locationX>2160</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dcTV_001_COBRANCA_DUPLICADA_DE_ITEM_OU_PLANO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobrança duplicada de item ou plano</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_002</targetReference>
            </connector>
            <label>Cobrança duplicada de item ou plano</label>
        </rules>
        <rules>
            <name>dcTV_001_N_CONSEGUIU_ASSISTIR_CONTEUDO_CONTRATADO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não conseguiu assistir ao conteúdo contratado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_003</targetReference>
            </connector>
            <label>Não conseguiu assistir ao conteúdo contratado</label>
        </rules>
        <rules>
            <name>dcTV_001_N_CONSEGUIU_UTILIZAR_PLANO_DE_TV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não conseguiu utilizar plano de TV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_005</targetReference>
            </connector>
            <label>Não conseguiu utilizar plano de TV</label>
        </rules>
        <rules>
            <name>dcTV_001_CLIENTE_ALEGA_QUE_N_COMPROU_ALUGOU_ITEM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente alega que não comprou/alugou item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_008</targetReference>
            </connector>
            <label>Cliente alega que não comprou/alugou item</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_002</name>
        <label>M) As cobranças duplicadas são do mesmo plano/item e no mesmo período?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grGetATC_FX_FIN_CONT_NEG_TV_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_AJ_TV_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_003</name>
        <label>M) Existe reprodução do elemento contestado no Vivo Play?</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grGetATC_FX_FIN_CONT_AJ_TV_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_004</name>
        <label>M) Informe que identificamos o consumo do item contestado. Contestação improcedente. Cliente aceita?</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfDisputeFixedConvergentConcession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_NEG_TV_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_005</name>
        <label>M) Existe reprodução do elemento contestado no Vivo Play?</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfTV_006</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_005Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_006</name>
        <label>A) Existe reclamação de problema técnico de TV durante período da fatura contestada?</label>
        <locationX>2030</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>grGetATC_FX_FIN_CONT_NEG_TV_003</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_AJ_TV_003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_007</name>
        <label>M) Informe que identificamos o consumo do item contestado. Contestação improcedente. Cliente aceita?</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfConcession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_007Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_007</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_NEG_TV_004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_008</name>
        <label>M) Questione ao Cliente se existem outros usuários da TV que possam ter realizado a compra?</label>
        <locationX>3380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfTV_009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_008Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_008</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_015</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_010</name>
        <label>M) Cliente recebeu e-mail ou SMS de compra?</label>
        <locationX>3380</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>sfTV_011</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_010Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_NEG_TV_006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_011</name>
        <label>M) Solicite ao Cliente que verbalize o e-mail ou telefone. Dados são o mesmo de cadastro?</label>
        <locationX>3677</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>sfTV_012</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_011Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_011</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_013</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_012</name>
        <label>M) Solicite ao Cliente para verificar no email/telefone cadastrado. Cliente recebeu aviso de compra?</label>
        <locationX>3831</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>sfTV_013</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_012Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_012</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_NEG_TV_007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_013</name>
        <label>M) Existe registro de compra consciente do elemento contestado?</label>
        <locationX>3677</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>grGetATC_FX_FIN_CONT_AJ_TV_004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_013Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_013</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_014</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_014</name>
        <label>M) Informe Cliente que identificamos compra consciente. Contestação improcedente. Cliente aceita?</label>
        <locationX>3479</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>sfTV_017</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_014Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_014</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_NEG_TV_008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_015</name>
        <label>M) Oriente o Cliente a verificar se senha é a padrão do decoder. Senha é a padrão?</label>
        <locationX>3102</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfTV_009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_015Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_015</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_016</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_016</name>
        <label>M) Informe que a cobrança é devida e fale sobre regras de segurança para compra na TV. Cliente aceita?</label>
        <locationX>2723</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfTV_017</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_016Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_016</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_NEG_TV_005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_017</name>
        <label>M) Existe reprodução do elemento contestado no Vivo Play?</label>
        <locationX>3020</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>grGetATC_FX_FIN_CONT_AJ_TV_005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_017Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_017</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_018</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcTV_018</name>
        <label>M) Informe que identificamos o consumo do item contestado. Contestação improcedente. Cliente aceita?</label>
        <locationX>2822</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>sfConvergentConcession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcTV_018Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearTV_018</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_NEG_TV_009</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - TV Fixa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Planos Fixa - TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_AJ_TV_001</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-001</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItemATC_FX_FIN_CONT_AJ_TV_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-TV-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_AJ_TV_002</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-002</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_TV_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-TV-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_AJ_TV_003</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-003</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_TV_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-TV-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_AJ_TV_004</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-004</label>
        <locationX>3875</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_TV_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-TV-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_AJ_TV_005</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-005</label>
        <locationX>3218</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_AJ_TV_005</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-TV-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_TV_001</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-001</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_TV_002</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-002</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_TV_003</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-003</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_TV_004</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-004</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_TV_005</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-005</label>
        <locationX>2426</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_005</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_TV_006</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-006</label>
        <locationX>3083</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_006</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-006</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_TV_007</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-007</label>
        <locationX>3699</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_007</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-007</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_TV_008</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-008</label>
        <locationX>3347</locationX>
        <locationY>3962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_008</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-008</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_TV_009</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-009</label>
        <locationX>2690</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_TV_009</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-009</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDisputedItemById</name>
        <label>Carregar item contestado</label>
        <locationX>2160</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfTV_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2034</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDisputedItemById</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfATC_FX_FIN_CONT_AJ_TV_005</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-005</label>
        <locationX>3218</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_AJ_TV_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_TV_009</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-009</label>
        <locationX>2690</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_TV_009</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcession</name>
        <label>Concessão</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConvergentConcession</name>
        <label>Concessão</label>
        <locationX>2954</locationX>
        <locationY>1538</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FXL-FIN-CONT-TRANSF-TV-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-TV-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-012</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-TV-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-TV-003</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedConvergentConcession</name>
        <label>Concessão</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FXL-FIN-CONT-TRANSF-TV-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-TV-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-TV-011</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-TV-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-TV-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_001</name>
        <label>TV-001</label>
        <locationX>2160</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcTV_001</targetReference>
        </connector>
        <flowName>DisputeWhatIsTheReasonForContestingTV</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Selecione o motivo da contestação e siga o fluxo conforme motivo informado pelo cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Qual motivo para contestação de TV?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_002</name>
        <label>TV-002</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcTV_002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura do cliente as cobranças duplicadas são do mesmo plano/item e no mesmo período.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>As cobranças duplicadas são do mesmo plano/item e no mesmo período?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_003</name>
        <label>TV-003</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcTV_003</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique se o item comprado foi reproduzido. Consulta é feita via Vivo Play.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe reprodução do elemento contestado no Vivo Play?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_004</name>
        <label>TV-004</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcTV_004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe que a cobrança é devida e explique sobre a identificação da reprodução (consumo) do item contestado.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe que identificamos o consumo do item contestado. Contestação improcedente. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_005</name>
        <label>TV-005</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcTV_005</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique se o item comprado foi reproduzido. Consulta é feita via Vivo Play.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe reprodução do elemento contestado no Vivo Play?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_006</name>
        <label>TV-006</label>
        <locationX>2030</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcTV_006</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceTvRepairRequest</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Ação automática que valida se existe reclamação recente sobre funcionamento dos serviços de TV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe reclamação de problema técnico de TV durante período da fatura contestada?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_007</name>
        <label>TV-007</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcTV_007</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe que a cobrança é devida e explique sobre a identificação da reprodução (consumo) do item contestado.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe que identificamos o consumo do item contestado. Contestação improcedente. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-007</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_007</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_008</name>
        <label>TV-008</label>
        <locationX>3380</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcTV_008</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Questione o cliente se outros usuários da TV, podem ter realizado a compra.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Questione ao Cliente se existem outros usuários da TV que possam ter realizado a compra?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-008</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_008</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_009</name>
        <label>TV-009</label>
        <locationX>3380</locationX>
        <locationY>2282</locationY>
        <connector>
            <targetReference>sfTV_010</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Oriente o cliente para verificar se recebeu notificação da compra no e-mail ou SMS.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Oriente o Cliente que toda compra de serviços pela TV enviamos e-mail ou SMS. Cliente orientado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-009</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_009</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_010</name>
        <label>TV-010</label>
        <locationX>3380</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>dcTV_010</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Oriente o Cliente como localizar o comprovante de compra no e-mail ou telefone cadastrado.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente recebeu e-mail ou SMS de compra? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-010</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_010</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_011</name>
        <label>TV-011</label>
        <locationX>3677</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>dcTV_011</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Com o cliente posicionado verifique se e-mail ou telefone que Cliente procurou notificação de compra é o mesmo cadastrado.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Solicite ao Cliente que verbalize o e-mail ou telefone. Dados são o mesmo de cadastro? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-011</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_011</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_012</name>
        <label>TV-012</label>
        <locationX>3831</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>dcTV_012</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Oriente o Cliente como localizar o comprovante de compra no e-mail ou telefone cadastrado.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Solicite ao Cliente para verificar no email/telefone cadastrado. Cliente recebeu aviso de compra?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-012</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_012</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_013</name>
        <label>TV-013</label>
        <locationX>3677</locationX>
        <locationY>3530</locationY>
        <connector>
            <targetReference>dcTV_013</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique se há registro de compra consciente do item. Consulta é feita via Vivo Play.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe registro de compra consciente do elemento contestado? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-013</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_013</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_014</name>
        <label>TV-014</label>
        <locationX>3479</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>dcTV_014</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe o cliente sobre identificação da compra consciente em sistema e que a cobrança é devida.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe Cliente que identificamos compra consciente. Contestação improcedente. Cliente aceita? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-014</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_014</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_015</name>
        <label>TV-015</label>
        <locationX>3102</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcTV_015</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Acesse a informação pela IAjuda e oriente o Cliente a verificar se senha é a padrão do decoder.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Oriente o Cliente a verificar se senha é a padrão do decoder. Senha é a padrão? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-015</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_015</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_016</name>
        <label>TV-016</label>
        <locationX>2723</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcTV_016</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe Cliente sobre as regras de compra e como garantir segurança trocando a senha.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe que a cobrança é devida e fale sobre regras de segurança para compra na TV. Cliente aceita? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-016</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_016</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_017</name>
        <label>TV-017</label>
        <locationX>3020</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcTV_017</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique se o item comprado foi reproduzido. Consulta é feita via Vivo Play.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe reprodução do elemento contestado no Vivo Play? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-017</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_017</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_018</name>
        <label>TV-018</label>
        <locationX>2822</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcTV_018</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe que a cobrança é devida e explique sobre a identificação da reprodução (consumo) do item contestado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe que identificamos o consumo do item contestado. Contestação improcedente. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>TV-018</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearTV_018</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_TV_002</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-002</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_AJ_TV_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_TV_003</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-003</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_AJ_TV_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_TV_004</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-004</label>
        <locationX>3875</locationX>
        <locationY>3854</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_AJ_TV_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_001</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-001</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_TV_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_002</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-002</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_TV_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_003</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-003</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_TV_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_004</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-004</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_TV_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_005</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-005</label>
        <locationX>2426</locationX>
        <locationY>1214</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_TV_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_006</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-006</label>
        <locationX>3083</locationX>
        <locationY>2714</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_TV_006</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_007</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-007</label>
        <locationX>3699</locationX>
        <locationY>3146</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_TV_007</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_TV_008</name>
        <label>ATC-FX-FIN-CONT-NEG-TV-008</label>
        <locationX>3347</locationX>
        <locationY>4070</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_TV_008</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItemATC_FX_FIN_CONT_AJ_TV_001</name>
        <label>ATC-FX-FIN-CONT-AJ-TV-001</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_AJ_TV_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearTV_001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_007</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_008</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_009</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_011</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_012</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_013</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_014</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_015</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_016</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_017</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearTV_018</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
