force-app/main/default/flows/DisputeFixedConvergentSVA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcDOACAO001</name>
        <label>M) Informe o cliente que valor cobrado trata-se de uma doação para instituição conforme descrito na fatura. Cliente reconhece a doação?</label>
        <locationX>5726</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfDOACAO002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dc001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerDOACAO001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDOACAO003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAA001</name>
        <label>M) O item selecionado é SVA ou doações?</label>
        <locationX>3521</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfDOACAO001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doações</defaultConnectorLabel>
        <rules>
            <name>dcSVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAA001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV002</targetReference>
            </connector>
            <label>SVA</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV002</name>
        <label>M) SVA contestado pertence ao Combo Digital?</label>
        <locationX>1316</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV003</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dc002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeFixedDuplicatedChargeBundle</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV003</name>
        <label>M) Qual o motivo da contestação de SVA?</label>
        <locationX>2582</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV017</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cobrança Duplicada</defaultConnectorLabel>
        <rules>
            <name>dcNR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não reconhece a compra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV004</targetReference>
            </connector>
            <label>Não reconhece a compra</label>
        </rules>
        <rules>
            <name>dcNF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não Funciona/Não utilizou</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV006</targetReference>
            </connector>
            <label>Não Funciona/Não utilizou</label>
        </rules>
        <rules>
            <name>dcVD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valor cobrado diferente do negociado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV010</targetReference>
            </connector>
            <label>Valor cobrado diferente do negociado</label>
        </rules>
        <rules>
            <name>dcCNR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelamento não realizado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV014</targetReference>
            </connector>
            <label>Cancelamento não realizado</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV004</name>
        <label>M) Verifique no PRM se o SVA foi adquirido através de COMPRA CONSCIENTE?</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_AJ_SVA_AV_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV006</name>
        <label>M) Houve ativação do serviço?</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV007</name>
        <label>M) Oriente o cliente a realizar a ativação. Cliente já tentou realizar a ativação?</label>
        <locationX>1502</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SVA_AV_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV007Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV007</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>sfSVAAV008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV008</name>
        <label>M) Questione ao cliente. Já acionou o fornecedor do serviço contestado?</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SVA_AV_003</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV008Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV008</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_SVA_AV_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV010</name>
        <label>M) Cobrança aconteceu no período de gratuidade ou promocional do serviço contestado?</label>
        <locationX>2178</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV011</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV010Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_SVA_AV_003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV011</name>
        <label>M) Informe que o término do período promocional encerrou e a cobrança é devida. Cliente Aceita?</label>
        <locationX>2459</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV012</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV011Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV011</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_SVA_AV_004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV012</name>
        <label>M) Valores cobrados em fatura estão de acordo com a oferta na data da ordem de ativação do serviço?</label>
        <locationX>2756</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_AJ_SVA_AV_004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV012Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV012</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV013</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV013</name>
        <label>M) Explique as características da oferta que ativou o serviço. Cobrança devida. Cliente aceita?</label>
        <locationX>2558</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>ConcessionSVAAV013</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV013Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV013</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_SVA_AV_005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV014</name>
        <label>M) SVA contestado está cancelado?</label>
        <locationX>3416</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV015</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV014Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV014</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_SVA_AV_007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV015</name>
        <label>M) Houve QUALQUER interação ou protocolo na data que o cliente informa que solicitou cancelamento?</label>
        <locationX>3614</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SVA_AV_015</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV015Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV015</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConcessionSVAAV015</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV017</name>
        <label>M) Verifique: SVA contestado possui cobrança SEMANAL?</label>
        <locationX>4719</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV018</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV017Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV017</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV019</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV018</name>
        <label>M) Houve cancelamento e reativação do mesmo SVA no mesmo ciclo de faturamento contestado?</label>
        <locationX>5198</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SVA_010</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV018Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV018</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_SVA_010</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV019</name>
        <label>M) Informar que o SVA é contratado semanalmente, podendo haver mais de uma cobrança na fatura  de acordo com a quantidade de contratações dentro do Ciclo. Cliente aceita?</label>
        <locationX>4241</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV021</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV019Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV019</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_SVA_011</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV021</name>
        <label>M) Cliente reconhece as contratações realizadas dentro do ciclo de faturamento contestado?</label>
        <locationX>4472</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>sfSVAAV022</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV021Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV021</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_SVA_012</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcSVAAV022</name>
        <label>M) Verifique no PRM se o SVA foi adquirido através de COMPRA CONSCIENTE?</label>
        <locationX>4670</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_AJ_SVA_011</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcSVAAV022Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerSVAAV022</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSVAAV022_1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - SVA Avulso Doação Fixa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - SVA Avulso Doação Fixa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SVA_010</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SVA-010</label>
        <locationX>5066</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_SVA_010</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SVA-010</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SVA_011</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SVA-011</label>
        <locationX>4802</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_SVA_011</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SVA-011</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SVA_012</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SVA-012</label>
        <locationX>5858</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_SVA_012</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SVA-012</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SVA_AV_001</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SVA-AV-001</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_SVA_AV_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SVA-AV-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SVA_AV_002</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SVA-AV-002</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_SVA_AV_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SVA-AV-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SVA_AV_003</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SVA-AV-003</label>
        <locationX>1898</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_SVA_AV_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SVA-AV-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SVA_AV_004</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SVA-AV-004</label>
        <locationX>2954</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_SVA_AV_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SVA-AV-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_010</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-010</label>
        <locationX>5330</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_010</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-010</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_011</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-011</label>
        <locationX>4010</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_011</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-011</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_012</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-012</label>
        <locationX>4274</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_012</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-012</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_013</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-013</label>
        <locationX>4538</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_013</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-013</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_014</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-014</label>
        <locationX>5594</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_014</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-014</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_AV_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-AV-001</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_AV_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-AV-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_AV_002</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-AV-002</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_AV_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-AV-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_AV_003</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-AV-003</label>
        <locationX>1106</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_AV_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-AV-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_AV_004</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-AV-004</label>
        <locationX>2162</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_AV_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-AV-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_AV_005</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-AV-005</label>
        <locationX>2426</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_AV_005</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-AV-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_AV_007</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-AV-007</label>
        <locationX>3218</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_AV_007</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-AV-007</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SVA_AV_015</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SVA-AV-015</label>
        <locationX>3746</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_SVA_AV_015</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-AV-015</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDisputedItem</name>
        <label>Busca o Item Contestado</label>
        <locationX>3521</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfSVAA001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>3395</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_SVA_010</name>
        <label>ATC-FX-FIN-CONT-AJ-SVA-010</label>
        <locationX>5066</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SVA_010</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_SVA_011</name>
        <label>ATC-FX-FIN-CONT-AJ-SVA-011</label>
        <locationX>4802</locationX>
        <locationY>1862</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SVA_011</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_SVA_012</name>
        <label>ATC-FX-FIN-CONT-AJ-SVA-012</label>
        <locationX>5858</locationX>
        <locationY>890</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SVA_012</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_SVA_AV_001</name>
        <label>ATC-FX-FIN-CONT-AJ-SVA-AV-001</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SVA_AV_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_SVA_AV_002</name>
        <label>ATC-FX-FIN-CONT-AJ-SVA-AV-002</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SVA_AV_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_SVA_AV_003</name>
        <label>ATC-FX-FIN-CONT-AJ-SVA-AV-003</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SVA_AV_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_SVA_AV_004</name>
        <label>ATC-FX-FIN-CONT-AJ-SVA-AV-004</label>
        <locationX>2954</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SVA_AV_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_010</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-010</label>
        <locationX>5330</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_010</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_011</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-011</label>
        <locationX>4010</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_011</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_012</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-012</label>
        <locationX>4274</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_012</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_013</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-013</label>
        <locationX>4538</locationX>
        <locationY>1970</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_013</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_014</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-014</label>
        <locationX>5594</locationX>
        <locationY>890</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_014</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_AV_001</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-AV-001</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_AV_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_AV_002</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-AV-002</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_AV_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_AV_003</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-AV-003</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_AV_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_AV_004</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-AV-004</label>
        <locationX>2162</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_AV_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_AV_005</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-AV-005</label>
        <locationX>2426</locationX>
        <locationY>1862</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_AV_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_AV_007</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-AV-007</label>
        <locationX>3218</locationX>
        <locationY>1214</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_AV_007</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_SVA_AV_015</name>
        <label>ATC-FX-FIN-CONT-NEG-SVA-AV-015</label>
        <locationX>3746</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SVA_AV_015</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ConcessionSVAAV013</name>
        <label>Concessão</label>
        <locationX>2690</locationX>
        <locationY>1754</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-SVA-AV-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-SVA-AV-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-AV-006</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-SVA-AV-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-SVA-AV-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ConcessionSVAAV015</name>
        <label>Concessão</label>
        <locationX>3482</locationX>
        <locationY>1322</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-SVA-009</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-SVA-009</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SVA-009</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-SVA-009</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-SVA-009</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedDuplicatedChargeBundle</name>
        <label>Contestação - Fixa/Convergente - Cobrança Duplicada Bundle</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>DisputeFixedDuplicatedChargeBundle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDOACAO001</name>
        <label>DOACAO001</label>
        <locationX>5726</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcDOACAO001</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Esclareça ao cliente que a cobrança se refere a doação para instituição e o questione se ele reconhece a doação feita.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe o cliente que valor cobrado trata-se de uma doação para instituição conforme descrito na fatura. Cliente reconhece a doação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DOACAO001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerDOACAO001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDOACAO002</name>
        <label>DOACAO002</label>
        <locationX>5858</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_AJ_SVA_012</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe que fatura será contestada e que deve entrar em contato com a instituição para cancelar doações que possam estar PROGRAMADAS para os próximos meses. Entendido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DOACAO002</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfDOACAO003</name>
        <label>DOACAO003</label>
        <locationX>5594</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SVA_014</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Esclareça ao cliente que a cobrança se refere a doação para instituição.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe sobre característica de doação e os dados da instituição conforme o HINT. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DOACAO003</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfSVAA001</name>
        <label>SVAA001</label>
        <locationX>3521</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcSVAA001</targetReference>
        </connector>
        <flowName>DisputeCheckSVAorDonation</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>M) O item selecionado é SVA ou doações?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAA001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAA001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV002</name>
        <label>SVAAV002</label>
        <locationX>1316</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcSVAAV002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>SVA contestado pertence ao Combo Digital? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV003</name>
        <label>SVAAV003</label>
        <locationX>2582</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcSVAAV003</targetReference>
        </connector>
        <flowName>DisputeCheckSVAReason</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>M) Qual o motivo da contestação de SVA?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV004</name>
        <label>SVAAV004</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcSVAAV004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na aba de PRM do Salesforce a compra consciente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique no PRM se o SVA foi adquirido através de COMPRA CONSCIENTE?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV005</name>
        <label>SVAAV005</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SVA_AV_001</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique ao cliente que a cobrança é devida pois segue as regras de Compra Consciente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Argumente com cliente sobre as regras Compra Consciente e cobrança é devida. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV005</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfSVAAV006</name>
        <label>SVAAV006</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcSVAAV006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Houve ativação do serviço?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV007</name>
        <label>SVAAV007</label>
        <locationX>1502</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcSVAAV007</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Oriente o cliente a realizar a ativação. Cliente já tentou realizar a ativação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV007</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV007</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV008</name>
        <label>SVAAV008</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcSVAAV008</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Questione ao cliente. Já acionou o fornecedor do serviço contestado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV008</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV008</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV010</name>
        <label>SVAAV010</label>
        <locationX>2178</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcSVAAV010</targetReference>
        </connector>
        <flowName>DisputeCheckPromotionalPeriod</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas interações de Ordens do Vivo Next, disponível no fluxo Salesforce, se existe ordem de cancelamento para a instância selecionada.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cobrança aconteceu no período de gratuidade ou promocional do serviço contestado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV010</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV010</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV011</name>
        <label>SVAAV011</label>
        <locationX>2459</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcSVAAV011</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique ao cliente que a cobrança é devida, pois ocorreu o término do seu período promocional.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe que o término do período promocional encerrou e a cobrança é devida. Cliente Aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV011</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV011</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV012</name>
        <label>SVAAV012</label>
        <locationX>2756</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcSVAAV012</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas interações de Ordens do Vivo Next, disponível no fluxo Salesforce, se existe ordem de cancelamento para a instância selecionada.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Valores cobrados em fatura estão de acordo com a oferta na data da ordem de ativação do serviço?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV012</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV012</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV013</name>
        <label>SVAAV013</label>
        <locationX>2558</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>dcSVAAV013</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique detalhadamente ao cliente quais são as características da oferta que ativou o serviço.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Explique as características da oferta que ativou o serviço. Cobrança devida. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV013</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV013</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV014</name>
        <label>SVAAV014</label>
        <locationX>3416</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcSVAAV014</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>SVA contestado está cancelado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV014</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV014</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV015</name>
        <label>SVAAV015</label>
        <locationX>3614</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcSVAAV015</targetReference>
        </connector>
        <flowName>DisputeCheckThereIsDiscountInCustomerLine</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na tela &quot;Histórico de Interações do Next&quot; presente no fluxo Salesforce, se existe algum registro de interação na data mencionada pelo cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Houve QUALQUER interação ou protocolo na data que o cliente informa que solicitou cancelamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV015</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV015</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV017</name>
        <label>SVAAV017</label>
        <locationX>4719</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcSVAAV017</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique no detalhamento da fatura contestada se o SVA possui cobrança semanal.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique: SVA contestado possui cobrança SEMANAL?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV017</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV017</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV018</name>
        <label>SVAAV018</label>
        <locationX>5198</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcSVAAV018</targetReference>
        </connector>
        <flowName>DisputeCheckThereIsDiscountInCustomerLine</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na tela &quot;Histórico de Interações do Next&quot; presente no fluxo Salesforce, se existe algum registro de interação na data mencionada pelo cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Houve cancelamento e reativação do mesmo SVA no mesmo ciclo de faturamento contestado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV018</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV018</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV019</name>
        <label>SVAAV019</label>
        <locationX>4241</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcSVAAV019</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informar que o SVA é contratado semanalmente, podendo haver mais de uma cobrança na fatura  de acordo com a quantidade de contratações dentro do Ciclo. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV019</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV019</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV021</name>
        <label>SVAAV021</label>
        <locationX>4472</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcSVAAV021</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Questione ao cliente se ele reconhece as contratações realizadas dentro do ciclo de faturamento contestado.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente reconhece as contratações realizadas dentro do ciclo de faturamento contestado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV021</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV021</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV022</name>
        <label>SVAAV022</label>
        <locationX>4670</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>dcSVAAV022</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique no PRM se o SVA foi adquirido através de COMPRA CONSCIENTE?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV022</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerSVAAV022</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSVAAV022_1</name>
        <label>SVAAV022.1</label>
        <locationX>4538</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SVA_013</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique ao cliente que a cobrança é devida pois segue as regras de Compra Consciente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Argumente com cliente sobre as regras Compra Consciente e cobrança é devida. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SVAAV022.1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>answerDOACAO001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAA001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV007</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV008</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV011</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV012</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV013</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV014</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV015</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV016</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV017</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV018</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV019</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV021</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerSVAAV022</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
