force-app/main/default/flows/DisputeFixedDuplicatedChargeBundle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcBundle001Answear</name>
        <label>M) Cliente teve cobrança duplicada de Bundle para o mesmo ciclo de faturamento?</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfDisputeFixedConvergentConcession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente contesta por outro motivo</defaultConnectorLabel>
        <rules>
            <name>answearBundle001HadDuplicatedChargeBundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearBundle001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente teve cobrança duplicada de Bundle para o mesmo ciclo de faturamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeCheckExistenceChangePlanOrderDuringBillingCycle</targetReference>
            </connector>
            <label>Cliente teve cobrança duplicada de Bundle para o mesmo ciclo de faturamento</label>
        </rules>
        <rules>
            <name>answearBundle001CustomerHasCanceledPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearBundle001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente contesta pois informa que cancelou o plano</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeCheckExistenceChangePlanOrderWithNoBundle</targetReference>
            </connector>
            <label>Cliente contesta pois informa que cancelou o plano</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcBundle002Answear</name>
        <label>M) Houve troca de plano no mesmo ciclo de faturamento?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grServiceDefinitionNoBundle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearBundle002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearBundle002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grServiceDefinitionRootCause</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcBundle003Answear</name>
        <label>M) Verifique se houve uma alteração de plano sem Bundle?</label>
        <locationX>1172</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfDisputeCheckThereIsDiscountInCustomerLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearBundle003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearBundle003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeCheckIsTheCancelOrderAfterBillingCycle</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcBundle004Answear</name>
        <label>M) Houve QUALQUER interação na data que o cliente informa que solicitou cancelamento?</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>DisputeFixedConvergentConcessionBundle004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcBundle004AnswearYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearBundle004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grServiceDefinitionInteraction</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcBundle005Answear</name>
        <label>A) Data de criação da ordem de cancelamento é anterior ou dentro de período de faturamento?</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>grServiceDefinitionAfterCycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Depois do período de faturamento</defaultConnectorLabel>
        <rules>
            <name>dcBundle005AnswearIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearBundle005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dentro do período de faturamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grServiceDefinitionInCycle</targetReference>
            </connector>
            <label>Dentro do período de faturamento</label>
        </rules>
        <rules>
            <name>dcBundle005AnswearBefore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearBundle005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Antes do período de faturamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grServiceDefinitionBeforeCycle</targetReference>
            </connector>
            <label>Antes do período de faturamento</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DisputeFixedDuplicatedChargeBundle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Cobrança Duplicada Bundle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grDisputedItem</name>
        <label>Carregar DisputedItem</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeFixedCheckDuplicatedChargeBundle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionAfterCycle</name>
        <label>Carregar definição de atendimento</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemAfterCycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-BUN-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionBeforeCycle</name>
        <label>Carregar definição de atendimento</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemBeforeCycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-BUN-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionInCycle</name>
        <label>Carregar definição de atendimento</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemInCycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-BUN-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionInteraction</name>
        <label>Carregar definição de atendimento</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemInteraction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-BUN-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionNoBundle</name>
        <label>Carregar definição de atendimento</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemNoBundle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-BUN-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionRootCause</name>
        <label>Carregar definição de atendimento</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemRootCause</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-BUN-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DisputeFixedConvergentConcessionBundle004</name>
        <label>Concessão</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-TRANSF-BUN-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AC-BUN-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-BUN-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-RET-BUN-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-REINC-BUN-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckExistenceChangePlanOrderDuringBillingCycle</name>
        <label>Bundle002</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcBundle002Answear</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceChangePlanOrderDuringBillingCycle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura se houve troca de plano no mesmo ciclo de faturamento.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Houve troca de plano no mesmo ciclo de faturamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Bundle002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearBundle002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckExistenceChangePlanOrderWithNoBundle</name>
        <label>Bundle003</label>
        <locationX>1172</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcBundle003Answear</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceChangePlanOrderWithNoBundle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura se houve uma alteração de plano sem Bundle.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique se houve uma alteração de plano sem Bundle?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Bundle003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearBundle003</assignToReference>
            <name>answear</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>bundle003SelectedOrder</assignToReference>
            <name>selectedOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckIsTheCancelOrderAfterBillingCycle</name>
        <label>Bundle005</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcBundle005Answear</targetReference>
        </connector>
        <flowName>DisputeCheckIsTheCancelOrderAfterBillingCycle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>bundle003SelectedOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Data de criação da ordem de cancelamento é anterior ou dentro de período de faturamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Bundle005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearBundle005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckThereIsDiscountInCustomerLine</name>
        <label>Bundle004</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcBundle004Answear</targetReference>
        </connector>
        <flowName>DisputeCheckThereIsDiscountInCustomerLine</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na tela &quot;Histórico de Interações do Next&quot; presente no fluxo Salesforce, se existe algum registro de interação na data mencionada pelo cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Houve QUALQUER interação na data que o cliente informa que solicitou cancelamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Bundle004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearBundle004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedCheckDuplicatedChargeBundle</name>
        <label>Bundle001</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcBundle001Answear</targetReference>
        </connector>
        <flowName>DisputeFixedCheckDuplicatedChargeBundle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura se o cliente teve cobrança duplicada de Bundle para o mesmo ciclo de faturamento.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente teve cobrança duplicada de Bundle para o mesmo ciclo de faturamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Bundle001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearBundle001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedConvergentConcession</name>
        <label>Concessão</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-TRANSF-BUN-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AC-BUN-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-BUN-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-RET-BUN-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-REINC-BUN-002</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemAfterCycle</name>
        <label>ATC-MVL-FIN-CONT-NEG-BUN-003</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionAfterCycle</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemBeforeCycle</name>
        <label>ATC-MVL-FIN-CONT-AJ-BUN-004</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionBeforeCycle</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemInCycle</name>
        <label>ATC-MVL-FIN-CONT-NEG-BUN-002</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionInCycle</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemInteraction</name>
        <label>ATC-MVL-FIN-CONT-AJ-BUN-001</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionInteraction</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemNoBundle</name>
        <label>ATC-MVL-FIN-CONT-AJ-BUN-003</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionNoBundle</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemRootCause</name>
        <label>ATC-MVL-FIN-CONT-AJ-BUN-002</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionRootCause</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearBundle001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearBundle002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearBundle003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearBundle004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearBundle005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bundle003SelectedOrder</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
