force-app/main/default/flows/DisputeFixedConvergentInitialValidations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>SelectedItensView</name>
        <label>SelectedItens</label>
        <locationX>836</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SelectedItens</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllSelections.charges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDisputeItens</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AJU007Decision</name>
        <label>A) Cliente possui débito automático?</label>
        <locationX>556</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>AJU008</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>AJU007DecisionNot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AJU007.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeZeroElevation</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>AJU008Decision</name>
        <label>A) Fatura com débito automático está dentro do prazo para realização de ajuste?</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>AJU009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>AJU008DecisionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AJU008.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeZeroElevation</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>AJU009Decision</name>
        <label>M) Cliente aceita?</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>getATC_FX_FIN_CONT_ENC_AJU_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>AJU009DecisionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AJU009.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeZeroElevation</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAreThereDisputedItens</name>
        <label>Carrinho de contestação já está preenchido?</label>
        <locationX>748</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>scFormSelectDisputeItens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAreThereDisputedItensYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grGetDusputedItens</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREVER001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPREVER001_1</name>
        <label>A) O cliente é funcionário Telefônica?</label>
        <locationX>303</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>AJU007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPREVER001_1Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER001_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_Valida_Grupo_006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPREVER001PID</name>
        <label>dcPREVER001PID</label>
        <locationX>748</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Carregar_ATC_FX_FIN_CONT_NEG_VPR_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPREVER001PIDYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER001PID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREVER001_1</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voc_pertence_um_grupo_com_escopo_para_atendimento_de_funcion_rio_Telef_nica</name>
        <label>A) Você pertence à um grupo com escopo para atendimento de funcionário Telefônica?</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>grGetATC_FX_FIN_CONT_NEG_VPR_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcB2CValidaGrupo006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2CValidaGrupo006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeZeroElevation</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>convertAdjustPaymentAmountAsCurrency</name>
        <dataType>Currency</dataType>
        <expression>VALUE(BLANKVALUE({!SelectedInvoice.adjustedPaymentAmount}, &apos;0.00&apos;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>convertAmountAsCurrency</name>
        <dataType>Currency</dataType>
        <expression>VALUE(BLANKVALUE({!SelectedInvoice.amount}, &apos;0.00&apos;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>convertBalanceAsCurrency</name>
        <dataType>Currency</dataType>
        <expression>VALUE(BLANKVALUE({!SelectedInvoice.balance}, &apos;0.00&apos;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>convertPaymentAmountAsCurrency</name>
        <dataType>Currency</dataType>
        <expression>VALUE(BLANKVALUE({!SelectedInvoice.paymentAmount}, &apos;0.00&apos;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fml9CycleCloseDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(VALUE(RIGHT({!SelectedInvoice.l9CycleCloseDate}, 4)), VALUE(MID({!SelectedInvoice.l9CycleCloseDate}, 4, 2)), VALUE(LEFT({!SelectedInvoice.l9CycleCloseDate}, 2)))) + (3/24)</expression>
    </formulas>
    <formulas>
        <name>fml9CycleStartDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(VALUE(RIGHT({!SelectedInvoice.l9CycleStartDate}, 4)), VALUE(MID({!SelectedInvoice.l9CycleStartDate}, 4, 2)), VALUE(LEFT({!SelectedInvoice.l9CycleStartDate}, 2)))) + (3/24)</expression>
    </formulas>
    <formulas>
        <name>fml9InvoiceCloseDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(VALUE(RIGHT({!SelectedInvoice.l9InvoiceCloseDate}, 4)), VALUE(MID({!SelectedInvoice.l9InvoiceCloseDate}, 4, 2)), VALUE(LEFT({!SelectedInvoice.l9InvoiceCloseDate}, 2)))) + (3/24)</expression>
    </formulas>
    <formulas>
        <name>fmOriginalPaymentDueDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(VALUE(RIGHT({!SelectedInvoice.originalPaymentDueDate}, 4)), VALUE(MID({!SelectedInvoice.originalPaymentDueDate}, 4, 2)), VALUE(LEFT({!SelectedInvoice.originalPaymentDueDate}, 2)))) + (3/24)</expression>
    </formulas>
    <formulas>
        <name>fmPaymentDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(VALUE(RIGHT({!SelectedInvoice.paymentDate}, 4)), VALUE(MID({!SelectedInvoice.paymentDate}, 4, 2)), VALUE(LEFT({!SelectedInvoice.paymentDate}, 2)))) + (3/24)</expression>
    </formulas>
    <formulas>
        <name>fmPaymentDueDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(VALUE(RIGHT({!SelectedInvoice.paymentDueDate}, 4)), VALUE(MID({!SelectedInvoice.paymentDueDate}, 4, 2)), VALUE(LEFT({!SelectedInvoice.paymentDueDate}, 2)))) + (3/24)</expression>
    </formulas>
    <interviewLabel>Contestação - Fixa/Convergente - Validações inicais {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Validações iniciais(Alçada Zero V2)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crCriaFaturaContestada</name>
        <label>Cria Fatura Contestada</label>
        <locationX>836</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>PREVER001</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountHref__c</field>
            <value>
                <elementReference>accountHref</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Balance__c</field>
            <value>
                <elementReference>convertBalanceAsCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingAccountId__c</field>
            <value>
                <elementReference>SelectedInvoice.billingAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinancialAccountId__c</field>
            <value>
                <elementReference>SelectedInvoice.financialAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrefillInvoiceCharges__c</field>
            <value>
                <elementReference>prefillInvoiceCharges</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrefillInvoiceCredits__c</field>
            <value>
                <elementReference>prefillInvoiceCredits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prefill__c</field>
            <value>
                <elementReference>prefill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>adjustedPaymentAmount__c</field>
            <value>
                <elementReference>convertAdjustPaymentAmountAsCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>convertAmountAsCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>barCode__c</field>
            <value>
                <elementReference>SelectedInvoice.barCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billNo__c</field>
            <value>
                <elementReference>SelectedInvoice.billNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billOrigin__c</field>
            <value>
                <elementReference>SelectedInvoice.billOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cycleCode__c</field>
            <value>
                <elementReference>SelectedInvoice.cycleCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>imageNo__c</field>
            <value>
                <elementReference>SelectedInvoice.imageNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>imageType__c</field>
            <value>
                <elementReference>SelectedInvoice.imageType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>invoiceNumber__c</field>
            <value>
                <elementReference>SelectedInvoice.invoiceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>l9CycleCloseDate__c</field>
            <value>
                <elementReference>fml9CycleCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>l9CycleStartDate__c</field>
            <value>
                <elementReference>fml9CycleStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>l9InvoiceCloseDate__c</field>
            <value>
                <elementReference>fml9InvoiceCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>originalPaymentDueDate__c</field>
            <value>
                <elementReference>fmOriginalPaymentDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>paymentAmount__c</field>
            <value>
                <elementReference>convertPaymentAmountAsCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>paymentDate__c</field>
            <value>
                <elementReference>fmPaymentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>paymentDueDate__c</field>
            <value>
                <elementReference>fmPaymentDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referenceMonth__c</field>
            <value>
                <elementReference>SelectedInvoice.referenceMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <elementReference>SelectedInvoice.status</elementReference>
            </value>
        </inputAssignments>
        <object>DisputedInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Carregar_ATC_FX_FIN_CONT_NEG_VPR_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-VPR-001</label>
        <locationX>1194</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>attCasePREVER001PID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-VPR-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getATC_FX_FIN_CONT_ENC_AJU_001</name>
        <label>Carregar ATC-FX-FIN-CONT-ENC-AJU-001</label>
        <locationX>930</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>attCaseAJU009</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-ENC-AJU-001</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_VPR_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-VPR-001</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>attCaseNEGVPR001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-VPR-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDusputedItens</name>
        <label>Buscar itens do carrinho de contestação</label>
        <locationX>748</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcAreThereDisputedItens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scFormSelectDisputeItens</name>
        <label>Formulário de contestação de faturas</label>
        <locationX>836</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedItensView</targetReference>
        </connector>
        <fields>
            <name>DisputeFixedInvoiceTable</name>
            <extensionName>c:disputeFixedInvoiceDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceIdentifier</name>
                <value>
                    <elementReference>ServiceIdentifier</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AllSelections</assignToReference>
                <name>allSelections</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isColab</assignToReference>
                <name>isColab</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedInvoice</assignToReference>
                <name>disputedInvoice</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountHref</assignToReference>
                <name>accountHref</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>prefill</assignToReference>
                <name>prefill</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>prefillInvoiceCharges</assignToReference>
                <name>prefillInvoiceCharges</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>prefillInvoiceCredits</assignToReference>
                <name>prefillInvoiceCredits</name>
            </outputParameters>
        </fields>
        <helpText>&lt;p&gt;SDAsdasdasda&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Próximo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>622</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDusputedItens</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>adjustmentForm</name>
        <label>Ajustes</label>
        <locationX>748</locationX>
        <locationY>2864</locationY>
        <flowName>disputeFinalizeDisputeProcess</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AJU007</name>
        <label>AJU007</label>
        <locationX>556</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>AJU007Decision</targetReference>
        </connector>
        <flowName>DisputeCheckDoesTheClientHaveAutomaticDebit</flowName>
        <inputAssignments>
            <name>billingAccountId</name>
            <value>
                <elementReference>SelectedInvoice.billingAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>AJU007</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AJU008</name>
        <label>AJU008</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>AJU008Decision</targetReference>
        </connector>
        <flowName>DisputeCheckDoesTheInvoiceIsDueToDispute</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>AJU008</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AJU009</name>
        <label>AJU009</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>AJU009Decision</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Oriente o cliente a fazer o cancelamento pontual do débito automático agendado. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>AJU009</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ATC_CVG_FIN_CONT_PREVER_001</name>
        <label>ATC-CVG-FIN-CONT-PREVER-001</label>
        <locationX>1194</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>adjustmentForm</targetReference>
        </connector>
        <flowName>generalServiceDefinition</flowName>
        <inputAssignments>
            <name>definicaoAtendimento</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_NEG_VPR_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>attCaseAJU009</name>
        <label>Atualizar caso AJU009</label>
        <locationX>930</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>subATC_FX_FIN_CONT_ENC_AJU_001</targetReference>
        </connector>
        <flowName>DisputeCaseUpdate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>getATC_FX_FIN_CONT_ENC_AJU_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>attCaseNEGVPR001</name>
        <label>Atualizar Caso NEGVPR001</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>sfPREVER001_3</targetReference>
        </connector>
        <flowName>DisputeCaseUpdate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_VPR_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>attCasePREVER001PID</name>
        <label>Atualizar caso PREVER001PID</label>
        <locationX>1194</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>ATC_CVG_FIN_CONT_PREVER_001</targetReference>
        </connector>
        <flowName>DisputeCaseUpdate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_NEG_VPR_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>B2C_Valida_Grupo_006</name>
        <label>B2C-Valida_Grupo_006</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Voc_pertence_um_grupo_com_escopo_para_atendimento_de_funcion_rio_Telef_nica</targetReference>
        </connector>
        <flowName>DisputeCheckScope</flowName>
        <inputAssignments>
            <name>allowReExecution</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue> </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você pertence à um grupo com escopo para atendimento de funcionário Telefônica?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordGroupName</name>
            <value>
                <stringValue>Validar escopo para atendimento de funcionário Telefônica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-Valida_Grupo 006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2CValidaGrupo006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CreateDisputeItens</name>
        <label>Criar Items de Contestação</label>
        <locationX>836</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>crCriaFaturaContestada</targetReference>
        </connector>
        <flowName>CreateDisputeItems</flowName>
        <inputAssignments>
            <name>AllCharges</name>
            <value>
                <elementReference>AllSelections</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceIdentifier</name>
            <value>
                <elementReference>ServiceIdentifier</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PREVER001</name>
        <label>PREVER001 - PID</label>
        <locationX>748</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>dcPREVER001PID</targetReference>
        </connector>
        <flowName>DisputeGeneralPID</flowName>
        <inputAssignments>
            <name>allowReExecution</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PREVER001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPREVER001PID</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PREVER001_1</name>
        <label>PREVER001.1</label>
        <locationX>303</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>dcPREVER001_1</targetReference>
        </connector>
        <flowName>DisputeCheckInvocesDiscount</flowName>
        <inputAssignments>
            <name>allowReExecution</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isColab</name>
            <value>
                <elementReference>isColab</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PREVER001.1</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPREVER001_1</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeZeroElevation</name>
        <label>Contestação - Fixa/Convergente - Alçada Zero</label>
        <locationX>303</locationX>
        <locationY>2672</locationY>
        <connector>
            <targetReference>adjustmentForm</targetReference>
        </connector>
        <flowName>DisputeFixedConvergentZeroElevationV2</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfPREVER001_3</name>
        <label>PREVER001.3</label>
        <locationX>138</locationX>
        <locationY>1730</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>adjustmentForm</targetReference>
        </connector>
        <flowName>generalServiceDefinition</flowName>
        <inputAssignments>
            <name>definicaoAtendimento</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_VPR_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subATC_FX_FIN_CONT_ENC_AJU_001</name>
        <label>ATC-FX-FIN-CONT-ENC-AJU-001</label>
        <locationX>930</locationX>
        <locationY>2162</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>adjustmentForm</targetReference>
        </connector>
        <flowName>generalServiceDefinition</flowName>
        <inputAssignments>
            <name>definicaoAtendimento</name>
            <value>
                <elementReference>getATC_FX_FIN_CONT_ENC_AJU_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountHref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Itens de fatura selecionados</description>
        <name>AllSelections</name>
        <apexClass>DisputeChargeModelList</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2CValidaGrupo006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER001_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER001_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER001_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER001PID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedItens</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DisputedItem__c</objectType>
    </variables>
    <variables>
        <name>DisputeInvoice</name>
        <apexClass>DisputeInvoiceModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isColab</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prefill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prefillInvoiceCharges</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prefillInvoiceCredits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedInvoice</name>
        <apexClass>DisputeInvoiceModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedItens</name>
        <apexClass>DisputeChargeModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
