force-app/main/default/flows/DisputeFixedConvergentReasonsV2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>CallIsFixedOrMobile</name>
        <label>Ligação é Fixa ou Móvel?</label>
        <locationX>2030</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>DisputeMobileConnections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Móvel</defaultConnectorLabel>
        <rules>
            <name>Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PREVER012_2_CONVERGENTE.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIXA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfLigacoesFixa</targetReference>
            </connector>
            <label>FIXA</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcFixedOrMobile</name>
        <label>SVA é Fixa ou Móvel?</label>
        <locationX>3878</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfSVA_Avulso_Doacoes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Móvel</defaultConnectorLabel>
        <rules>
            <name>asFixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sfDisputeCheckSVAIsFixedOrMobile.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIXA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeFixedConvergentSVA</targetReference>
            </connector>
            <label>Fixa</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPREVER012_CONVERGENTE</name>
        <label>A) Quais os motivos da contestação?</label>
        <locationX>3416</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dcPREVER012_CONVERGENTE_PLANOS_FIXA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLANOS (FIXA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPREVER012_PLANOS_FIXA</targetReference>
            </connector>
            <label>PLANOS (FIXA)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_TV_FIXA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TV (FIXA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTV_Fixa</targetReference>
            </connector>
            <label>TV (FIXA)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_LIGACOES_FIXA_MOVEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIGAÇÕES (FIXA E MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREVER012_2_CONVERGENTE</targetReference>
            </connector>
            <label>LIGAÇÕES (FIXA E MÓVEL)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_SEGURO_FIXA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEGURO (FIXA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeFixedInsurance</targetReference>
            </connector>
            <label>SEGURO (FIXA)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_MULTA_FIXA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MULTA (FIXA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfTaxs</targetReference>
            </connector>
            <label>MULTA (FIXA)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_DESCONTO_FIXA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DESCONTO (FIXA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeFixedValidateDiscounts</targetReference>
            </connector>
            <label>DESCONTO (FIXA)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_HOME_ASSIST_FIXA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOME ASSIST (FIXA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputedFixedHomeAssit</targetReference>
            </connector>
            <label>HOME ASSIST (FIXA)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_PLANOS_MOVEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLANOS (MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPREVER012_PLANOS_MOVEL</targetReference>
            </connector>
            <label>PLANOS (MÓVEL)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_SVA_AVULSO_DOACOES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVA AVULSO DOAÇÕES (FIXA E MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeCheckSVAIsFixedOrMobile</targetReference>
            </connector>
            <label>SVA AVULSO DOAÇÕES (FIXA E MÓVEL)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_MULTA_MOVEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MULTA (MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <label>MULTA (MÓVEL)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_SEGUROS_MOVEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEGURO (MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfSeguroMovel</targetReference>
            </connector>
            <label>SEGURO (MÓVEL)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_BUNDLE_MOVEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BUNDLE (MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeFixedDuplicatedChargeBundle</targetReference>
            </connector>
            <label>BUNDLE (MÓVEL)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_MULTIVIVO_MOVEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MULTIVIVO (MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>teste</targetReference>
            </connector>
            <label>MULTIVIVO (MÓVEL)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_TRAVEL_MOVEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRAVEL (MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <label>TRAVEL (MÓVEL)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_PACOTE_ADICIONAL_MOVEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PACOTE ADICIONAL (MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <label>PACOTE ADICIONAL (MÓVEL)</label>
        </rules>
        <rules>
            <name>dcPREVER012_CONVERGENTE_DESCONTO_MOVEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_CONVERGENTE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DESCONTO (MÓVEL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeFixedProRataDiscount</targetReference>
            </connector>
            <label>DESCONTO (MÓVEL)</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPREVER012_PLANOS_FIXA</name>
        <label>M) Qual o motivo de contestação de plano fixa?</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dcPREVER012_PLANOS_FIXA_Defeito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_PLANOS_FIXA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALEGA QUE FOI COBRADO EM PERÍODO QUE NÃO PÔDE UTILIZAR SERVIÇOS (Defeito)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfContesta_o_Fixa_Convergente_Planos_N_o_p_de_utilizar_por_Defeito</targetReference>
            </connector>
            <label>ALEGA QUE FOI COBRADO EM PERÍODO QUE NÃO PÔDE UTILIZAR SERVIÇOS (Defeito)</label>
        </rules>
        <rules>
            <name>dcPREVER012_PLANOS_FIXA_Cancelou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_PLANOS_FIXA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALEGA QUE JÁ CANCELOU (DESCONECTOU) PRODUTOS (Planos Fixa - Cancelou)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfContesta_o_Fixa_Convergente_Plano_Fixa_Cancelou</targetReference>
            </connector>
            <label>ALEGA QUE JÁ CANCELOU (DESCONECTOU) PRODUTOS (Planos Fixa - Cancelou)</label>
        </rules>
        <rules>
            <name>dcPREVER012_PLANOS_FIXA_Nao_Solicitou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_PLANOS_FIXA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALEGA QUE NÃO SOLICITOU ou DESCONHECE PRODUTO COBRADO (Planos Fixa - Não solicitou)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfContesta_o_Fixa_N_o_Solicitou</targetReference>
            </connector>
            <label>ALEGA QUE NÃO SOLICITOU ou DESCONHECE PRODUTO COBRADO (Planos Fixa - Não solicitou)</label>
        </rules>
        <rules>
            <name>dcPREVER012_PLANOS_FIXA_Cobrado_2_Planos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_PLANOS_FIXA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALEGA QUE ESTÁ SENDO COBRADO POR DOIS PLANOS (Planos Fixa - Cobrado 2 planos)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfContesta_o_Fixa_Convergente_Valida_o_de_plano_duplicado</targetReference>
            </connector>
            <label>ALEGA QUE ESTÁ SENDO COBRADO POR DOIS PLANOS (Planos Fixa - Cobrado 2 planos)</label>
        </rules>
        <rules>
            <name>dcPREVER012_PLANOS_FIXA_Valor_Incorreto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER012_PLANOS_FIXA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALEGA QUE O VALOR DE SUA FATURA NÃO ESTÁ CORRETO (Valor Incorreto)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeFixedIncorrectValue</targetReference>
            </connector>
            <label>ALEGA QUE O VALOR DE SUA FATURA NÃO ESTÁ CORRETO (Valor Incorreto)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MobileAnswerFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!answearPREVER012_PLANOS_MOVEL}, &apos;VALOR DIFERENTE DO NEGOCIADO&apos;, &apos;disputeAmountDifferentFromNegotiated&apos;, &apos;AUMENTO VALOR DA FATURA&apos;, &apos;disputeMobileIncreaseInvoiceValue&apos;,&apos;COBRANÇA DUPLICADA&apos;, &apos;disputeDuplicateBilling&apos;,&apos;NÃO RECONHECE HABILITAÇÃO OU TROCA DE PLANO&apos;,&apos;disputeNoRecognizeQualificationOrPlanChange&apos;,&apos;disputeSubscriptionCancellation&apos;)</expression>
    </formulas>
    <interviewLabel>Contestação - Fixa/Convergente - Motivos - V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Motivos - V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grDisputedItemById</name>
        <label>Carregar item contestado</label>
        <locationX>3416</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfPREVER012_CONVERGENTE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>3290</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grDisputedItemById</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DisputeMobileConnections</name>
        <label>Contestação - Móvel - Ligações Móvel</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <flowName>DisputeMobileConnections</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Omnscript_Container</name>
        <label>Omnscript Container</label>
        <locationX>3482</locationX>
        <locationY>566</locationY>
        <flowName>disputedConvergentOmnscriptContainer</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>omniVisible</name>
            <value>
                <elementReference>MobileAnswerFormula</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PREVER012_2_CONVERGENTE</name>
        <label>PREVER012.2 CONVERGENTE</label>
        <locationX>2030</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CallIsFixedOrMobile</targetReference>
        </connector>
        <flowName>DisputeCheckSVAIsFixedOrMobile</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>grDisputedItemById.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O Item de Ligação Contestado, é referente a um produto Móvel ou Fixa?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PREVER012.2 CONVERGENTE</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfContesta_o_Fixa_Convergente_Plano_Fixa_Cancelou</name>
        <label>Contestação - Fixa/Convergente - Plano Fixa - Cancelou</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <flowName>DisputeFixedCancelledPlan</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfContesta_o_Fixa_Convergente_Planos_N_o_p_de_utilizar_por_Defeito</name>
        <label>Contestação - Fixa/Convergente - Planos - Não pôde utilizar por Defeito</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>DisputeFixedDefectPlan</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfContesta_o_Fixa_Convergente_Valida_o_de_plano_duplicado</name>
        <label>Contestação - Fixa/Convergente - Validação de plano duplicado</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <flowName>DisputeFixedCheckDuplicatedPlans</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfContesta_o_Fixa_N_o_Solicitou</name>
        <label>Contestação - Fixa/Convergente - Não Solicitou</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <flowName>DisputeFixedUnsolicited</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckSVAIsFixedOrMobile</name>
        <label>PREVER012.1 CONVERGENTE</label>
        <locationX>3878</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcFixedOrMobile</targetReference>
        </connector>
        <flowName>DisputeCheckSVAIsFixedOrMobile</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>grDisputedItemById.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O Item de SVA Contestado, é referente a um produto Móvel ou Fixa?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PREVER012.1 CONVERGENTE</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfDisputedFixedHomeAssit</name>
        <label>Contestação - Fixa/Convergente - Planos - HOME ASSIT</label>
        <locationX>3218</locationX>
        <locationY>458</locationY>
        <flowName>DisputedFixedHomeAssit</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedConvergentSVA</name>
        <label>Contestação - Fixa/Convergente - SVA Avulso Doação Fixa</label>
        <locationX>3746</locationX>
        <locationY>674</locationY>
        <flowName>DisputeFixedConvergentSVA</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedDuplicatedChargeBundle</name>
        <label>Contestação - Fixa/Convergente - Cobrança Duplicada Bundle</label>
        <locationX>4802</locationX>
        <locationY>458</locationY>
        <flowName>DisputeFixedDuplicatedChargeBundle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedIncorrectValue</name>
        <label>Contestação - Fixa/Convergente - Valor Incorreto</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <flowName>DisputeFixedIncorrectValue</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedInsurance</name>
        <label>Contestação - Fixa/Convergente - Seguros Fixa</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <flowName>DisputeFixedInsurance</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedProRataDiscount</name>
        <label>Contestação - Fixa/Convergente - Desconto Pro Rata</label>
        <locationX>5858</locationX>
        <locationY>458</locationY>
        <flowName>DisputeFixedProRataDiscount</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedValidateDiscounts</name>
        <label>Contestação - Fixa/Convergente - Validações de descontos</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <flowName>DisputeFixedValidateDiscounts</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfLigacoesFixa</name>
        <label>Contestação - Plano Fixa/Convergente - Ligações Fixa</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <flowName>DisputeFixedConvergentPlanFixedConnections</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfPREVER012_CONVERGENTE</name>
        <label>PREVER012 CONVERGENTE</label>
        <locationX>3416</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcPREVER012_CONVERGENTE</targetReference>
        </connector>
        <flowName>DisputeCheckReasonType</flowName>
        <inputAssignments>
            <name>allowReExecution</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PREVER012 CONVERGENTE</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPREVER012_CONVERGENTE</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPREVER012_PLANOS_FIXA</name>
        <label>PREVER012 PLANOS FIXA</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcPREVER012_PLANOS_FIXA</targetReference>
        </connector>
        <flowName>DisputeCheckFixedReasonTypeV2</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Qual o motivo de contestação de plano fixa?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PREVER012 PLANOS FIXA</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPREVER012_PLANOS_FIXA</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPREVER012_PLANOS_MOVEL</name>
        <label>PREVER012 PLANOS MÓVEL</label>
        <locationX>3482</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Omnscript_Container</targetReference>
        </connector>
        <flowName>DisputeCheckMobileReasonTypeV2</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Qual o motivo de contestação de plano Móvel?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PREVER012 PLANOS MÓVEL</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPREVER012_PLANOS_MOVEL</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfSeguroMovel</name>
        <label>Contestação - Móvel - Seguro móvel</label>
        <locationX>4538</locationX>
        <locationY>458</locationY>
        <flowName>DisputeMobileInsurance</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfSVA_Avulso_Doacoes</name>
        <label>Contestação - Móvel - SVA Avulso Doações</label>
        <locationX>4010</locationX>
        <locationY>674</locationY>
        <flowName>DisputeSVASingleDonationsMobile</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfTaxs</name>
        <label>Contestação - Fixa/Convergente - Multas</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <flowName>DisputeFixedConvergentTax</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfTV_Fixa</name>
        <label>Contestação - Fixa/Convergente - Planos Fixa - TV</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <flowName>DisputeConvergentFixedTelevision</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>teste</name>
        <label>teste</label>
        <locationX>5066</locationX>
        <locationY>458</locationY>
        <flowName>DisputeMobileMultiVivo</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputeItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearPREVER012_CONVERGENTE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER012_PLANOS_FIXA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER012_PLANOS_MOVEL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
