force-app/main/default/flows/DisputeGeneralUpdateDisputedItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asSetDisputedItemAsApproved</name>
        <label>Definir item contestado como: Procedente</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>disputedItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputedItem.ServiceDefinitionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upUpdateDisputedItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetDisputedItemAsClosed</name>
        <label>Definir item contestado como: Fechado</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>disputedItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputedItem.ServiceDefinitionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upUpdateDisputedItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetDisputedItemAsConcession</name>
        <label>Definir item contestado como: Concessão</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>disputedItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concession</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputedItem.ServiceDefinitionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputedItem.IsConcession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upUpdateDisputedItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetDisputedItemAsDenied</name>
        <label>Definir item contestado como: Negado</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>disputedItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputedItem.ServiceDefinitionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upUpdateDisputedItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcHowToUpdateDisputedItem</name>
        <label>Como o item contestado será atualizado?</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>upUpdateDisputedItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dcHowToUpdateDisputedItemDenied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceDefinition.StatusItem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetDisputedItemAsDenied</targetReference>
            </connector>
            <label>Negado</label>
        </rules>
        <rules>
            <name>dcHowToUpdateDisputedItemApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceDefinition.StatusItem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetDisputedItemAsApproved</targetReference>
            </connector>
            <label>Precedente</label>
        </rules>
        <rules>
            <name>dcHowToUpdateDisputedItemConcession</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceDefinition.StatusItem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetDisputedItemAsConcession</targetReference>
            </connector>
            <label>Concessão</label>
        </rules>
        <rules>
            <name>dcHowToUpdateDisputedItemClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceDefinition.StatusItem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetDisputedItemAsClosed</targetReference>
            </connector>
            <label>Fechado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Atendimento Geral - Atualizar Item Contestado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Atendimento Geral - Atualizar Item Contestado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>upUpdateDisputedItem</name>
        <label>Atualizar item contestado com status da definição de atendimento</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Atendimento_Geral_Defini_o_de_Atendimento_Fluxo_1</targetReference>
        </connector>
        <inputReference>disputedItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcHowToUpdateDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Atendimento_Geral_Defini_o_de_Atendimento_Fluxo_1</name>
        <label>Atendimento - Geral - Definição de Atendimento Fluxo 1</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <flowName>generalServiceDefinition</flowName>
        <inputAssignments>
            <name>definicaoAtendimento</name>
            <value>
                <elementReference>serviceDefinition</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>disputedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DisputedItem__c</objectType>
    </variables>
    <variables>
        <name>serviceDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceDefinition__c</objectType>
    </variables>
</Flow>
