force-app/main/default/flows/DisputeFixedProRataDiscount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcAnswearDESCONTO001</name>
        <label>M) O valor de Desconto está refletido na Fatura?</label>
        <locationX>1394</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearDESCONTO001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeFixedCheckCorrectDiscountValue</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearDESCONTO002</name>
        <label>M) Valor do desconto identificado na fatura está correto?</label>
        <locationX>891</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfBooleanGenericManualActionDESCONTO006</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valor refletido é divergente</defaultConnectorLabel>
        <rules>
            <name>dcAnswearDESCONTO002Proportional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valor refletido é Proporcional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionDESCONTO003</targetReference>
            </connector>
            <label>Valor refletido é Proporcional</label>
        </rules>
        <rules>
            <name>dcAnswearDESCONTO002Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valor refletido está correto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grServiceDefinitionDESCONTO002</targetReference>
            </connector>
            <label>Valor refletido está correto</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearDESCONTO003</name>
        <label>M) Trata-se de Pró-rata término de período de Desconto?</label>
        <locationX>281</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfBooleanGenericManualActionDESCONTO004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearDESCONTO003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisputeFixedConvergentConcessionDESCONTO003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearDESCONTO004</name>
        <label>M) Trata-se de Pró-rata de Entrada do Período/Ciclo de Desconto?</label>
        <locationX>512</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfBooleanGenericManualActionDESCONTO005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearDESCONTO004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grServiceDefinitionDESCONTO004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearDESCONTO005</name>
        <label>M) Trata-se de Pró-rata término de período de Desconto?</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>DisputeFixedConvergentConcessionDESCONTO005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearDESCONTO005Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearDESCONTO006</name>
        <label>M) Desconto inserido está Divergente do Acordado?</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfDisputeFixedConvergentConcessionDESCONTO006</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearDESCONTO006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grServiceDefinitionDESCONTO006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - Desconto Pro Rata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Desconto Pro Rata</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grDisputedItem</name>
        <label>Carregar DisputedItem</label>
        <locationX>1394</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfBooleanGenericManualActionDESCONTO001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionDESCONTO002</name>
        <label>Carregar definição de atendimento</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemDESCONTO002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-DESC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionDESCONTO004</name>
        <label>Carregar definição de atendimento</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemDESCONTO004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-DESC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionDESCONTO006</name>
        <label>Carregar definição de atendimento</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemDESCONTO006</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-DESC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1268</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DisputeFixedConvergentConcessionDESCONTO003</name>
        <label>Concessão</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-TRANSF-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AC-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-RET-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-REINC-DESC-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DisputeFixedConvergentConcessionDESCONTO005</name>
        <label>Concessão</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-TRANSF-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AC-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-RET-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-REINC-DESC-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionDESCONTO001</name>
        <label>DESCONTO001</label>
        <locationX>1394</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcAnswearDESCONTO001</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O valor de Desconto está refletido na Fatura?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionDESCONTO003</name>
        <label>DESCONTO003</label>
        <locationX>281</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcAnswearDESCONTO003</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Analise a fatura do contestada. A contestação Trata-se de Pró-rata término de período de Desconto.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Trata-se de Pró-rata término de período de Desconto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionDESCONTO004</name>
        <label>DESCONTO004</label>
        <locationX>512</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcAnswearDESCONTO004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Analise a fatura do contestada. A contestação se trata-se de pró-rata de entrada/ciclo de desconto.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Trata-se de Pró-rata de Entrada do Período/Ciclo de Desconto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionDESCONTO005</name>
        <label>DESCONTO005</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcAnswearDESCONTO005</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Analise a fatura do contestada, o motivo da contestação é devido ao termino dos descontos/benefícios</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Trata-se de Pró-rata término de período de Desconto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionDESCONTO006</name>
        <label>DESCONTO006</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcAnswearDESCONTO006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura se o desconto inserido está divergente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Desconto inserido está Divergente do Acordado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedCheckCorrectDiscountValue</name>
        <label>DESCONTO002</label>
        <locationX>891</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcAnswearDESCONTO002</targetReference>
        </connector>
        <flowName>DisputeFixedCheckCorrectDiscountValue</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Valor do desconto identificado na fatura está correto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedConvergentConcessionDESCONTO006</name>
        <label>Concessão</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-TRANSF-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AC-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-DESC-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-RET-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-REINC-DESC-002</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemDESCONTO002</name>
        <label>ATC-MVL-FIN-CONT-NEG-DESC-001</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionDESCONTO002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemDESCONTO004</name>
        <label>ATC-MVL-FIN-CONT-AJ-DESC-001</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionDESCONTO004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemDESCONTO006</name>
        <label>ATC-MVL-FIN-CONT-AJ-DESC-001</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionDESCONTO006</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearDESCONTO001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bundle003SelectedOrder</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
