force-app/main/default/flows/DisputeCheckTotalBlockagesDuringBillingCycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asSetActionAnswear</name>
        <label>Definir resposta da ação</label>
        <locationX>512</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Answer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>asSetActionStepHistory</name>
        <label>Recuperar Id do histórico de execução de ação</label>
        <locationX>424</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>actionStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcIsNecessaryStepReExecution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assPopulaOrderCreationDateBillingEndDateinstallationStateAddress</name>
        <label>Popula OrderCreationDate BillingEndDate installationStateAddress</label>
        <locationX>776</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>orderCreationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrder.creationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grBuscarItemDisputado.BillingEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>installationStateAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grRecuperarobjetoAsset.vlocity_cmt__ServiceAccountId__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcValorInstallationStateAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assResultado_da_vari_vel_answear_NAO</name>
        <label>Resultado da variável answear NÂO</label>
        <locationX>842</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_hist_rico_de_execu_o_de_a_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assResultado_da_variavel_answear_SIM</name>
        <label>Resultado da variável answear SIM</label>
        <locationX>578</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_hist_rico_de_execu_o_de_a_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assResultadoVariavelanswear</name>
        <label>Resultado da variável answear SIM</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_hist_rico_de_execu_o_de_a_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assResultadovariavelanswearNAO</name>
        <label>Resultado da variável answear NÂO</label>
        <locationX>314</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_hist_rico_de_execu_o_de_a_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_o_8</name>
        <label>Recuperar ID do Histórico</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gtGetHistoryExecutionItemId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_o_9</name>
        <label>Recuperar ID do Histórico</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetStepHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_contestado_n_o_encantrado</name>
        <label>Item contestado não encantrado</label>
        <locationX>1106</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_hist_rico_de_execu_o_de_a_o</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcExistDisputedItem</name>
        <label>Existe item a ser contestado?</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>grGetStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcExistYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gtGetHistoryExecutionItemId</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcGreaterThan34or64</name>
        <label>Se o valor da variável differenceBetweenDates maior que 34 dias ou maior que 64 dias</label>
        <locationX>710</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>assResultado_da_vari_vel_answear_NAO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcGreaterThan34or64Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>differenceBetweenDates</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assResultado_da_variavel_answear_SIM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsNecessaryStepReExecution</name>
        <label>É necessário reexecutar esta etapa do fluxo?</label>
        <locationX>424</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>asSetActionAnswear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsNecessaryStepReExecutionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowReExecution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grBuscarItemDisputado</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsThereActionStepHistory</name>
        <label>Existe histórico de execução de ação</label>
        <locationX>600</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>grBuscarItemDisputado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsThereActionStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grGetActionStepHistory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValordifferenceBetweenDatesmaior34ou64</name>
        <label>Se o valor da variável differenceBetweenDates foi maior que 34 dias ou maior que 64 dias</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>assResultadovariavelanswearNAO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValordifferenceBetweenDatesmaior34ou64Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>differenceBetweenDates</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>34.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assResultadoVariavelanswear</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValorInstallationStateAddress</name>
        <label>Valor  da InstallationStateAddress é null?</label>
        <locationX>776</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Item_contestado_n_o_encantrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValorInstallationStateAddressYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>installationStateAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dcVerificarbloqueiosparaestadoSaoPaulo</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcVerificarbloqueiosparaestadoSaoPaulo</name>
        <label>Verificar bloqueios para o estado de São Paulo.</label>
        <locationX>446</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>dcGreaterThan34or64</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcVerificarbloqueiosparaestadoSaoPauloYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>installationStateAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAO PAULO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dcValordifferenceBetweenDatesmaior34ou64</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsThereStepHistory</name>
        <label>Existe histórico de execução</label>
        <locationX>776</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>crCreateStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>decIsThereStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_hist_rico_de_execu_o_de_a_o</name>
        <label>Existe histórico de execução de ação?</label>
        <locationX>776</locationX>
        <locationY>2666</locationY>
        <defaultConnector>
            <targetReference>crCreateActionStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>AnswerYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>urUpdateActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>differenceBetweenDates</name>
        <dataType>Number</dataType>
        <expression>({!orderCreationDate} - {!billingEndDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Contestação - Ação Automática - Cliente estava com bloqueio TOTAL em algum produto durante o período contestado? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Ação Automática - Cliente estava com bloqueio TOTAL em algum produto durante o período contestado?</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crCreateActionStepHistory</name>
        <label>Criar histórico de execução de ação</label>
        <locationX>908</locationX>
        <locationY>2774</locationY>
        <assignRecordIdToReference>actionStepHistoryId</assignRecordIdToReference>
        <connector>
            <targetReference>sfGenericAutomaticAction</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowExecutionStepHistory__c</field>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordCreates>
    <recordCreates>
        <name>crCreateStepHistory</name>
        <label>Criar histórico de execução</label>
        <locationX>952</locationX>
        <locationY>650</locationY>
        <assignRecordIdToReference>flowStepHistoryId</assignRecordIdToReference>
        <connector>
            <targetReference>grBuscarItemDisputado</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisputedItem__c</field>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>step</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionStepHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>grBuscarItemDisputado</name>
        <label>Buscar Item Disputado</label>
        <locationX>776</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>grRecuperarobjetoCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetActionStepHistory</name>
        <label>Buscar histórico de execução de ação</label>
        <locationX>600</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcIsThereActionStepHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowExecutionStepHistory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>question</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionActionHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetStepHistory</name>
        <label>Buscar histórico de execução pelo caseID</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_o_9</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grRecuperarobjetoAsset</name>
        <label>Recuperar o objeto Asset</label>
        <locationX>776</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assPopulaOrderCreationDateBillingEndDateinstallationStateAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>grRecuperarobjetoCase.Asset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grRecuperarobjetoCase</name>
        <label>Recuperar o objeto Case</label>
        <locationX>776</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>grRecuperarobjetoAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtGetHistoryExecutionItemId</name>
        <label>Buscar histórico de execução pelo ItemId</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_o_8</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisputedItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>urUpdateActionStepHistory</name>
        <label>Atualizar histórico de execução de ação</label>
        <locationX>644</locationX>
        <locationY>2774</locationY>
        <connector>
            <targetReference>sfGenericAutomaticAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionStepHistoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcExistDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfGenericAutomaticAction</name>
        <label>Ação automática</label>
        <locationX>776</locationX>
        <locationY>2966</locationY>
        <flowName>GenericAutomaticaAction</flowName>
        <inputAssignments>
            <name>answear</name>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <elementReference>question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <elementReference>step</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>actionStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allowReExecution</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>answear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>billingEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blockageOrder</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>installationStateAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderCreationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cliente estava com bloqueio TOTAL em algum produto durante o período contestado?</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedOrder</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>types</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
