force-app/main/default/flows/DisputeFixedConvergentTax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcMULTA001</name>
        <label>A) Existe pedido de desconexão &apos;concluída&apos; ou &apos;em andamento&apos; no período contestado?</label>
        <locationX>242</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfMULTA002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcMULTA001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearMULTA001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfMULTA006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcMULTA002</name>
        <label>M) Existe pedido de edição alteração de plano no período contestado?</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfMULTA006</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcMULTA002yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearMULTA002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfMULTA003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcMULTA003</name>
        <label>M) Verifique se a mudança de oferta deveria gerar multa. A multa é devida?</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_AJ_MULTA_003</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcMULTA003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearMULTA003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfMULTA004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcMULTA004</name>
        <label>M) Reclamação do cliente é reincidente?</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfConcess_o1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcMULTA004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearMULTA004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_ATC_FX_FIN_CONT_NEG_MULTA_003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcMULTA006</name>
        <label>M) Cliente solicitou cancelamento dentro do período de 7 dias da contratação?</label>
        <locationX>242</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Carregar_ATCFXFINCONTNEGMULTA001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcMULTA006True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearMULTA006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Carregar_ATC_FX_FIN_CONT_AJ_MULTA_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - Multas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Multas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Carregar_ATC_FX_FIN_CONT_AJ_MULTA_002</name>
        <label>Carregar  ATC-FX-FIN-CONT-AJ-MULTA-002</label>
        <locationX>110</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfMULTA007</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-MULTA-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Carregar_ATCFXFINCONTNEGMULTA001</name>
        <label>Carregar  ATC-FX-FIN-CONT-NEG-MULTA-001</label>
        <locationX>374</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exibir_ATC_FX_FIN_CONT_NEG_MULTA_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-MULTA-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_ATC_FX_FIN_CONT_NEG_MULTA_003</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-MULTA-003</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sf_ATC_FX_FIN_CONT_NEG_MULTA_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-MULTA-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_MULTA_003</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-MULTA-003</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_AJ_MULTA_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-MULTA-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDisputedItem</name>
        <label>Carregar item contestado</label>
        <locationX>242</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfMULTA001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>116</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Exibir_ATC_FX_FIN_CONT_AJ_MULTA_002</name>
        <label>Exibir ATC-FX-FIN-CONT-AJ-MULTA-002</label>
        <locationX>110</locationX>
        <locationY>2198</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_AJ_MULTA_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Exibir_ATC_FX_FIN_CONT_NEG_MULTA_001</name>
        <label>Exibir ATC-FX-FIN-CONT-NEG-MULTA-001</label>
        <locationX>374</locationX>
        <locationY>2090</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATCFXFINCONTNEGMULTA001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sf_ATC_FX_FIN_CONT_NEG_MULTA_003</name>
        <label>Exibir ATC-FX-FIN-CONT-NEG-MULTA-003</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>gr_ATC_FX_FIN_CONT_NEG_MULTA_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_AJ_MULTA_003</name>
        <label>Exibir ATC-FX-FIN-CONT-AJ-MULTA-003</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_MULTA_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcess_o1</name>
        <label>Concessão</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-MULTA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-MULTA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-MULTA-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIX-CONT-NEG-RET-MULT-A-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-MULT-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfMULTA001</name>
        <label>MULTA001</label>
        <locationX>242</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcMULTA001</targetReference>
        </connector>
        <flowName>DisputeCheckThereAreCancelOrdersDuringBillingCycle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>MULTA001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearMULTA001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfMULTA002</name>
        <label>MULTA002</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcMULTA002</targetReference>
        </connector>
        <flowName>CheckReplaceOffer</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>MULTA002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearMULTA002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfMULTA003</name>
        <label>MULTA003</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcMULTA003</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique se a mudança de oferta deveria gerar multa. A multa é devida?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>MULTA003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearMULTA003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfMULTA004</name>
        <label>MULTA004</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcMULTA004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verificar nos casos do SalesForce, se a contestação do cliente é reincidente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Reclamação do cliente é reincidente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>MULTA004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearMULTA004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfMULTA006</name>
        <label>MULTA006</label>
        <locationX>242</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>dcMULTA006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verificar nos casos do SalesForce, se o cliente solicitou cancelamento dentro do período de 7 dias da contratação.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente solicitou cancelamento dentro do período de 7 dias da contratação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>MULTA006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearMULTA006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfMULTA007</name>
        <label>MULTA007</label>
        <locationX>110</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Exibir_ATC_FX_FIN_CONT_AJ_MULTA_002</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Realize a contestação da multa e informe que o valor proporcional da utilização é devido.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Realizar a contestação da multa e informe que o valor proporcional da utilização é devido. Ok?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>MULTA007</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>answearMULTA001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearMULTA002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearMULTA003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearMULTA004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearMULTA006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
