force-app/main/default/flows/DisputeFixedConvergentInitialValidations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>SelectedItensView</name>
        <label>SelectedItens</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SelectedItens</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllSelections.charges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDisputeItens</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcAreThereDisputedItens</name>
        <label>Carrinho de contestação já está preenchido?</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>scFormSelectDisputeItens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAreThereDisputedItensYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grGetDusputedItens</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREVER001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPREVER001_1</name>
        <label>A) O cliente é funcionário Telefônica?</label>
        <locationX>226</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>sfDisputedFixedConvergent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPREVER001_1Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER001_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_Valida_Grupo_006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPREVER001PID</name>
        <label>dcPREVER001PID</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Carregar_ATC_FX_FIN_CONT_NEG_VPR_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPREVER001PIDYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPREVER001PID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREVER001_1</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voc_pertence_um_grupo_com_escopo_para_atendimento_de_funcion_rio_Telef_nica</name>
        <label>A) Você pertence à um grupo com escopo para atendimento de funcionário Telefônica?</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>grGetATC_FX_FIN_CONT_NEG_VPR_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcB2CValidaGrupo006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2CValidaGrupo006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputedFixedConvergent</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - Validações inicais {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Validações inicais</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Carregar_ATC_FX_FIN_CONT_NEG_VPR_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-VPR-001</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>attCasePREVER001PID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-VPR-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_VPR_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-VPR-001</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>attCaseNEGVPR001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-VPR-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDusputedItens</name>
        <label>Buscar itens do carrinho de contestação</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcAreThereDisputedItens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scFormSelectDisputeItens</name>
        <label>Formulário de contestação de faturas</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedItensView</targetReference>
        </connector>
        <fields>
            <name>DisputeFixedInvoiceTable</name>
            <extensionName>c:disputeFixedInvoiceDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceIdentifier</name>
                <value>
                    <elementReference>ServiceIdentifier</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AllSelections</assignToReference>
                <name>allSelections</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isColab</assignToReference>
                <name>isColab</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Próximo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDusputedItens</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ATC_CVG_FIN_CONT_PREVER_001</name>
        <label>ATC-CVG-FIN-CONT-PREVER-001</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <flowName>generalServiceDefinition</flowName>
        <inputAssignments>
            <name>definicaoAtendimento</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_NEG_VPR_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>attCaseNEGVPR001</name>
        <label>Atualizar Caso NEGVPR001</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>sfPREVER001_3</targetReference>
        </connector>
        <flowName>DisputeCaseUpdate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_VPR_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>attCasePREVER001PID</name>
        <label>Atualizar caso PREVER001PID</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>ATC_CVG_FIN_CONT_PREVER_001</targetReference>
        </connector>
        <flowName>DisputeCaseUpdate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_NEG_VPR_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>B2C_Valida_Grupo_006</name>
        <label>B2C-Valida_Grupo_006</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Voc_pertence_um_grupo_com_escopo_para_atendimento_de_funcion_rio_Telef_nica</targetReference>
        </connector>
        <flowName>DisputeCheckScope</flowName>
        <inputAssignments>
            <name>allowReExecution</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você pertence à um grupo com escopo para atendimento de funcionário Telefônica?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordGroupName</name>
            <value>
                <stringValue>Validar escopo para atendimento de funcionário Telefônica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-Valida_Grupo 006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2CValidaGrupo006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CreateDisputeItens</name>
        <label>Criar Items de Contestação</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>PREVER001</targetReference>
        </connector>
        <flowName>CreateDisputeItems</flowName>
        <inputAssignments>
            <name>AllCharges</name>
            <value>
                <elementReference>AllSelections</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceIdentifier</name>
            <value>
                <elementReference>ServiceIdentifier</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CreatedItens</assignToReference>
            <name>SavedCharges</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PREVER001</name>
        <label>PREVER001 - PID</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>dcPREVER001PID</targetReference>
        </connector>
        <flowName>DisputeGeneralPID</flowName>
        <inputAssignments>
            <name>allowReExecution</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PREVER001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPREVER001PID</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PREVER001_1</name>
        <label>PREVER001.1</label>
        <locationX>226</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>dcPREVER001_1</targetReference>
        </connector>
        <flowName>DisputeCheckInvocesDiscount</flowName>
        <inputAssignments>
            <name>allowReExecution</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isColab</name>
            <value>
                <elementReference>isColab</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PREVER001.1</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPREVER001_1</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputedFixedConvergent</name>
        <label>Contestação - Fixa/Convergente - Alçada Zero</label>
        <locationX>226</locationX>
        <locationY>2006</locationY>
        <flowName>DisputeFixedConvergentZeroElevation</flowName>
        <inputAssignments>
            <name>callActive</name>
            <value>
                <elementReference>callActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfPREVER001_3</name>
        <label>PREVER001.3</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <flowName>generalServiceDefinition</flowName>
        <inputAssignments>
            <name>definicaoAtendimento</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_VPR_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Itens de fatura selecionados</description>
        <name>AllSelections</name>
        <apexClass>DisputeChargeModelList</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2CValidaGrupo006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER001_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER001_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER001_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPREVER001PID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedItens</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DisputedItem__c</objectType>
    </variables>
    <variables>
        <name>isColab</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedItens</name>
        <apexClass>DisputeChargeModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
