force-app/main/default/flows/DisputeFixedValidateDiscounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcDESCONTO0001</name>
        <label>M) O valor de Desconto está refletido na Fatura?</label>
        <locationX>1326</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>DESCONTO007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO0001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDESCONTO002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO002</name>
        <label>M) Valor do desconto identificado na fatura esta correto?</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfDESCONTO006</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valor refletido é divergente</defaultConnectorLabel>
        <rules>
            <name>dcReflectedValueIsProportional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valor refletido é proporcional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDESCONTO003</targetReference>
            </connector>
            <label>Valor refletido é Proporcional</label>
        </rules>
        <rules>
            <name>dcReflectedValueIsCorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valor refletido está correto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_DESC_001</targetReference>
            </connector>
            <label>Valor refletido é correto</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO003</name>
        <label>M) Trata-se de Pró-rata término de período de Desconto?</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfDESCONTO004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfConcessao1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO004</name>
        <label>M) Trata-se de Pró-rata de Entrada do Período/Ciclo de Desconto?</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfDESCONTO005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO004yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfConcessao2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO005</name>
        <label>M) Trata-se de Pró-rata término de período de Desconto?</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>sfConcessao3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO005Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DESCONTO007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO006</name>
        <label>M) Desconto inserido está Divergente do Acordado?</label>
        <locationX>1414</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfConcessao4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDesconto006yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>geATC_FX_FIN_CONT_AJ_DESC_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO007</name>
        <label>M) Desconto Ativo no Sistema com data de ativação dentro do período de faturamento?</label>
        <locationX>1326</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>sfDESCONTO009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não existe desconto ativo</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO007ActivatedDuringBillingCycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO007</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim, ativo - Ativado dentro do ciclo de faturamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_DESC_002</targetReference>
            </connector>
            <label>Sim, ativo - Ativado dentro do ciclo de faturamento</label>
        </rules>
        <rules>
            <name>dcDESCONTO007ActivatedAfterBillingCycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO007</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim, ativo - Ativado depois do fechamento do ciclo de faturamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDESCONTO008</targetReference>
            </connector>
            <label>Sim, ativo - Ativado depois do fechamento do ciclo de faturamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO008</name>
        <label>M) Existiu ordem pendente dentro do ciclo de faturamento relacionado ao desconto?</label>
        <locationX>835</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>sfConcessao6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO008Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO008</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_DESC_012</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO009</name>
        <label>M) O Desconto é Elegível ao Plano?</label>
        <locationX>2212</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_DESC_005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO009Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO009</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDESCONTO010</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO010</name>
        <label>M) O Desconto é vigente na Política?</label>
        <locationX>1874</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_DESC_006</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>DESCONTO010Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDESCONTO011</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO011</name>
        <label>M) O período da vigência do Desconto Expirou?</label>
        <locationX>1462</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>sfDESCONTO012</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO011Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO011</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_DESC_007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO012</name>
        <label>M) O Desconto foi concedido e não consta na linha do cliente?</label>
        <locationX>1693</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>sfDESCONTO013</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO012Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO012</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_DESC_003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcDESCONTO013</name>
        <label>M) Verifique no Next em Notas, existe alguma interação na data mencionada pelo cliente?</label>
        <locationX>1891</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>sfConcessao5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcDESCONTO013Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearDESCONTO013</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_DESC_004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - Validações de descontos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Validações de descontos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>geATC_FX_FIN_CONT_AJ_DESC_001</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-DESC-001</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_AJ_DESC_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-DESC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_DESC_002</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-DESC-002</label>
        <locationX>439</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItemATC_FX_FIN_CONT_AJ_DESC_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-DESC-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_DESC_003</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-DESC-003</label>
        <locationX>1495</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedIteATC_FX_FIN_CONT_AJ_DESC_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-DESC-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_DESC_004</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-DESC-004</label>
        <locationX>1759</locationX>
        <locationY>3254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItemATC_FX_FIN_CONT_AJ_DESC_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-DESC-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_DESC_012</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-DESC-012</label>
        <locationX>703</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItemATC_FX_FIN_CONT_AJ_DESC_012</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-DESC-012</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_DESC_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-DESC-001</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_DESC_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_DESC_005</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-DESC-005</label>
        <locationX>2551</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItemATC_FX_FIN_CONT_NEG_DESC_005</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_DESC_006</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-DESC-006</label>
        <locationX>2287</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItemATC_FX_FIN_CONT_NEG_DESC_006</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-006</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_DESC_007</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-DESC-007</label>
        <locationX>1231</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItemATC_FX_FIN_CONT_NEG_DESC_007</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-007</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grDisputedItem</name>
        <label>Carregar Item Contestado</label>
        <locationX>1326</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDESCONTO001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DESCONTO007</name>
        <label>DESCONTO007</label>
        <locationX>1326</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>dcDESCONTO007</targetReference>
        </connector>
        <flowName>DisputeCheckDiscountHasBeenActivatedDuringBillingCycle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas ordens retornadas abaixo se a data de ativação do desconto foi dentro do período de faturamento.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Desconto Ativo no Sistema com data de ativação dentro do período de faturamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO007</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO007</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_AJ_DESC_001</name>
        <label>ATC-FX-FIN-CONT-AJ-DESC-001</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>geATC_FX_FIN_CONT_AJ_DESC_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_DESC_001</name>
        <label>ATC-FX-FIN-CONT-NEG-DESC-001</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_DESC_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcessao1</name>
        <label>Concessão</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-DESC-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcessao2</name>
        <label>Concessão</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-DESC-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcessao3</name>
        <label>Concessão</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-DESC-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-DESC-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcessao4</name>
        <label>Concessão</label>
        <locationX>1546</locationX>
        <locationY>890</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-DESC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-DESC-002</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcessao5</name>
        <label>Concessão</label>
        <locationX>2023</locationX>
        <locationY>3254</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-DESC-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-DESC-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-005</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-DESC-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-DESC-004</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfConcessao6</name>
        <label>Concessão</label>
        <locationX>967</locationX>
        <locationY>2390</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-DESC-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-DESC-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-DESC-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-DESC-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-DESC-003</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO001</name>
        <label>DESCONTO001</label>
        <locationX>1326</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcDESCONTO0001</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Valide na fatura se o valor do desconto está refletido.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O valor de Desconto está refletido na Fatura?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO002</name>
        <label>DESCONTO002</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcDESCONTO002</targetReference>
        </connector>
        <flowName>DisputeCheckDiscountHasBeenIdentifiedOnTheInvoice</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Valide na fatura se o valor do desconto está correto.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Valor do desconto identificado na fatura está correto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO003</name>
        <label>DESCONTO003</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcDESCONTO003</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Confirme na fatura se o motivo da contestação é devido ao termino dos descontos/benefícios.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Trata-se de Pró-rata término de período de Desconto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO004</name>
        <label>DESCONTO004</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcDESCONTO004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Confirme na fatura se o motivo da contestação é devido ao termino dos descontos/benefícios.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Trata-se de Pró-rata de Entrada do Período/Ciclo de Desconto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO005</name>
        <label>DESCONTO005</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcDESCONTO005</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Confirme na fatura se o motivo da contestação é devido ao termino dos descontos/benefícios.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Trata-se de Pró-rata término de período de Desconto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO006</name>
        <label>DESCONTO006</label>
        <locationX>1414</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcDESCONTO006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura se o desconto inserido está divergente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Desconto inserido está Divergente do Acordado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO008</name>
        <label>DESCONTO008</label>
        <locationX>835</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>dcDESCONTO008</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existiu ordem pendente dentro do ciclo de faturamento relacionado ao desconto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO008</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO008</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO009</name>
        <label>DESCONTO009</label>
        <locationX>2212</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>dcDESCONTO009</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verificar a elegibilidade no Book de Ofertas no Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O Desconto é Elegível ao Plano?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO009</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO009</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO010</name>
        <label>DESCONTO010</label>
        <locationX>1874</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>dcDESCONTO010</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique a politica de desconto no book de oferta. Desconto é vigente na politica?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O Desconto é vigente na Política?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO010</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO010</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO011</name>
        <label>DESCONTO011</label>
        <locationX>1462</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>dcDESCONTO011</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique no Book de ofertas o período de vigência do desconto.  Vigência do desconto que consta em fatura está expirado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O período da vigência do Desconto Expirou?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO011</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO011</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO012</name>
        <label>DESCONTO012</label>
        <locationX>1693</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>dcDESCONTO012</targetReference>
        </connector>
        <flowName>DisputeCheckThereIsDiscountInCustomerLine</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na tela de interações Next se o Desconto foi concedido e não consta na linha do cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O Desconto foi concedido e não consta na linha do cliente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO012</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO012</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDESCONTO013</name>
        <label>DESCONTO013</label>
        <locationX>1891</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>dcDESCONTO013</targetReference>
        </connector>
        <flowName>DisputeCheckThereIsDiscountInCustomerLine</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na tela &quot;Histórico de Interações do Next&quot; presente no fluxo Salesforce, se existe algum  registro de interação na data mencionada pelo cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique no Next em Notas, existe alguma interação na data mencionada pelo cliente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>DESCONTO013</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearDESCONTO013</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedIteATC_FX_FIN_CONT_AJ_DESC_003</name>
        <label>ATC-FX-FIN-CONT-AJ-DESC-003</label>
        <locationX>1495</locationX>
        <locationY>3146</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_DESC_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItemATC_FX_FIN_CONT_AJ_DESC_002</name>
        <label>ATC-FX-FIN-CONT-AJ-DESC-002</label>
        <locationX>439</locationX>
        <locationY>2282</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_DESC_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItemATC_FX_FIN_CONT_AJ_DESC_004</name>
        <label>ATC-FX-FIN-CONT-AJ-DESC-004</label>
        <locationX>1759</locationX>
        <locationY>3362</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_DESC_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItemATC_FX_FIN_CONT_AJ_DESC_012</name>
        <label>ATC-FX-FIN-CONT-AJ-DESC-012</label>
        <locationX>703</locationX>
        <locationY>2498</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_DESC_012</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItemATC_FX_FIN_CONT_NEG_DESC_005</name>
        <label>ATC-FX-FIN-CONT-NEG-DESC-005</label>
        <locationX>2551</locationX>
        <locationY>2498</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_DESC_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItemATC_FX_FIN_CONT_NEG_DESC_006</name>
        <label>ATC-FX-FIN-CONT-NEG-DESC-006</label>
        <locationX>2287</locationX>
        <locationY>2714</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_DESC_006</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItemATC_FX_FIN_CONT_NEG_DESC_007</name>
        <label>ATC-FX-FIN-CONT-NEG-DESC-007</label>
        <locationX>1231</locationX>
        <locationY>2930</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_DESC_007</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearDESCONTO001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO007</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO008</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO009</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO011</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO012</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearDESCONTO013</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
