force-app/main/default/flows/DisputeCaseUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Contestação - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Atendimento Geral - Atualização de Caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>upUpdateCase</name>
        <label>upUpdateCase</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClosureLegacySystem__c</field>
            <value>
                <stringValue>NEXT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosureMapping__c</field>
            <value>
                <elementReference>serviceDefinition.ClosureMapping__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closure__c</field>
            <value>
                <elementReference>serviceDefinition.Closure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Context__c</field>
            <value>
                <elementReference>serviceDefinition.Context__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestObservation__c</field>
            <value>
                <elementReference>serviceDefinition.AttendantMessage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDefinitionId__c</field>
            <value>
                <elementReference>serviceDefinition.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>upUpdateDisputedItems</name>
        <label>upUpdateDisputedItems</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>upUpdateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceDefinitionId__c</field>
            <value>
                <elementReference>serviceDefinition.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>serviceDefinition.StatusItem__c</elementReference>
            </value>
        </inputAssignments>
        <object>DisputedItem__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>upUpdateDisputedItems</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceDefinition__c</objectType>
    </variables>
</Flow>
