force-app/main/default/flows/DisputeFixedInsurance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcAnswearSEGUROF001</name>
        <label>M) Qual motivo de contestação de seguro?</label>
        <locationX>1155</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfBooleanGenericManualActionSEGUROF008</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cobrança duplicada</defaultConnectorLabel>
        <rules>
            <name>answearSEGUROF001IncorrectValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSEGUROF001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valor Incorreto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionSEGUROF002</targetReference>
            </connector>
            <label>Valor Incorreto</label>
        </rules>
        <rules>
            <name>answearSEGUROF001DoNotRecognize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSEGUROF001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não Reconhece contratação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionSEGUROF006</targetReference>
            </connector>
            <label>Não Reconhece contratação</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearSEGUROF002</name>
        <label>M) Cliente contesta pois afirma que valor do seguro está incorreto?</label>
        <locationX>545</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SEG_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearSEGUROF002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSEGUROF002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionSEGUROF003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearSEGUROF003</name>
        <label>M) Informar que as informações sobre o seguro devem ser feito contato com MAPFRE. Cliente ciente?</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfBooleanGenericManualActionSEGUROF004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearSEGUROF003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSEGUROF003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_SEG_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearSEGUROF004</name>
        <label>M) Informe ao cliente que o seguro será cancelado automaticamente após a contestação. Cliente aceita?</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SEG_003</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearSEGUROF004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSEGUROF004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfOnlyTrueGenericManualActionSEGUROF005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearSEGUROF006</name>
        <label>M) Informe ao cliente que o seguro será cancelado automaticamente após a contestação. Cliente ciente?</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_SEG_004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>AnswearSEGUROF006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSEGUROF006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfOnlyTrueGenericManualActionSEGUROF007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearSEGUROF008</name>
        <label>M) As cobranças são referentes a períodos diferentes?</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfOnlyTrueGenericManualActionSEGUROF009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearSEGUROF008Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearSEGUROF008</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_SEG_005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <interviewLabel>Contestação - Fixa/Convergente - Seguros Fixa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Seguros Fixa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SEG_001</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SEG-001</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_SEG_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SEG-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SEG_002</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SEG-002</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_SEG_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SEG-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_SEG_003</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-SEG-003</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_SEG_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-SEG-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SEG_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SEG-001</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SEG-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SEG_002</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SEG-002</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SEG-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SEG_003</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SEG-003</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SEG-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SEG_004</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SEG-004</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SEG-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_SEG_005</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-SEG-005</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_005</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-SEG-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grDisputedItem</name>
        <label>Carregar Item Contestado</label>
        <locationX>1155</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeFixedInsuranceDisputedReasonSEGUROF001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1029</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfBooleanGenericManualActionSEGUROF002</name>
        <label>SEGUROF002</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcAnswearSEGUROF002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente contesta pois afirma que valor do seguro está incorreto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSEGUROF002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionSEGUROF003</name>
        <label>SEGUROF003</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcAnswearSEGUROF003</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe o cliente que as informações sobre o seguro devem ser feito contato direto com o parceiro MAPFRE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informar que as informações sobre o seguro devem ser feito contato com MAPFRE. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSEGUROF003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionSEGUROF004</name>
        <label>SEGUROF004</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcAnswearSEGUROF004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe o cliente que o cancelamento do seguro será automático em caso de contestação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe ao cliente que o seguro será cancelado automaticamente após a contestação. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSEGUROF004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionSEGUROF006</name>
        <label>SEGUROF006</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcAnswearSEGUROF006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe o cliente que o cancelamento do seguro será automático em caso de contestação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe ao cliente que o seguro será cancelado automaticamente após a contestação. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSEGUROF006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionSEGUROF008</name>
        <label>SEGUROF008</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcAnswearSEGUROF008</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Na aba Faturas na Salesforce, com o cliente posicionado, verifique o período das faturas </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>As cobranças são referentes a períodos diferentes?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF008</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSEGUROF008</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedInsuranceDisputedReasonSEGUROF001</name>
        <label>SEGUROF001</label>
        <locationX>1155</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcAnswearSEGUROF001</targetReference>
        </connector>
        <flowName>DisputeFixedInsuranceDisputedReason</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Questione o cliente se ele contesta seguro da Fixa (MAPFRE)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Qual motivo de contestação de seguro?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearSEGUROF001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_SEG_001</name>
        <label>ATC-FX-FIN-CONT-AJ-SEG-001</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SEG_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_SEG_002</name>
        <label>ATC-FX-FIN-CONT-AJ-SEG-002</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SEG_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_SEG_003</name>
        <label>ATC-FX-FIN-CONT-AJ-SEG-003</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_SEG_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_001</name>
        <label>ATC-FX-FIN-CONT-NEG-SEG-001</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SEG_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_002</name>
        <label>ATC-FX-FIN-CONT-NEG-SEG-002</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SEG_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_003</name>
        <label>ATC-FX-FIN-CONT-NEG-SEG-003</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SEG_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_004</name>
        <label>ATC-FX-FIN-CONT-NEG-SEG-004</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SEG_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_SEG_005</name>
        <label>ATC-FX-FIN-CONT-NEG-SEG-005</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_SEG_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfOnlyTrueGenericManualActionSEGUROF005</name>
        <label>SEGUROF005</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_AJ_SEG_001</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe o cliente que em sua próxima fatura ainda poderá ter a mensalidade cobrada de forma integral pois não existe cobrança Pró-Rata para este serviço.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe o cliente que ainda poderá ter a mensalidade cobrada de forma integral na próxima fatura, pois não existe cobrança pro rata para este serviço. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF005</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfOnlyTrueGenericManualActionSEGUROF007</name>
        <label>SEGUROF007</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_AJ_SEG_002</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe o cliente que em sua próxima fatura ainda poderá ter a mensalidade cobrada de forma integral pois não existe cobrança Pró-Rata para este serviço.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe o cliente que ainda poderá ter a mensalidade cobrada de forma integral na próxima fatura, pois não existe cobrança pro rata para este serviço. Cliente ciente? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF007</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfOnlyTrueGenericManualActionSEGUROF009</name>
        <label>SEGUROF009</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>sfOnlyTrueGenericManualActionSEGUROF010</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Na aba Faturas na Salesforce, com o cliente posicionado, verifique o período das faturas </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe ao cliente que o seguro que está duplicado será cancelado </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF009</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfOnlyTrueGenericManualActionSEGUROF010</name>
        <label>SEGUROF010</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_AJ_SEG_003</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe o cliente que em sua próxima fatura ainda poderá ter a mensalidade cobrada de forma integral pois não existe cobrança Pró-Rata para este serviço.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe o cliente que ainda poderá ter a mensalidade cobrada de forma integral na próxima fatura, pois não existe cobrança pro rata para este serviço. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>SEGUROF010</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>answearSEGUROF001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSEGUROF002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSEGUROF003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSEGUROF004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSEGUROF006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearSEGUROF008</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
