force-app/main/default/flows/DisputeMobileConnections.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcLIGACAO0001</name>
        <label>M) Chamada contestada é para número especial?</label>
        <locationX>561</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfLIGACAO0002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcLIGACAO0001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearLIGACAO0001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfLIGACAO0003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcLIGACAO0002</name>
        <label>M) Cliente utilizou CSP 15?</label>
        <locationX>941</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfFluxoDeConcessao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcLIGACAO0002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearLIGACAO0002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfLIGACAO0006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcLIGACAO0003</name>
        <label>M) Ligação é para Números de emergência e utilidade pública, isentos de tarifação?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfFluxoDeConcessao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcLIGACAO0003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearLIGACAO0003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_MVL_FIN_CONT_AJ_LIG_MOVEL_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcLIGACAO0004</name>
        <label>M) Número de franquia excedido?</label>
        <locationX>622</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Carregar_ATC_MVL_FIN_CONT_AJ_LIG_MOVEL_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcLIGACAO0004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearLIGACAO0004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfLIGACAO0005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcLIGACAO0006</name>
        <label>M) Ligações contestadas são LDI?</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Carregar_ATC_MVL_FIN_CONT_AJ_LIG_MOVEL_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcLIGACAO0006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearLIGACAO0006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfLIGACAO0004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Móvel - Ligações Móvel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Móvel - Ligações Móvel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Carregar_ATC_MVL_FIN_CONT_AJ_LIG_MOVEL_002</name>
        <label>Carregar ATC-MVL-FIN-CONT-AJ-LIG-MOVEL-002</label>
        <locationX>776</locationX>
        <locationY>1448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exibir_ATC_MVL_FIN_CONT_AJ_LIG_MOVEL_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-LIG-MOVEL-002</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_MVL_FIN_CONT_AJ_LIG_MOVEL_001</name>
        <label>Carregar ATC-MVL-FIN-CONT-AJ-LIG-MOVEL-001</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_MVL_FIN_CONT_AJ_LIG_MOVEL_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-LIG-MOVEL-001</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grBuscarItemDisputado</name>
        <label>Buscar Item Disputado</label>
        <locationX>561</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfLIGACAO0001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>435</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grBuscarItemDisputado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Exibir_ATC_MVL_FIN_CONT_AJ_LIG_MOVEL_002</name>
        <label>Exibir ATC-MVL-FIN-CONT-AJ-LIG-MOVEL-002</label>
        <locationX>776</locationX>
        <locationY>1556</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grBuscarItemDisputado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_MVL_FIN_CONT_AJ_LIG_MOVEL_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_MVL_FIN_CONT_AJ_LIG_MOVEL_001</name>
        <label>ATC-MVL-FIN-CONT-AJ-LIG-MOVEL-001</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grBuscarItemDisputado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_MVL_FIN_CONT_AJ_LIG_MOVEL_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfFluxoDeConcessao</name>
        <label>Fluxo de Concessão</label>
        <locationX>561</locationX>
        <locationY>1940</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-TRANSF-LIG-MOVEL-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AC-LIG-MOVEL-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-LIG-MOVEL-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-RET-LIG-MOVEL-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-REINC-LIG-MOVEL-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfLIGACAO0001</name>
        <label>LIGACAO0001</label>
        <locationX>561</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcLIGACAO0001</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura contestada e confirme no portal se chamada contestada é referente a número especial.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Chamada contestada é para número especial?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>LIGACAO0001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearLIGACAO0001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfLIGACAO0002</name>
        <label>LIGACAO0002</label>
        <locationX>941</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcLIGACAO0002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura detalhada se o cliente utilizou CSP 15.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente utilizou CSP 15?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>LIGACAO0002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearLIGACAO0002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfLIGACAO0003</name>
        <label>LIGACAO0003</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcLIGACAO0003</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura contestada e confirme no portal se chamada contestada é referente a números de emergência e utilidade pública, isentos de tarifação.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Ligação é para Números de emergência e utilidade pública, isentos de tarifação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>LIGACAO0003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearLIGACAO0003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfLIGACAO0004</name>
        <label>LIGACAO0004</label>
        <locationX>622</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcLIGACAO0004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura detalhada, se a chamada contestada excedeu o limite da franquia do plano.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Número de franquia excedido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>LIGACAO0004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearLIGACAO0004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfLIGACAO0005</name>
        <label>LIGACAO0005</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>sfFluxoDeConcessao</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informar o cliente que os valores das ligações são EXCEDENTES a franquia contratada.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>LIGACAO0005</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfLIGACAO0006</name>
        <label>LIGACAO0006</label>
        <locationX>776</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcLIGACAO0006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura detalhada se o cliente realizou chamada LDI.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Ligações contestadas são LDI?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>LIGACAO0006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearLIGACAO0006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>answearLIGACAO0001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearLIGACAO0002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearLIGACAO0003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearLIGACAO0004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearLIGACAO0006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
