force-app/main/default/flows/DisputeFixedBroadbandHA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>acRetrieveOrderDetailsController</name>
        <label>Retrieve Order Details Controller</label>
        <locationX>204</locationX>
        <locationY>2666</locationY>
        <actionName>RetrieveOrderDetailsController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dcOrderCancelamento</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderNumber</name>
            <value>
                <elementReference>orderNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RetrieveOrderDetailsController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sfVerificaSeOrdemEstaCancelada</name>
        <label>Verifica se Ordem está Cancelada</label>
        <locationX>402</locationX>
        <locationY>1766</locationY>
        <actionName>CancelledOrdersController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopPercorreListaRetornoController</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>customerAccountId</name>
            <value>
                <elementReference>grBuscarItemContestado.CustomerAccountId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>grBuscarItemContestado.BillingEndDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceId</name>
            <value>
                <elementReference>grBuscarItemContestado.InstanceProduct__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>grBuscarItemContestado.BillingStartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>types</name>
            <value>
                <elementReference>types</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CancelledOrdersController</nameSegment>
        <outputParameters>
            <assignToReference>listOrder</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asSetActionAnswear</name>
        <label>Definir resposta da ação</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Answer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>asSetActionStepHistory</name>
        <label>Recuperar Id do histórico de execução de ação</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>actionStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcIsNecessaryStepReExecution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetFlowStepHistoryIdByCaseId</name>
        <label>Recuperar Id do histórico de execução</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetStepHistoryByCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetFlowStepHistoryIdByDisputedItemIdAndCaseId</name>
        <label>Recuperar Id do histórico de execução</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetStepHistoryByDisputedItemIdAndCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderCancelamento</name>
        <label>Order de Cancelamento</label>
        <locationX>72</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MOCK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderNaoECancelamento</name>
        <label>Order de não é de Cancelamento</label>
        <locationX>336</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MOCK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVariavelTipoCE</name>
        <label>Variável do Tipo CE</label>
        <locationX>930</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>resOrderCE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grBuscarItemContestado.CustomerAccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPercorreListaRetornoController.referenceNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPercorreListaOrderItens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuindoValorVariaveisStatusTypes</name>
        <label>Atribuindo Valor as Variáveis Status e Types</label>
        <locationX>402</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CLOSED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sfVerificaSeOrdemEstaCancelada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MOCK</name>
        <label>MOCK</label>
        <locationX>402</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcIsThereActionStepHistory2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcIsNecessaryStepReExecution</name>
        <label>É necessário reexecutar esta etapa do fluxo?</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>asSetActionAnswear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsNecessaryStepReExecutionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowReExecution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grBuscarItemContestado</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsThereActionStepHistory</name>
        <label>Existe histórico de execução de ação</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>grBuscarItemContestado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsThereActionStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grGetActionStepHistory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsThereActionStepHistory2</name>
        <label>Existe histórico de execução de ação?</label>
        <locationX>402</locationX>
        <locationY>3266</locationY>
        <defaultConnector>
            <targetReference>crCreateActionStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsThereActionStepHistory2Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>urUpdateActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcOrderCancelamento</name>
        <label>Order é de Cancelamento?</label>
        <locationX>204</locationX>
        <locationY>2774</locationY>
        <defaultConnector>
            <targetReference>assignOrderNaoECancelamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcOrderCancelamentoYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>acRetrieveOrderDetailsController.itemName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banda Larga</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>acRetrieveOrderDetailsController.implActionTypeX9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMOVE_PRODUCT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOrderCancelamento</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcOrderTipoCE</name>
        <label>Order do Tipo CE?</label>
        <locationX>402</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>MOCK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>DecisionSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resOrderCE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>acRetrieveOrderDetailsController</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcThereIsDisputedItem</name>
        <label>Existe item a ser contestado?</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>grGetStepHistoryByCaseId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcThereIsDisputedItemYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>disputItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetStepHistoryByDisputedItemIdAndCaseId</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaSeOrderTypeCE</name>
        <label>Valida se o Order Type e CE?</label>
        <locationX>1062</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>loopPercorreListaOrderItens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaSeOrderTypeCEYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopPercorreListaOrderItens.implOrderTypeX9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignVariavelTipoCE</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsThereStepHistory</name>
        <label>Existe histórico de execução</label>
        <locationX>402</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>crCreateStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>decIsThereStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - Planos Fixa - DisputeFixedBroadbandHA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Planos Fixa - Houve cancelamento da banda larga durante período de faturamento?</label>
    <loops>
        <name>loopPercorreListaOrderItens</name>
        <label>Percorre a Lista de Order Itens</label>
        <locationX>842</locationX>
        <locationY>1982</locationY>
        <collectionReference>loopPercorreListaRetornoController.itens</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dcValidaSeOrderTypeCE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopPercorreListaRetornoController</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopPercorreListaRetornoController</name>
        <label>Percorre Lista de Retorno da Controller</label>
        <locationX>402</locationX>
        <locationY>1874</locationY>
        <collectionReference>listOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopPercorreListaOrderItens</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcOrderTipoCE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crCreateActionStepHistory</name>
        <label>Criar histórico de execução de ação</label>
        <locationX>534</locationX>
        <locationY>3374</locationY>
        <assignRecordIdToReference>actionStepHistoryId</assignRecordIdToReference>
        <connector>
            <targetReference>sfGenericAutomaticAction</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowExecutionStepHistory__c</field>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordCreates>
    <recordCreates>
        <name>crCreateStepHistory</name>
        <label>Criar histórico de execução</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignRecordIdToReference>flowStepHistoryId</assignRecordIdToReference>
        <connector>
            <targetReference>grBuscarItemContestado</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisputedItem__c</field>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>step</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionStepHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>grBuscarItemContestado</name>
        <label>Buscar Item Contestado</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuindoValorVariaveisStatusTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetActionStepHistory</name>
        <label>Buscar histórico de execução de ação</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcIsThereActionStepHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowExecutionStepHistory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>question</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionActionHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetStepHistoryByCaseId</name>
        <label>Buscar histórico de execução pelo caso</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asSetFlowStepHistoryIdByCaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetStepHistoryByDisputedItemIdAndCaseId</name>
        <label>Buscar histórico de execução pelo item contestado e caso</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asSetFlowStepHistoryIdByDisputedItemIdAndCaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisputedItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>urUpdateActionStepHistory</name>
        <label>Atualizar histórico de execução de ação</label>
        <locationX>270</locationX>
        <locationY>3374</locationY>
        <connector>
            <targetReference>sfGenericAutomaticAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionStepHistoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcThereIsDisputedItem</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>sfGenericAutomaticAction</name>
        <label>Ação automática</label>
        <locationX>402</locationX>
        <locationY>3566</locationY>
        <flowName>GenericAutomaticaAction</flowName>
        <inputAssignments>
            <name>answear</name>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <elementReference>question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <elementReference>step</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allowReExecution</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>answear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOrder</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Houve cancelamento da banda larga durante período de faturamento?</stringValue>
        </value>
    </variables>
    <variables>
        <name>resOrderCE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>types</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
