force-app/main/default/flows/DisputeCheckLast45Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Existe_contesta_o_nos_ltimos_45_dias</name>
        <label>Existe contestação nos últimos 45 dias?</label>
        <locationX>435</locationX>
        <locationY>1982</locationY>
        <actionName>DisputeCheckLast45Days</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dcIsThereActionStepHistory2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>grAccountCaseDisputedItem.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>grDescription.Description__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DisputeCheckLast45Days</nameSegment>
        <outputParameters>
            <assignToReference>answear</assignToReference>
            <name>checaContestacao</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asSetActionAnswear</name>
        <label>Definir resposta da ação</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Answer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>asSetActionStepHistory</name>
        <label>Recuperar Id do histórico de execução de ação</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>actionStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcIsNecessaryStepReExecution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetFlowStepHistoryId</name>
        <label>Recuperar Id do histórico de execução</label>
        <locationX>248</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetStepHistoryByDisputedItemIdAndCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>grGetActionStepHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetFlowStepHistoryIdByCaseId</name>
        <label>Recuperar Id do histórico de execução</label>
        <locationX>567</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetStepHistoryByCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asSetFlowStepHistoryIdByDisputedItemIdAndCaseId</name>
        <label>Recuperar Id do histórico de execução</label>
        <locationX>303</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetStepHistoryByDisputedItemIdAndCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcIsNecessaryStepReExecution</name>
        <label>É necessário reexecutar esta etapa do fluxo?</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>asSetActionAnswear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsNecessaryStepReExecutionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowReExecution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsThereActionStepHistory</name>
        <label>Existe histórico de execução de ação</label>
        <locationX>248</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>getCaseDisputedItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsThereActionStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grGetActionStepHistory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsThereActionStepHistory2</name>
        <label>Existe histórico de execução de ação?</label>
        <locationX>435</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>crCreateActionStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsThereActionStepHistory2Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>urUpdateActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcThereIsDisputedItem</name>
        <label>Existe item a ser contestado?</label>
        <locationX>435</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>grGetStepHistoryByCaseId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcThereIsDisputedItemYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>disputItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetStepHistoryByDisputedItemIdAndCaseId</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsThereStepHistory</name>
        <label>Existe histórico de execução</label>
        <locationX>435</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>crCreateStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>decIsThereStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetFlowStepHistoryId</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GenerateAnswerFormula</name>
        <dataType>String</dataType>
        <expression>IF(({!CountDispute} &gt; 0), &quot;Sim&quot;, &quot;Não&quot;)</expression>
    </formulas>
    <formulas>
        <name>Last45Days</name>
        <dataType>Date</dataType>
        <expression>( {!$Flow.CurrentDate} - 45 )</expression>
    </formulas>
    <interviewLabel>Contestação - Ação Automática - Houve contestação nos últimos 45 dias? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Ação Automática - Houve contestação nos últimos 45 dias?</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crCreateActionStepHistory</name>
        <label>Criar histórico de execução de ação</label>
        <locationX>567</locationX>
        <locationY>2198</locationY>
        <assignRecordIdToReference>actionStepHistoryId</assignRecordIdToReference>
        <connector>
            <targetReference>sfGenericAutomaticAction</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowExecutionStepHistory__c</field>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordCreates>
    <recordCreates>
        <name>crCreateStepHistory</name>
        <label>Criar histórico de execução</label>
        <locationX>622</locationX>
        <locationY>650</locationY>
        <assignRecordIdToReference>flowStepHistoryId</assignRecordIdToReference>
        <connector>
            <targetReference>getCaseDisputedItem</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisputedItem__c</field>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>step</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionStepHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>getCaseDisputedItem</name>
        <label>Busca Caso relacionado ao Item contestado</label>
        <locationX>435</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>grAccountCaseDisputedItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grAccountCaseDisputedItem</name>
        <label>Busca Account relacionada ao Caso</label>
        <locationX>435</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>grDescription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCaseDisputedItem.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grDescription</name>
        <label>Busca Description do Item contestado</label>
        <locationX>435</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_contesta_o_nos_ltimos_45_dias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetActionStepHistory</name>
        <label>Buscar histórico de execução de ação</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcIsThereActionStepHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowExecutionStepHistory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>question</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionActionHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetStepHistoryByCaseId</name>
        <label>Buscar histórico de execução pelo caso</label>
        <locationX>567</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asSetFlowStepHistoryIdByCaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetStepHistoryByDisputedItemIdAndCaseId</name>
        <label>Buscar histórico de execução pelo item contestado e caso</label>
        <locationX>303</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asSetFlowStepHistoryIdByDisputedItemIdAndCaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisputedItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>urUpdateActionStepHistory</name>
        <label>Atualizar histórico de execução de ação</label>
        <locationX>303</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>sfGenericAutomaticAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionStepHistoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordUpdates>
    <start>
        <locationX>309</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcThereIsDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfGenericAutomaticAction</name>
        <label>Ação Automática</label>
        <locationX>435</locationX>
        <locationY>2390</locationY>
        <flowName>GenericAutomaticaAction</flowName>
        <inputAssignments>
            <name>answear</name>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <elementReference>question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <elementReference>step</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>actionStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allowReExecution</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>answear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountDispute</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>disputItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A) Verificar se houve contestação nos últimos 45 dias, do mesmo item e fatura?</stringValue>
        </value>
    </variables>
    <variables>
        <name>step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
