force-app/main/default/flows/DisputeFixedUnsolicited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcAnswearValidaPlanoNsol009</name>
        <label>M) Oriente o cliente sobre as características do plano. Cliente deseja permanecer com o serviço como está?</label>
        <locationX>567</locationX>
        <locationY>4946</locationY>
        <defaultConnector>
            <targetReference>sfDisputeFixedConvergentConcession009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearValidaPlanoNsol009Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol009</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_FRD_008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearValidaPlanoNsol018</name>
        <label>A) Existe registro de BIOMETRIA realizada pelo cliente?</label>
        <locationX>1579</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfDisputeCheckContractsHistoryPLANO_FIXA_NSOL_020</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearValidaPlanoNsol018Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol018</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_023</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearValidaPlanoNsol020</name>
        <label>A) Verifique no GEDOC se evidência da alteração de plano que cliente desconhece. Existe evidência?</label>
        <locationX>1749</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfDisputeCheckThereIsDiscountInCustomerLinePLANO_FIXA_NSOL_021</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearValidaPlanoNsol020Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol020</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_023</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearValidaPlanoNsol021</name>
        <label>M) Verfique em notas no Next se existe evidência da alteração de plano que o cliente desconhece. Existe evidência?</label>
        <locationX>1914</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_022</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearValidaPlanoNsol021Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol021</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_023</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearValidaPlanoNsol022</name>
        <label>M) Oriente o cliente sobre as características do plano. Cliente deseja permanecer com o serviço como está?</label>
        <locationX>2068</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_AJ_FRD_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearValidaPlanoNsol022Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol022</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_FRD_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearValidaPlanoNsol023</name>
        <label>M) Argumente com o cliente que foi identificado evidência de alteração do plano. Cliente Aceita?</label>
        <locationX>2065</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>sfDisputeFixedConvergentConcession023</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearValidaPlanoNsol023Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol023</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_024</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcAnswearValidaPlanoNsol024</name>
        <label>M) Oriente o cliente sobre as características do plano. Cliente deseja permanecer com o serviço como está?</label>
        <locationX>1867</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>sfDisputeFixedConvergentConcession024</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAnswearValidaPlanoNsol024Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol024</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_FRD_007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPLANO_FIXA_NSOL_012</name>
        <label>A) Produto está ativo no momento da contestação?</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>sfConcession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPLANO_FIXA_NSOL_012Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol012</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_NEG_FRD_005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol001</name>
        <label>M) Cliente não reconhece Habilitação ou Troca de Plano?</label>
        <locationX>1316</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfPLANO_FIXA_NSOL_017</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Troca de Plano</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol001NewLicense</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nova Habilitação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPLANO_FIXA_NSOL_002</targetReference>
            </connector>
            <label>Nova Habilitação</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol002</name>
        <label>A) Existe ordem de Nova Alta de produto Fixa durante o ciclo de faturamento?</label>
        <locationX>567</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfPLANO_FIXA_NSOL_013</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPLANO_FIXA_NSOL_003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol003</name>
        <label>A) Existe registro de BIOMETRIA realizada pelo cliente?</label>
        <locationX>567</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>sfDisputeCheckContractsHistoryPLANO_FIXA_NSOL_004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPLANO_FIXA_NSOL_010</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol004</name>
        <label>M) Verifique no GEDOC. Existe evidência de contratação?</label>
        <locationX>567</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>sfDisputeCheckThereIsDiscountInCustomerLinePLANO_FIXA_NSOL_005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_009</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol005</name>
        <label>M) Verifique em notas no Next. Existe evidência de contratação?</label>
        <locationX>869</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>sfDisputeManualCreateFraudCaseAmdocsPLANO_FIXA_NSOL_007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol005Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol006</name>
        <label>M) Argumente com o cliente sobre a contratação realizada. Cliente ainda alega que desconhece contratação?</label>
        <locationX>594</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>sfDisputeManualCreateFraudCaseAmdocsPLANO_FIXA_NSOL_007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_009</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol007</name>
        <label>A) Realizada abertura de Caso de Fraude no Next com sucesso?</label>
        <locationX>748</locationX>
        <locationY>4070</locationY>
        <defaultConnector>
            <targetReference>grATC_FIXA_FIN_CONT_NEG_FRD_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol007Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol007</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FIXA_FIN_CONT_NEG_FRD_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol010</name>
        <label>M) A Biometria identificada tem relação com a Nova Alta?</label>
        <locationX>380</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>sfDisputeCheckContractsHistoryPLANO_FIXA_NSOL_004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol010Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPLANO_FIXA_NSOL_011</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol013</name>
        <label>A)  Produto está ativo no momento da contestação?</label>
        <locationX>902</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>sfDisputeFixedNonPayment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol013Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol013</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sbDisputeFixedPendingCancellation</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol014</name>
        <label>A) Existe ordem de cancelamento pendente ou em vôo no Next?</label>
        <locationX>693</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>sfDisputeCheckThereIsDiscountInCustomerLinePLANO_FIXA_NSOL_005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol014Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol014</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeFixedNonPayment</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol015</name>
        <label>A) Verifique se no Next se o motivo do cancelamento está relacionado à falta de pagamentos das faturas, conforme o HINT. Entendido?</label>
        <locationX>539</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>sfPLANO_FIXA_NSOL_003</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol015Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol015</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_FRD_006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol017</name>
        <label>A) Houve Troca de Plano da Fixa dentro do ciclo de faturamento da fatura selecionada?</label>
        <locationX>2065</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfPLANO_FIXA_NSOL_025</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol017Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol017</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeCheckBiometryHistoryPLANO_FIXA_NSOL_018</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcValidaPlanoNsol026</name>
        <label>M) Foi identificado troca de plano que está impactando a fatura contestada?</label>
        <locationX>2552</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_022</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcValidaPlanoNsol026Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearValidaPlanoNsol026</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfBooleanGenericManualActionPLANO_FIXA_NSOL_023</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Versão para 370 371 e 372</description>
    <interviewLabel>Contestação - Fixa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa - Não Solicitou</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grATC_FIXA_FIN_CONT_NEG_FRD_001</name>
        <label>Carregar ATC-FIXA-FIN-CONT-NEG-FRD-001</label>
        <locationX>616</locationX>
        <locationY>4178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FIXA_FIN_CONT_NEG_FRD_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FIXA-FIN-CONT-NEG-FRD-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FIXA_FIN_CONT_NEG_FRD_002</name>
        <label>Carregar ATC-FIXA-FIN-CONT-NEG-FRD-002</label>
        <locationX>880</locationX>
        <locationY>4178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FIXA_FIN_CONT_NEG_FRD_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FIXA-FIN-CONT-NEG-FRD-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_FRD_001</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-FRD-001</label>
        <locationX>1936</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_FRD_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-FRD-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_FRD_002</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-FRD-002</label>
        <locationX>2200</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_FRD_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-FRD-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_FRD_006</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-FRD-006</label>
        <locationX>407</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_FRD_006</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-FRD-006</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_FRD_007</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-FRD-007</label>
        <locationX>1735</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_FRD_007</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-FRD-007</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_FRD_008</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-FRD-008</label>
        <locationX>435</locationX>
        <locationY>5054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_FRD_008</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-FRD-008</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grDisputedItem</name>
        <label>Carregar Item Contestado</label>
        <locationX>1316</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfPLANO_FIXA_NSOL_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_FRD_005</name>
        <label>ATC-FX-FIN-CONT-NEG-FRD-005</label>
        <locationX>50</locationX>
        <locationY>2738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItemATC_FX_FIN_CONT_NEG_FRD_005</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-FRD-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1190</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sbDisputeFixedPendingCancellation</name>
        <label>PLANO FIXA NSOL 014</label>
        <locationX>693</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol014</targetReference>
        </connector>
        <flowName>DisputeFixedPendingCancellation</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe ordem de cancelamento pendente ou em vôo no Next?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 014</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol014</assignToReference>
            <name>answear</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>order</assignToReference>
            <name>order</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FIXA_FIN_CONT_NEG_FRD_002</name>
        <label>ATC-FIXA-FIN-CONT-NEG-FRD-002</label>
        <locationX>880</locationX>
        <locationY>4286</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FIXA_FIN_CONT_NEG_FRD_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_FRD_006</name>
        <label>ATC-FX-FIN-CONT-NEG-FRD-006</label>
        <locationX>407</locationX>
        <locationY>1430</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_FRD_006</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionPLANO_FIXA_NSOL_006</name>
        <label>PLANO FIXA NSOL 006</label>
        <locationX>594</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Argumente com o cliente sobre a contratação realizada. Cliente ainda alega que desconhece contratação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionPLANO_FIXA_NSOL_009</name>
        <label>PLANO FIXA NSOL 009</label>
        <locationX>567</locationX>
        <locationY>4838</locationY>
        <connector>
            <targetReference>dcAnswearValidaPlanoNsol009</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Oriente o cliente sobre as características do plano. Cliente deseja permanecer com o serviço como está?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 009</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol009</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionPLANO_FIXA_NSOL_022</name>
        <label>PLANO FIXA NSOL 022</label>
        <locationX>2068</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcAnswearValidaPlanoNsol022</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique detalhadamente ao cliente quais são as características do plano e o questione se ele deseja permanecer com este plano.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Oriente o cliente sobre as características do plano. Cliente deseja permanecer com o serviço como está?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 022</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol022</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionPLANO_FIXA_NSOL_023</name>
        <label>PLANO FIXA NSOL 023</label>
        <locationX>2065</locationX>
        <locationY>2282</locationY>
        <connector>
            <targetReference>dcAnswearValidaPlanoNsol023</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique ao cliente que foi localizado registro sistêmico que comprova a alteração do plano.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Argumente com o cliente que foi identificado evidência de alteração do plano. Cliente Aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 023</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol023</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfBooleanGenericManualActionPLANO_FIXA_NSOL_024</name>
        <label>PLANO FIXA NSOL 024</label>
        <locationX>1867</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>dcAnswearValidaPlanoNsol024</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Oriente o cliente sobre as características do plano. Cliente deseja permanecer com o serviço como está?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 024</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol024</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfConcession</name>
        <label>Concessão</label>
        <locationX>314</locationX>
        <locationY>2738</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-FRD-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-FRD-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-FRD-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-FRD-004 </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-FRD-004</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckBiometryHistoryPLANO_FIXA_NSOL_018</name>
        <label>PLANO FIXA NSOL 018</label>
        <locationX>1579</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcAnswearValidaPlanoNsol018</targetReference>
        </connector>
        <flowName>DisputeCheckBiometryHistory</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>documentNumber</name>
            <value>
                <elementReference>grDisputedItem.CaseId__r.Account.DocumentNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe registro de BIOMETRIA realizada pelo cliente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 018</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol018</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckContractsHistoryPLANO_FIXA_NSOL_004</name>
        <label>PLANO FIXA NSOL 004</label>
        <locationX>567</locationX>
        <locationY>3314</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol004</targetReference>
        </connector>
        <flowName>DisputeCheckContractsHistory</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique no Salesforce, se existe evidência da contratação.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique no GEDOC. Existe evidência de contratação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckContractsHistoryPLANO_FIXA_NSOL_020</name>
        <label>PLANO FIXA NSOL 020</label>
        <locationX>1749</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcAnswearValidaPlanoNsol020</targetReference>
        </connector>
        <flowName>DisputeCheckContractsHistory</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique no GEDOC se evidência da alteração de plano que cliente desconhece. Existe evidência?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 020</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol020</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckThereIsDiscountInCustomerLinePLANO_FIXA_NSOL_005</name>
        <label>PLANO FIXA NSOL 005</label>
        <locationX>869</locationX>
        <locationY>3530</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol005</targetReference>
        </connector>
        <flowName>DisputeCheckThereIsDiscountInCustomerLine</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique em notas no Next. Existe evidência de contratação?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeCheckThereIsDiscountInCustomerLinePLANO_FIXA_NSOL_021</name>
        <label>PLANO FIXA NSOL 021</label>
        <locationX>1914</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcAnswearValidaPlanoNsol021</targetReference>
        </connector>
        <flowName>DisputeCheckThereIsDiscountInCustomerLine</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas interações de Ordens do Vivo Next, disponível no fluxo Salesforce, se existe evidência da alteração de plano que o cliente desconhece.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verfique em notas no Next se existe evidência da alteração de plano que o cliente desconhece. Existe evidência?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 021</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol021</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedConvergentConcession009</name>
        <label>Concessão</label>
        <locationX>699</locationX>
        <locationY>5054</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-FRD-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-FRD-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-FRD-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-FRD-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-FRD-003</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedConvergentConcession023</name>
        <label>Concessão</label>
        <locationX>2263</locationX>
        <locationY>2498</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-FRD-005</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-FRD-005</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-FRD-023</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-FRD-005</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-FRD-005</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedConvergentConcession024</name>
        <label>Concessão</label>
        <locationX>1999</locationX>
        <locationY>2714</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-FRD-006</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-FRD-006</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-FRD-009</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-FRD-006</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-FRD-006</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedNonPayment</name>
        <label>PLANO FIXA NSOL 015</label>
        <locationX>539</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol015</targetReference>
        </connector>
        <flowName>DisputeFixedNonPayment</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O motivo do cancelamento está relacionado à falta de pagamento das faturas. Entendido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 015</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol015</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FIXA_FIN_CONT_NEG_FRD_001</name>
        <label>ATC-FIXA-FIN-CONT-NEG-FRD-001</label>
        <locationX>616</locationX>
        <locationY>4286</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FIXA_FIN_CONT_NEG_FRD_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_FRD_001</name>
        <label>ATC-FX-FIN-CONT-AJ-FRD-001</label>
        <locationX>1936</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_FRD_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_AJ_FRD_002</name>
        <label>ATC-FX-FIN-CONT-AJ-FRD-002</label>
        <locationX>2200</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_FRD_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_FRD_007</name>
        <label>ATC-FX-FIN-CONT-NEG-FRD-007</label>
        <locationX>1735</locationX>
        <locationY>2822</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_FRD_007</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeGeneralUpdateDisputedItemATC_FX_FIN_CONT_NEG_FRD_008</name>
        <label>ATC-FX-FIN-CONT-NEG-FRD-008</label>
        <locationX>435</locationX>
        <locationY>5162</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_FRD_008</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeManualCreateFraudCaseAmdocsPLANO_FIXA_NSOL_007</name>
        <label>PLANO FIXA NSOL 007</label>
        <locationX>748</locationX>
        <locationY>3962</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol007</targetReference>
        </connector>
        <flowName>DisputeManualCreateFraudCaseAmdocs</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Realizada abertura de Caso de Fraude no Next com sucesso?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 007</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol007</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_001</name>
        <label>PLANO FIXA NSOL 001</label>
        <locationX>1316</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol001</targetReference>
        </connector>
        <flowName>DisputeCheckNsol001</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Avalie o problema do cliente, ele alega que não reconhece habilitação ou a troca de plano.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente não reconhece Habilitação ou Troca de plano?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_002</name>
        <label>PLANO FIXA NSOL 002</label>
        <locationX>567</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol002</targetReference>
        </connector>
        <flowName>DisputeFixedNewProductHigh</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue> Houve nova habilitação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe ordem de Nova Alta de produto Fixa durante o ciclo de faturamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol002</assignToReference>
            <name>answear</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>order</assignToReference>
            <name>order</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_003</name>
        <label>PLANO FIXA NSOL 003</label>
        <locationX>567</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol003</targetReference>
        </connector>
        <flowName>DisputeCheckBiometryHistory</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>documentNumber</name>
            <value>
                <elementReference>documentNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe registro de BIOMETRIA realizada pelo cliente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_010</name>
        <label>PLANO FIXA NSOL 010</label>
        <locationX>380</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol010</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>A Biometria identificada tem relação com a Nova Alta?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 010 </stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol010</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_011</name>
        <label>PLANO FIXA NSOL 011</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>sfPLANO_FIXA_NSOL_012</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique ao cliente que foi localizado registro sistêmico que comprova a realização de biometria para a contratação questionada.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Argumente com o cliente que foi identificado processo de Biometria para essa contratação. Cliente Ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 011</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol011</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_012</name>
        <label>PLANO FIXA NSOL 012</label>
        <locationX>182</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>dcPLANO_FIXA_NSOL_012</targetReference>
        </connector>
        <flowName>DisputeFixedActiveProduct</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 012</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol012</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_013</name>
        <label>PLANO FIXA NSOL 013</label>
        <locationX>902</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol013</targetReference>
        </connector>
        <flowName>DisputeFixedActiveProduct</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 013</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol013</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_017</name>
        <label>PLANO FIXA NSOL 017</label>
        <locationX>2065</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol017</targetReference>
        </connector>
        <flowName>CheckReplaceOffer</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>A consulta é realizada no período de 90 dias a partir da data de fechamento do ciclo da fatura atual, considerando a alteração mais recente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Houve alteração de plano no período contestado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 017</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol017</assignToReference>
            <name>answear</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>order</assignToReference>
            <name>order</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_025</name>
        <label>PLANO FIXA NSOL 025</label>
        <locationX>2552</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>sfPLANO_FIXA_NSOL_026</targetReference>
        </connector>
        <flowName>DisputeManualActionOnlyTrueWithCustomerInteractionForm</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas interações do Vivo Next, disponível no fluxo Salesforce, se houve troca de plano que esteja impactando os valores cobrados nessa fatura.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique no Next se houve troca de plano que esteja impactando os valores cobrados nessa fatura. Entendido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 025</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol025</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_NSOL_026</name>
        <label>PLANO FIXA NSOL 026</label>
        <locationX>2552</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>dcValidaPlanoNsol026</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Foi identificado troca de plano que está impactando a fatura contestada?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA NSOL 026</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearValidaPlanoNsol026</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItemATC_FX_FIN_CONT_NEG_FRD_005</name>
        <label>ATC-FX-FIN-CONT-NEG-FRD-005</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_FRD_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearValidaPlanoNsol001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol007</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol008</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol009</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol011</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol012</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol013</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol014</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol015</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol017</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol018</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol020</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol021</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol022</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol023</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol024</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol025</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearValidaPlanoNsol026</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
