force-app/main/default/flows/DisputeFixedConvergentConcession.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcCon001</name>
        <label>A) Você faz parte de um grupo com alçada para concessão?</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfDisputeClientSegmentValidate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearCon001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearCon001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfCustomerIntention</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcCon002</name>
        <label>A) Segmento do cliente é elegível a concessão?</label>
        <locationX>677</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grServiceDefinitionCodeForCustomerSegmentNotEligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearCon002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearCon002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfCustomerIntention</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcCon003</name>
        <label>M) Cliente intenciona procurar órgãos de defesa do consumidor/ Anatel/ Ação Judicial?</label>
        <locationX>545</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>sfCustomerIntentToCancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearCon003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearCon003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfDisputeHasConcession180DValidate</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcCon004</name>
        <label>A) Cliente possui Concessão realizada nos últimos 6 meses (180 dias)?</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>grServiceDefinitionCodeForConcession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearCon004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearCon004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grSserviceDefinitionCodeForConcessionAlreadyMade</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcCon005</name>
        <label>M) Cliente intenciona cancelamento?</label>
        <locationX>908</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>grServiceDefinitionCodeForCustomerSegmentNotEligibleTwo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearCon005Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearCon005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfOperatorRetentionScope</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcCon006</name>
        <label>M) Você pertence a um grupo com escopo para realizar retenção?</label>
        <locationX>710</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>grServiceDefinitionCodeForDeniedCallTransfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearCon006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearCon006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grServiceDefinitionCodeForDeniedRetention</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Concessão</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grDisputedItem</name>
        <label>Carregar Item Contestado</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>slDisputeConcessionElevationValidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionCodeForConcession</name>
        <label>Carregar Definição de Atendimento: Conceder Concessão</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfServiceDefinitionCodeForConcession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdCodeForConcession</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionCodeForCustomerSegmentNotEligible</name>
        <label>Carregar Definição de Atendimento: Negativa</label>
        <locationX>765</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfServiceDefinitionCodeForCustomerSegmentNotEligible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdCodeForCustomerSegment</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionCodeForCustomerSegmentNotEligibleTwo</name>
        <label>Carregar Definição de Atendimento: Negativa</label>
        <locationX>1106</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfServiceDefinitionCodeForCustomerSegmentNotEligibleTwo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdCodeForCustomerSegment</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionCodeForDeniedCallTransfer</name>
        <label>Carregar Definição de Atendimento: Negado Transferir</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfServiceDefinitionCodeForDeniedCallTransfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdCodeForCallTransfer</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grServiceDefinitionCodeForDeniedRetention</name>
        <label>Carregar Definição de Atendimento: Negado Retenção</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfServiceDefinitionCodeForDeniedRetention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdCodeForDeniedRetention</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grSserviceDefinitionCodeForConcessionAlreadyMade</name>
        <label>Carregar Definição de Atendimento Negativa: Reincidente</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfServiceDefinitionCodeForConcessionAlreadyMade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdCodeForReincidentCon</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfCustomerIntention</name>
        <label>CON003</label>
        <locationX>545</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>dcCon003</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente intenciona procurar órgãos de defesa do consumidor/ Anatel/ Ação Judicial?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>CON003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearCon003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfCustomerIntentToCancel</name>
        <label>CON005</label>
        <locationX>908</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>dcCon005</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>ATENÇÃO: Marque &quot;Sim&quot; nesta ação, apenas se a intenção/menção ao cancelamento partir do cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente intenciona cancelamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>CON005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearCon005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeClientSegmentValidate</name>
        <label>CON002</label>
        <locationX>677</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcCon002</targetReference>
        </connector>
        <flowName>DisputeClientSegmentValidate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Ação que valida se o segmento do cliente tem valores, de acordo com a parametrização no sistema Next, para conceder concessão.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Segmento do cliente é elegível a concessão?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>CON002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearCon002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeHasConcession180DValidate</name>
        <label>CON004</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>dcCon004</targetReference>
        </connector>
        <flowName>DisputeHasConcession180DValidate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente possui Concessão realizada nos últimos 6 meses (180 dias)?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>CON004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearCon004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfOperatorRetentionScope</name>
        <label>CON006</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>dcCon006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você pertence a um grupo com escopo para realizar retenção?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>CON006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearCon006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfServiceDefinitionCodeForConcession</name>
        <label>Atualizar Item Contestado - Definição de Atendimento: Conceder Concessão</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionCodeForConcession</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfServiceDefinitionCodeForConcessionAlreadyMade</name>
        <label>Atualizar Item Contestado - Definição de Atendimento Negativa: Reincidente,</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grSserviceDefinitionCodeForConcessionAlreadyMade</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfServiceDefinitionCodeForCustomerSegmentNotEligible</name>
        <label>Atualizar Item Contestado - Definição de Atendimento: Negativa</label>
        <locationX>765</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionCodeForCustomerSegmentNotEligible</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfServiceDefinitionCodeForCustomerSegmentNotEligibleTwo</name>
        <label>Atualizar Item Contestado - Definição de Atendimento: Negativa</label>
        <locationX>1106</locationX>
        <locationY>1706</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionCodeForCustomerSegmentNotEligibleTwo</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfServiceDefinitionCodeForDeniedCallTransfer</name>
        <label>Atualizar Item Contestado - Definição de Atendimento: Negado Transferir</label>
        <locationX>842</locationX>
        <locationY>1922</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionCodeForDeniedCallTransfer</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfServiceDefinitionCodeForDeniedRetention</name>
        <label>Atualizar Item Contestado - Definição de Atendimento: Negado Retenção</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grServiceDefinitionCodeForDeniedRetention</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>slDisputeConcessionElevationValidate</name>
        <label>CON001</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcCon001</targetReference>
        </connector>
        <flowName>DisputeConcessionElevationValidate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Você faz parte de um grupo com alçada para concessão?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>CON001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearCon001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>answearCon001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearCon002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearCon003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearCon004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearCon005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearCon006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano0405</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano0406</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdCodeForCallTransfer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdCodeForConcession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdCodeForCustomerSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdCodeForDeniedRetention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdCodeForReincidentCon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
