force-app/main/default/flows/DisputeFixedCancelledPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcPLANO_FIXA_001</name>
        <label>M) Instância selecionada é relativa ao pedido do cancelamento?</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>PLANO_FIXA_010</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPLANO_FIXA_001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerPLANO_FIXA_001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PLANO_FIXA_003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPLANO_FIXA_003</name>
        <label>A) Ordem de cancelamento foi criada?</label>
        <locationX>391</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>PLANO_FIXA_010</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ordem não foi encontrada</defaultConnectorLabel>
        <rules>
            <name>dcPLANO_FIXA_003ddc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerPLANO_FIXA_003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dentro do ciclo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PLANO_FIXA_004</targetReference>
            </connector>
            <label>Dentro do ciclo</label>
        </rules>
        <rules>
            <name>dcPLANO_FIXA_003fdc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerPLANO_FIXA_003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fora do ciclo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PLANO_FIXA_006</targetReference>
            </connector>
            <label>Fora do ciclo</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPLANO_FIXA_010</name>
        <label>M) Verifique no Next em Notas, existe alguma interação na data mencionada pelo cliente?</label>
        <locationX>611</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>PLANO_FIXA_012</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPLANO_FIXA_010Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerPLANO_FIXA_010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PLANO_FIXA_013</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPLANO_FIXA_012</name>
        <label>M) Explique para o cliente as vantagens de permanecer com o serviço. Cliente deseja manter o produto ativo?</label>
        <locationX>974</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_PLA_CANC_003</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPLANO_FIXA_012Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerPLANO_FIXA_012</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concessao0012</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPLANO_FIXA_016</name>
        <label>M) Explique para o cliente as vantagens de permanecer com o serviço. Cliente deseja manter o produto ativo?</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_PLA_CANC_005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPLANO_FIXA_016Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerPLANO_FIXA_016</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concessao016</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dxPLANO_FIXA_013</name>
        <label>M) Interação trata-se de pedido de cancelamento?</label>
        <locationX>248</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>PLANO_FIXA_016</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPLANO_FIXA_013Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answerPLANO_FIXA_013</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_PLA_CANC_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Plano Fixa - Cancelou</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_PLA_CANC_001</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-PLA-CANC-001</label>
        <locationX>127</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_PLA_CANC_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-PLA-CANC-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_PLA_CANC_002</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-PLA-CANC-002</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_PLA_CANC_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-PLA-CANC-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_PLA_CANC_004</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-PLA-CANC-004</label>
        <locationX>391</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_PLA_CANC_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-PLA-CANC-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_PLA_CANC_003</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-PLA-CANC-003</label>
        <locationX>1106</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_PLA_CANC_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-CANC-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_PLA_CANC_005</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-PLA-CANC-005</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_PLA_CANC_005</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-CANC-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDisputedItem</name>
        <label>Carrega o Item Contestado</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfPLANO_FIXA_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_PLA_CANC_001</name>
        <label>ATC-FX-FIN-CONT-AJ-PLA-CANC-001</label>
        <locationX>127</locationX>
        <locationY>890</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_PLA_CANC_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_PLA_CANC_002</name>
        <label>ATC-FX-FIN-CONT-AJ-PLA-CANC-002</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_PLA_CANC_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_PLA_CANC_004</name>
        <label>ATC-FX-FIN-CONT-AJ-PLA-CANC-004</label>
        <locationX>391</locationX>
        <locationY>890</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_PLA_CANC_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_PLA_CANC_003</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-CANC-003</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_PLA_CANC_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_PLA_CANC_005</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-CANC-005</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_PLA_CANC_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Concessao0012</name>
        <label>Concessão012</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-PLA-CANC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-PLA-CANC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-CANC-004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-PLA-CANC-002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-PLA-CANC-002</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Concessao016</name>
        <label>Concessao016</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-PLA-CANC-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-PLA-CANC-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-CANC-006</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-PLA-CANC-003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-PLA-CANC-003</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PLANO_FIXA_003</name>
        <label>PLANO FIXA 003</label>
        <locationX>391</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcPLANO_FIXA_003</targetReference>
        </connector>
        <flowName>DisputeCheckInstanceDate</flowName>
        <inputAssignments>
            <name>allowReExecution</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA 003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerPLANO_FIXA_003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PLANO_FIXA_004</name>
        <label>PLANO FIXA 004</label>
        <locationX>127</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_AJ_PLA_CANC_001</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe o cliente que houve um problema com processamento do cancelamento. Entendido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA 004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerPLANO_FIXA_004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PLANO_FIXA_006</name>
        <label>PLANO FIXA 006</label>
        <locationX>391</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_AJ_PLA_CANC_004</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe o cliente que houve um problema com processamento do cancelamento. Entendido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA 006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerPLANO_FIXA_006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PLANO_FIXA_010</name>
        <label>PLANO FIXA 010</label>
        <locationX>611</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>dcPLANO_FIXA_010</targetReference>
        </connector>
        <flowName>DisputeCheckCustomerInteraction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique no Next em Notas, existe alguma interação na data mencionada pelo cliente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA 010</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerPLANO_FIXA_010</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PLANO_FIXA_012</name>
        <label>PLANO FIXA 012</label>
        <locationX>974</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>dcPLANO_FIXA_012</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Explique para o cliente as vantagens de permanecer com o serviço. Cliente deseja manter o produto ativo?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA 012</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerPLANO_FIXA_012</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PLANO_FIXA_013</name>
        <label>PLANO FIXA 013</label>
        <locationX>248</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>dxPLANO_FIXA_013</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Interação trata-se de pedido de cancelamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA 013</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerPLANO_FIXA_013</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PLANO_FIXA_016</name>
        <label>PLANO FIXA 016</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>dcPLANO_FIXA_016</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Explique para o cliente as vantagens de permanecer com o serviço. Cliente deseja manter o produto ativo?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA 016</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerPLANO_FIXA_016</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPLANO_FIXA_001</name>
        <label>PLANO FIXA 001</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcPLANO_FIXA_001</targetReference>
        </connector>
        <flowName>DisputeCheckSelectedInstanceIsIncludedInCancelOrder</flowName>
        <inputAssignments>
            <name>allowReExecution</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas interações de Ordens do Vivo Next, disponível no fluxo Salesforce, se existe ordem de cancelamento para a instância selecionada.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Instância selecionada é relativa ao pedido do cancelamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>PLANO FIXA 001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answerPLANO_FIXA_001</assignToReference>
            <name>answear</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>order</assignToReference>
            <name>selectedOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>answerPLANO_FIXA_001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerPLANO_FIXA_003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerPLANO_FIXA_004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerPLANO_FIXA_006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerPLANO_FIXA_010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerPLANO_FIXA_011</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerPLANO_FIXA_012</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerPLANO_FIXA_013</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answerPLANO_FIXA_016</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
