force-app/main/default/flows/DisputeCheckWasChangeOrderAddressCanceledByCustomer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asSetActionAnswear</name>
        <label>Definir resposta da ação</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Answer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>asSetActionStepHistory</name>
        <label>Recuperar Id do histórico de execução de ação</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>actionStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetActionStepHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcIsNecessaryStepReExecution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWONula</name>
        <label>Work Order Nula</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcWorkOrderNula</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWorkOrderItemCanceladaCliente</name>
        <label>Work Order Item Cancelada pelo Cliente</label>
        <locationX>426</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>answear</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopWorkOrderItens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_o_8</name>
        <label>Recuperar ID do Histórico</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gtGetHistoryExecutionItemId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_o_9</name>
        <label>Recuperar ID do Histórico</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowStepHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grGetStepHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsThereStepHistory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcExistDisputedItem</name>
        <label>Existe item a ser contestado?</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>grGetStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcExistYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gtGetHistoryExecutionItemId</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsNecessaryStepReExecution</name>
        <label>É necessário reexecutar esta etapa do fluxo?</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>asSetActionAnswear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsNecessaryStepReExecutionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowReExecution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignWONula</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcIsThereActionStepHistory</name>
        <label>Existe histórico de execução de ação</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>assignWONula</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcIsThereActionStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grGetActionStepHistory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asSetActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcQualStatusWorkOrderItens</name>
        <label>Qual status da Work Order Itens?</label>
        <locationX>558</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>loopWorkOrderItens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcQualStatusWorkOrderItensYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopWorkOrderItens.state</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopWorkOrderItens.stateReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignWorkOrderItemCanceladaCliente</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcWorkOrderNula</name>
        <label>Work Order é nula?</label>
        <locationX>402</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Existe_hist_rico_de_execu_o_de_a_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcWorkOrderNulaYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopWorkOrderItens</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsThereStepHistory</name>
        <label>Existe histórico de execução</label>
        <locationX>402</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>crCreateStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>decIsThereStepHistoryYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_hist_rico_de_execu_o_de_a_o</name>
        <label>Existe histórico de execução de ação?</label>
        <locationX>402</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>crCreateActionStepHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>AnswerYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionStepHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>urUpdateActionStepHistory</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Ação Automática - Pedido de ME foi cancelado pelo cliente? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Ação Automática - Pedido de ME foi cancelado pelo cliente?</label>
    <loops>
        <name>loopWorkOrderItens</name>
        <label>Work Order Itens</label>
        <locationX>338</locationX>
        <locationY>1766</locationY>
        <collectionReference>workOrder.items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dcQualStatusWorkOrderItens</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existe_hist_rico_de_execu_o_de_a_o</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crCreateActionStepHistory</name>
        <label>Criar histórico de execução de ação</label>
        <locationX>534</locationX>
        <locationY>2450</locationY>
        <assignRecordIdToReference>actionStepHistoryId</assignRecordIdToReference>
        <connector>
            <targetReference>sfGenericAutomaticAction</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowExecutionStepHistory__c</field>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordCreates>
    <recordCreates>
        <name>crCreateStepHistory</name>
        <label>Criar histórico de execução</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignRecordIdToReference>flowStepHistoryId</assignRecordIdToReference>
        <connector>
            <targetReference>assignWONula</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisputedItem__c</field>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>step</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionStepHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>grGetActionStepHistory</name>
        <label>Buscar histórico de execução de ação</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcIsThereActionStepHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowExecutionStepHistory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>flowStepHistoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>question</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionActionHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetStepHistory</name>
        <label>Buscar histórico de execução pelo caseID</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_o_9</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtGetHistoryExecutionItemId</name>
        <label>Buscar histórico de execução pelo ItemId</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_o_8</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisputedItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowExecutionStepHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>urUpdateActionStepHistory</name>
        <label>Atualizar histórico de execução de ação</label>
        <locationX>270</locationX>
        <locationY>2450</locationY>
        <connector>
            <targetReference>sfGenericAutomaticAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionStepHistoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <object>FlowExecutionActionHistory__c</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcExistDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfGenericAutomaticAction</name>
        <label>Ação automática</label>
        <locationX>402</locationX>
        <locationY>2642</locationY>
        <flowName>GenericAutomaticaAction</flowName>
        <inputAssignments>
            <name>answear</name>
            <value>
                <elementReference>answear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <elementReference>question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <elementReference>step</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>actionStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allowReExecution</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>answear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowStepHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pedido de ME foi cancelado pelo cliente?</stringValue>
        </value>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>types</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrder</name>
        <apexClass>WorkOrderObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
