force-app/main/default/flows/DisputeCannotUseME.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assignOrder</name>
        <label>Order</label>
        <locationX>1394</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ME001.order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcME001</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcME001</name>
        <label>A) Existe registro de solicitação de MUDANÇA DE ENDEREÇO?</label>
        <locationX>1394</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_ME_010</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcME001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ME001.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>acME002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcME002</name>
        <label>A) A ME foi concluída com sucesso?</label>
        <locationX>627</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>ME004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcME002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>acME002.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ME008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcME003</name>
        <label>A) Pedido de ME foi cancelado pela equipe de campo?</label>
        <locationX>1568</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_ME_012</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcME003Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ME003.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ME005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcME004</name>
        <label>A) Pedido de ME foi cancelado pelo cliente?</label>
        <locationX>1073</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>ME003</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcME004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearME004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_ME_011</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcME005</name>
        <label>M) Cliente ainda deseja realizar a ME?</label>
        <locationX>1238</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>ME009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcME005Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearME005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ME006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcME006</name>
        <label>M) Endereço do cliente possui disponibilidade para ME?</label>
        <locationX>974</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_AJ_ME_006</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcME006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearME006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_ME_007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcME008</name>
        <label>A) ME foi concluída em atraso?</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_ME_014</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcME008Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ME008.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_ME_008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcME009</name>
        <label>A) Quando o pedido foi cancelado, estava em atraso?</label>
        <locationX>1502</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_ME_013</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcME009Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ME009.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_ME_005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Plano Fixa/Convergente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Plano Fixa/Convergente - Não pode utilizar ME</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_ME_005</name>
        <label>Carregar  ATC-FX-FIN-CONT-AJ-ME-005</label>
        <locationX>1370</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_AJ_ME_005</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-ME-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_ME_006</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-ME-006</label>
        <locationX>1106</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_AJ_ME_006</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-ME-006</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_ME_007</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-ME-007</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_AJ_ME_007</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-ME-007</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_ME_008</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-ME-008</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_AJ_ME_008</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-ME-008</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_ME_010</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-ME-010</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_ME_010</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-ME-010</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_ME_011</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-ME-011</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_ME_011</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-ME-011</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_ME_012</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-ME-012</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_ME_012</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-ME-012</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_ME_013</name>
        <label>ATC-FX-FIN-CONT-NEG-ME-013</label>
        <locationX>1634</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_ME_013</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-ME-013</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_ME_014</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-ME-014</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_ME_014</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-ME-014</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDusputedItem</name>
        <label>Carregar item contestado</label>
        <locationX>1394</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ME001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1268</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDusputedItem</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>acME002</name>
        <label>ME002</label>
        <locationX>627</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>dcME002</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceOfSuccessfullyRequestForAddressChange</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>ME002</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ME001</name>
        <label>ME001</label>
        <locationX>1394</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>assignOrder</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceRequestForAddressChange</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>ME001</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ME003</name>
        <label>ME003</label>
        <locationX>1568</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>dcME003</targetReference>
        </connector>
        <flowName>DisputeCheckWasChangeOrderAddressCanceledByWorkForce</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>ME003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workOrder</name>
            <value>
                <elementReference>workOrder</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ME004</name>
        <label>ME004</label>
        <locationX>1073</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>dcME004</targetReference>
        </connector>
        <flowName>DisputeCheckWasChangeOrderAddressCanceledByCustomer</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>ME004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearME004</assignToReference>
            <name>answear</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workOrder</assignToReference>
            <name>workOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ME005</name>
        <label>ME005</label>
        <locationX>1238</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>dcME005</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente ainda deseja realizar a ME?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>ME005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearME005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ME006</name>
        <label>ME006</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>dcME006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Para realizar essa consulta, visite a aba de Disponibilidade.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Endereço do cliente possui disponibilidade para ME?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>ME006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearME006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ME008</name>
        <label>ME008</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>dcME008</targetReference>
        </connector>
        <flowName>DisputeCheckAddressChangeOrderHasCompletedLate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>ME008</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ME009</name>
        <label>ME009</label>
        <locationX>1502</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>dcME009</targetReference>
        </connector>
        <flowName>DisputeCheckAddressChangeOrderHasCancelledWhenLate</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>ME001.order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>ME009</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_AJ_ME_005</name>
        <label>ATC-FX-FIN-CONT-AJ-ME-005</label>
        <locationX>1370</locationX>
        <locationY>1754</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_ME_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_AJ_ME_006</name>
        <label>ATC-FX-FIN-CONT-AJ-ME-006</label>
        <locationX>1106</locationX>
        <locationY>1754</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_ME_006</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_AJ_ME_007</name>
        <label>ATC-FX-FIN-CONT-AJ-ME-007</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_ME_007</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_AJ_ME_008</name>
        <label>ATC-FX-FIN-CONT-AJ-ME-008</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_ME_008</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_ME_010</name>
        <label>ATC-FX-FIN-CONT-NEG-ME-010</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_ME_010</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_ME_011</name>
        <label>ATC-FX-FIN-CONT-NEG-ME-011</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_ME_011</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_ME_012</name>
        <label>ATC-FX-FIN-CONT-NEG-ME-012</label>
        <locationX>1898</locationX>
        <locationY>1322</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_ME_012</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_ME_013</name>
        <label>ATC-FX-FIN-CONT-NEG-ME-013</label>
        <locationX>1634</locationX>
        <locationY>1754</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_ME_013</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_ME_014</name>
        <label>ATC-FX-FIN-CONT-NEG-ME-014</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_ME_014</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearME004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearME005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearME006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrder</name>
        <apexClass>WorkOrderObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
