force-app/main/default/flows/DisputeFixedCheckDuplicatedPlans.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcAutomactActionCheckDuplicatedPlans</name>
        <label>A) Existem duas contas Pós Pagas ativas no mesmo endereço?</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfManualAction2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcAutomactActionCheckDuplicatedPlansYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_2FAT_003</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfManualAction1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2C_SM_2FAT_001</name>
        <label>M) Cliente alega que não solicitou o segundo produto, conforme o HINT?</label>
        <locationX>193</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfManualAction2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcB2C_SM_2FAT_001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_2FAT_001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGet_ATC_FIXA_FIN_CONT_AJ_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2C_SM_2FAT_002</name>
        <label>M) Valor duplicado na fatura contestada é devido a cobrança retroativa?</label>
        <locationX>347</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>sfManualAction3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcB2C_SM_2FAT_002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_2FAT_002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGet_ATC_FIXA_FIN_CONT_NEG_COBDUP_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2C_SM_2FAT_004</name>
        <label>M) Houve mudança de titularidade recentemente, conforme o HINT?</label>
        <locationX>644</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>grGet_ATC_FIXA_FIN_CONT_AJ_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcB2C_SM_2FAT_004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_2FAT_004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfB2C_SM_2FAT_005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2C_SM_2FAT_006</name>
        <label>M) Período de faturamento das cobranças em cada CPF são diferentes?</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>grGet_ATC_FIXA_FIN_CONT_AJ_COBDUP_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcB2C_SM_2FAT_006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_2FAT_006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGet_ATC_FIXA_FIN_CONT_NEG_COBDUP_004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Validação de plano duplicado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grGet_ATC_FIXA_FIN_CONT_AJ_001</name>
        <label>Carregar ATC-FIXA-FIN-CONT-AJ-001</label>
        <locationX>61</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_AJ_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FIXA-FIN-CONT-AJ-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGet_ATC_FIXA_FIN_CONT_AJ_002</name>
        <label>Carregar ATC-FIXA-FIN-CONT-AJ-002</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_AJ_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FIXA-FIN-CONT-AJ-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGet_ATC_FIXA_FIN_CONT_AJ_COBDUP_001</name>
        <label>Carregar ATC-FIXA-FIN-CONT-AJ-COBDUP-001</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_AJ_COBDUP_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FIXA-FIN-CONT-AJ-COBDUP-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGet_ATC_FIXA_FIN_CONT_NEG_COBDUP_001</name>
        <label>Carregar ATC-FIXA-FIN-CONT-NEG-COBDUP-001</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_NEG_COBDUP_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FIXA-FIN-CONT-NEG-COBDUP-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGet_ATC_FIXA_FIN_CONT_NEG_COBDUP_004</name>
        <label>Carregar ATC-FIXA-FIN-CONT-NEG-COBDUP-004</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_NEG_COBDUP_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FIXA-FIN-CONT-NEG-COBDUP-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDisputedItemById</name>
        <label>Carregar item contestado</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfB2C_SM_2FAT_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDisputedItemById</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfB2C_SM_2FAT_003</name>
        <label>B2C-SM-2FAT-003</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcAutomactActionCheckDuplicatedPlans</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceActiveFinancialAccountsAtSameAddressV2</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-2FAT-003</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_2FAT_003</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfB2C_SM_2FAT_005</name>
        <label>B2C-SM-2FAT-005</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>sfManualAction5</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Avalie as datas dos ciclos de faturamento  para verificar se cobrança é proporcional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Realize a comparação das datas dos ciclos de faturamento, com o HINT. Entendido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-2FAT-005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_2FAT_005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfManualAction1</name>
        <label>B2C-SM-2FAT-001</label>
        <locationX>193</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcB2C_SM_2FAT_001</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Cliente possui dois serviços ativos para o mesmo endereço. Confirme com o cliente se ele solicitou um novo plano para o mesmo endereço.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Cliente alega que não solicitou o segundo produto, conforme o HINT?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-2FAT-001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_2FAT_001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfManualAction2</name>
        <label>B2C-SM-2FAT-002</label>
        <locationX>347</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>dcB2C_SM_2FAT_002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue> Compare as datas com duas últimas faturas para verificar se cobrança é proporcional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Valor duplicado na fatura contestada é devido a cobrança retroativa?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-2FAT-002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_2FAT_002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfManualAction3</name>
        <label>B2C-SM-2FAT-004</label>
        <locationX>644</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>dcB2C_SM_2FAT_004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique se houve solicitação de mudança de titularidade aberta para o cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Houve mudança de titularidade recentemente, conforme o HINT?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-2FAT-004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_2FAT_004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfManualAction5</name>
        <label>B2C-SM-2FAT-006</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>dcB2C_SM_2FAT_006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Compare os ciclos de faturamento para confirmar se a cobrança ocorreu no mesmo período.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Período de faturamento das cobranças em cada CPF são diferentes?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-2FAT-006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_2FAT_006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_AJ_001</name>
        <label>ATC-FIXA-FIN-CONT-AJ-001</label>
        <locationX>61</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGet_ATC_FIXA_FIN_CONT_AJ_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_AJ_002</name>
        <label>ATC-FIXA-FIN-CONT-AJ-002</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGet_ATC_FIXA_FIN_CONT_AJ_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_AJ_COBDUP_001</name>
        <label>ATC-FIXA-FIN-CONT-AJ-COBDUP-001</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGet_ATC_FIXA_FIN_CONT_AJ_COBDUP_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_NEG_COBDUP_001</name>
        <label>ATC-FIXA-FIN-CONT-NEG-COBDUP-001</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGet_ATC_FIXA_FIN_CONT_NEG_COBDUP_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FIXA_FIN_CONT_NEG_COBDUP_004</name>
        <label>ATC-FIXA-FIN-CONT-NEG-COBDUP-004</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGet_ATC_FIXA_FIN_CONT_NEG_COBDUP_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearB2C_SM_2FAT_001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_2FAT_002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_2FAT_003</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_2FAT_004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_2FAT_005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_2FAT_006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
