force-app/main/default/flows/DisputeFixedConvergentCheckfraudblockstemporarysuspension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcClientecombloqueioTOTAL</name>
        <label>A) Cliente estava com bloqueio TOTAL em algum produto durante o período contestado?</label>
        <locationX>1304</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfB2C_SM_NPU_BLOQ_013</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcClientecombloqueioTOTALyes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sfB2C_SM_NPU_BLOQ_012.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_BLOQ_004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcExistebloqueiociclofaturamento</name>
        <label>A) Existe bloqueio durante período do ciclo de faturamento?</label>
        <locationX>1260</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sfB2C_SM_NPU_BLOQ_011</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nenhum bloqueio</defaultConnectorLabel>
        <rules>
            <name>Bloqueio_de_Fraude</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2CSMNPUBLOQ001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bloqueio de fraude</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfB2C_SM_NPU_BLOQ_002</targetReference>
            </connector>
            <label>Bloqueio de Fraude</label>
        </rules>
        <rules>
            <name>dcBloqueioSuspenspedidoTemporaria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2CSMNPUBLOQ001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bloqueio por suspensão à pedido/temporária</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfB2C_SM_NPU_BLOQ_004</targetReference>
            </connector>
            <label>Bloqueio por Suspensão à pedido / Temporária</label>
        </rules>
        <rules>
            <name>dcBloqueioRelativoreguacobranca</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2CSMNPUBLOQ001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bloqueio relativo a régua de cobrança</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfB2C_SM_NPU_BLOQ_012</targetReference>
            </connector>
            <label>Bloqueio Relativo a régua de cobrança</label>
        </rules>
        <rules>
            <name>Bloqueio_SR_LS_SL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>answearB2CSMNPUBLOQ001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspender perdidos e roubados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>answearB2CSMNPUBLOQ001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspensão por limite de crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>answearB2CSMNPUBLOQ001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspensão de Retenção</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfB2C_SM_NPU_BLOQ_008</targetReference>
            </connector>
            <label>Bloqueio por Suspensão de Retenção / Suspensão por limite de crédito / Suspender perdidos e roubados</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcExistecobranperiodobloqueiopreventivototal</name>
        <label>A) Existe cobrança no período do bloqueio preventivo / total?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_NEG_BLOQ_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcExistecobranperiodobloqueiopreventivototalYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_NPU_BLOQ_002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_BLOQ_001</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcHouvecobrancaperiodobloqueio</name>
        <label>A) Houve cobrança em período de bloqueio?</label>
        <locationX>2030</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfB2C_SM_NPU_BLOQ_011</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcHouvecobrancaperiodobloqueioYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_NPU_BLOQ_008</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_AJ_BLOQ_003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcHouveinterrupcaototalservico</name>
        <label>M) Argumente que não houve interrupção total do serviço e por isso cobrança está certa. Cliente aceitou?</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Contesta_o_Fixa_Convergente_Concess_o_Flow_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcHouveinterrupcaototalservicoYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_NPU_BLOQ_013</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_BLOQ_005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcInformeclientecobranClienteaceita</name>
        <label>M) Informe ao cliente que cobrança do período está correta. Cliente aceita?</label>
        <locationX>1260</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Contesta_o_Fixa_Convergente_Concess_o_Flow_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcInformeclientecobranClienteaceitaYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_NPU_BLOQ_011</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATC_FX_FIN_CONT_NEG_BLOQ_003</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dsExistecobranperiodobloqueiopedido</name>
        <label>A) Existe cobrança no período do bloqueio à pedido?</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_AJ_BLOQ_005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dsExistecobranperiodobloqueiopedidoYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearB2C_SM_NPU_BLOQ_004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gtATC_FX_FIN_CONT_AJ_BLOQ_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>hu 334</description>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - Verificar bloqueios de fraude e suspensão temporária? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Verificar bloqueios de fraude e suspensão temporária?</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_BLOQ_001</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-BLOQ-001</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-BLOQ-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_BLOQ_003</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-BLOQ-003</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-BLOQ-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_BLOQ_004</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-BLOQ-004</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-BLOQ-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_BLOQ_005</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-BLOQ-005</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-BLOQ-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_BLOQ_001</name>
        <label>Carregar  ATC-FX-FIN-CONT-NEG-BLOQ-001</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-BLOQ-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_BLOQ_003</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-BLOQ-003</label>
        <locationX>1128</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-BLOQ-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_BLOQ_005</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-BLOQ-005</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-BLOQ-005</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDusputedItens</name>
        <label>Carregar Item disputado</label>
        <locationX>1260</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfB2CSMNPUBLOQ001V2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtATC_FX_FIN_CONT_AJ_BLOQ_002</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-BLOQ-002</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-BLOQ-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1134</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDusputedItens</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_10</name>
        <label>Contestação - Atendimento Geral - Atualizar Item Contestado Flow 10</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItens</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>gtATC_FX_FIN_CONT_AJ_BLOQ_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_2</name>
        <label>Contestação - Atendimento Geral - Atualizar Item Contestado Flow 2</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItens</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_BLOQ_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_3</name>
        <label>Contestação - Atendimento Geral - Atualizar Item Contestado Flow 3</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItens</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_BLOQ_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_4</name>
        <label>Contestação - Atendimento Geral - Atualizar Item Contestado Flow 4</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItens</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_BLOQ_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_6</name>
        <label>Contestação - Atendimento Geral - Atualizar Item Contestado Flow 6</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItens</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_BLOQ_005</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_7</name>
        <label>Contestação - Atendimento Geral - Atualizar Item Contestado Flow 7</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItens</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_BLOQ_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_8</name>
        <label>Contestação - Atendimento Geral - Atualizar Item Contestado Flow 8</label>
        <locationX>1128</locationX>
        <locationY>1790</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItens</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_BLOQ_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contesta_o_Atendimento_Geral_Atualizar_Item_Contestado_Flow_9</name>
        <label>Contestação - Atendimento Geral - Atualizar Item Contestado Flow 9</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDusputedItens</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_BLOQ_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contesta_o_Fixa_Convergente_Concess_o_Flow_1</name>
        <label>Contestação - Fixa/Convergente - Concessão Flow 1</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>grGetDusputedItens.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contesta_o_Fixa_Convergente_Concess_o_Flow_2</name>
        <label>Contestação - Fixa/Convergente - Concessão Flow</label>
        <locationX>1392</locationX>
        <locationY>1682</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>grGetDusputedItens.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfB2C_SM_NPU_BLOQ_002</name>
        <label>B2C-SM-NPU-BLOQ-002</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcExistecobranperiodobloqueiopreventivototal</targetReference>
        </connector>
        <flowName>DisputeCheckChargeDuringBlockagesPeriod</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>grGetDusputedItens.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe cobrança no período do bloqueio preventivo / total?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-BLOQ-002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_NPU_BLOQ_002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfB2C_SM_NPU_BLOQ_004</name>
        <label>B2C-SM-NPU-BLOQ-004</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dsExistecobranperiodobloqueiopedido</targetReference>
        </connector>
        <flowName>DisputeCheckChargeDuringBlockagesPeriod</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>grGetDusputedItens.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe cobrança no período do bloqueio à pedido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-BLOQ-004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_NPU_BLOQ_004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfB2C_SM_NPU_BLOQ_008</name>
        <label>B2C-SM-NPU-BLOQ-008</label>
        <locationX>2030</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcHouvecobrancaperiodobloqueio</targetReference>
        </connector>
        <flowName>DisputeCheckChargeDuringBlockagesPeriod</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>grGetDusputedItens.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe cobrança em período de bloqueio?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-BLOQ-008</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_NPU_BLOQ_008</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfB2C_SM_NPU_BLOQ_011</name>
        <label>B2C-SM-NPU-BLOQ-011</label>
        <locationX>1260</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>dcInformeclientecobranClienteaceita</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>grGetDusputedItens.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe ao cliente que cobrança do período está correta. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-BLOQ-011</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_NPU_BLOQ_011</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfB2C_SM_NPU_BLOQ_012</name>
        <label>B2C-SM-NPU-BLOQ-012</label>
        <locationX>1304</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcClientecombloqueioTOTAL</targetReference>
        </connector>
        <flowName>DisputeCheckTotalBlockagesDuringBillingCycle</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>grGetDusputedItens.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Houve cobrança em período de bloqueio?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-BLOQ-012</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedOrder</name>
            <value>
                <elementReference>orderResponse</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfB2C_SM_NPU_BLOQ_013</name>
        <label>B2C-SM-NPU-BLOQ-013</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcHouveinterrupcaototalservico</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>grGetDusputedItens.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Argumente que não houve interrupção total do serviço e por isso cobrança está certa. Cliente aceitou?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-BLOQ-013</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2C_SM_NPU_BLOQ_013</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfB2CSMNPUBLOQ001V2</name>
        <label>B2C-SM-NPU-BLOQ-001</label>
        <locationX>1260</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcExistebloqueiociclofaturamento</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceBlockagesDuringBillingCycleV2</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>grGetDusputedItens.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Ação que valida se existe Bloqueio de Fraude, Suspensão à pedido/Temporária, relativo à régua de cobrança, Suspensão de Retenção, Suspensão por limite de crédito, Suspender perdidos e roubados que impactou o uso do serviço durante o ciclo de faturamento.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Existe bloqueio durante período do ciclo de faturamento?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-BLOQ-001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearB2CSMNPUBLOQ001</assignToReference>
            <name>answear</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>orderResponse</assignToReference>
            <name>order</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>answearB2C_SM_NPU_BLOQ_002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_NPU_BLOQ_004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_NPU_BLOQ_006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_NPU_BLOQ_007</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_NPU_BLOQ_008</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_NPU_BLOQ_011</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_NPU_BLOQ_012</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2C_SM_NPU_BLOQ_013</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearB2CSMNPUBLOQ001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderResponse</name>
        <apexClass>Orders</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
