force-app/main/default/flows/DisputeFixedIncorrectValue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcPlano001</name>
        <label>M) Verifique se cliente alega que NEGOCIOU PLANO/VALOR DIFERENTE DO COBRADO em sua fatura?</label>
        <locationX>1661</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPlano001Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano001</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPlano002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPlano002</name>
        <label>M) Foi localizado o registro da troca de plano/venda com mesmo período de faturamento da fatura reclamada?</label>
        <locationX>1314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>sfPlano010</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPlano002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPlano004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPlano004</name>
        <label>M) No registro localizado, foi informado VALOR INCORRETO da oferta realizada ao cliente?</label>
        <locationX>1016</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>grGetATC_FX_FIN_CONT_NEG_PLA_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPlano004Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano004</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPlano005</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPlano005</name>
        <label>M) Verifique se a proposta realizada inclui campanha/desconto promocional?</label>
        <locationX>817</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>sfPlano009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPlano005Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPlano006</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPlano006</name>
        <label>M) Há informação incorreta de característica/funcionamento da oferta realizada?</label>
        <locationX>594</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>sfPlano009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPlano006Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano006</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPlano007</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPlano007</name>
        <label>M) A inclusão do desconto foi realizada corretamente?</label>
        <locationX>325</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>grGet_ATC_FX_FIN_CONT_AJ_PLA_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPlano007Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano007</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPlano008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPlano008</name>
        <label>M) Verifique a data de registro da proposta e a data de emissão da ordem. Emissão foi posterior?</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>sfPlano011</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPlano008Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano008</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfPlano009</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPlano009</name>
        <label>M) A ordem informa estar de acordo com a proposta mencionada para o cliente?</label>
        <locationX>817</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>sfConcessao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPlano009Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano009</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_AJ_PLA_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPlano010</name>
        <label>M) Argumente que não há registro da proposta informada pelo cliente e negue. Cliente aceita?</label>
        <locationX>1612</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>sfDisputeFixedConvergentConcession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dcPlano010Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGetATC_FX_FIN_CONT_NEG_PLA_002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcPlano011</name>
        <label>M) Informe ao cliente que o desconto foi aplicado corretamente. Cliente ciente?</label>
        <locationX>204</locationX>
        <locationY>1862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dcPlano011Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearPlano011</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grGet_ATC_FX_FIN_CONT_NEG_PLA_008</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ALEGA QUE O VALOR DE SUA FATURA NÃO ESTÁ CORRETO (Valor Incorreto) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Valor Incorreto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>grGet_ATC_FX_FIN_CONT_AJ_PLA_001</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-PLA-001</label>
        <locationX>600</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_PLA_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-PLA-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGet_ATC_FX_FIN_CONT_NEG_PLA_008</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-PLA-008</label>
        <locationX>72</locationX>
        <locationY>1970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_PLA_008</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-008</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_AJ_PLA_002</name>
        <label>ATC-FX-FIN-CONT-AJ-PLA-002</label>
        <locationX>685</locationX>
        <locationY>2930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_PLA_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-PLA-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_PLA_001</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-001</label>
        <locationX>1216</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_PLA_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetATC_FX_FIN_CONT_NEG_PLA_002</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-002</label>
        <locationX>1480</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_PLA_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grGetDisputedItemById</name>
        <label>Carregar item contestado</label>
        <locationX>1661</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfPlano001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1535</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grGetDisputedItemById</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sfConcessao</name>
        <label>Concessão</label>
        <locationX>949</locationX>
        <locationY>2930</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-TRANSF-PLA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-PLA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-009</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-RET-PLA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-REINC-PLA-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfDisputeFixedConvergentConcession</name>
        <label>Concessão</label>
        <locationX>1744</locationX>
        <locationY>890</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-007</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AC-PLA-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-005</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-006</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-004</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano001</name>
        <label>Plano001</label>
        <locationX>1661</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcPlano001</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Questione o cliente sobre o valor negociado, valor informado é diferente do valor disponível na fatura?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique se cliente alega que NEGOCIOU PLANO/VALOR DIFERENTE DO COBRADO em sua fatura?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano001</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano001</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano002</name>
        <label>Plano002</label>
        <locationX>1314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcPlano002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na tela de interações Next, disponível no fluxo do Salesforce, se o registro da troca de plano/venda está com mesmo período de faturamento da fatura reclamada.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Foi localizado o registro da troca de plano/venda com mesmo período de faturamento da fatura reclamada?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano004</name>
        <label>Plano004</label>
        <locationX>1016</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcPlano004</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>No registro localizado, foi informado VALOR INCORRETO da oferta realizada ao cliente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano004</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano004</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano005</name>
        <label>Plano005</label>
        <locationX>817</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcPlano005</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique no Book de ofertas se a proposta realizada inclui campanha/desconto promocional.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique se a proposta realizada inclui campanha/desconto promocional?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano006</name>
        <label>Plano006</label>
        <locationX>594</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcPlano006</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas interações de Ordens do Vivo Next, disponível no fluxo Salesforce, se há informação incorreta de característica/funcionamento da oferta realizada.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Há informação incorreta de característica/funcionamento da oferta realizada?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano006</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano006</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano007</name>
        <label>Plano007</label>
        <locationX>325</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcPlano007</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas interações de Ordens do Vivo Next, disponível no fluxo Salesforce, se a inclusão do desconto foi realizada corretamente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>A inclusão do desconto foi realizada corretamente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano007</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano007</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano008</name>
        <label>Plano008</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>dcPlano008</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas interações de Ordens do Vivo Next, disponível no fluxo Salesforce, se a data de registro da proposta foi posterior a data de emissão da ordem.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique a data de registro da proposta e a data de emissão da ordem. Emissão foi posterior?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano008</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano008</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano009</name>
        <label>Plano009</label>
        <locationX>817</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>dcPlano009</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas Interações de Ordens do Vivo Next, disponível no fluxo Salesforce, se a ordem executada está de acordo com a proposta mencionada para o cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>A ordem informa estar de acordo com a proposta mencionada para o cliente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano009</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano009</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano010</name>
        <label>Plano010</label>
        <locationX>1612</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcPlano010</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Explique ao cliente que não há registro sistêmico que comprove a oferta mencionada, sendo assim a cobrança é devida.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Argumente que não há registro da proposta informada pelo cliente e negue. Cliente aceita?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano010</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano010</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfPlano011</name>
        <label>Plano011</label>
        <locationX>204</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>dcPlano011</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique nas interações de Ordens do Vivo Next, disponível no fluxo Salesforce, se a ordem executada está de acordo com a proposta mencionada para o cliente.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe ao cliente que o desconto foi aplicado corretamente. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Plano011</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearPlano011</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_PLA_001</name>
        <label>ATC-FX-FIN-CONT-AJ-PLA-001</label>
        <locationX>600</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGet_ATC_FX_FIN_CONT_AJ_PLA_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_AJ_PLA_002</name>
        <label>ATC-FX-FIN-CONT-AJ-PLA-002</label>
        <locationX>685</locationX>
        <locationY>3038</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_AJ_PLA_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_PLA_001</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-001</label>
        <locationX>1216</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_PLA_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_PLA_002</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-002</label>
        <locationX>1480</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGetATC_FX_FIN_CONT_NEG_PLA_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfUpdateDisputedItem_ATC_FX_FIN_CONT_NEG_PLA_008</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-008</label>
        <locationX>72</locationX>
        <locationY>2078</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grGetDisputedItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grGet_ATC_FX_FIN_CONT_NEG_PLA_008</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>answearPlano001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano004</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano006</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano007</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano008</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano009</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearPlano011</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
