force-app/main/default/flows/DisputeMobileMultiVivo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>dcMulti0009</name>
        <label>Verifique no Salesforce, se a Linha dependente está vinculada a linha do titular.</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>grATCMVLFINCONTAJMTV009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearMulti009Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearMulti009</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi010</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcMulti002</name>
        <label>Verificar se Cliente possui mais linhas adicionais do que as inclusas no plano contratado?</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Multi009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearMulti002Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearMulti002</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi004</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcMulti010</name>
        <label>Multi010</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>grATCMVLFINCONTNEGMTV002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearMulti010Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>answearMulti010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grATCMVLFINCONTAJMTV002</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcMulti013</name>
        <label>Cliente reconhece todas as linhas contratadas?</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>gr_ATC_MVL_FIN_CONT_NEG_MULTIVIVO_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>multi013AnswearYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multi013.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concessao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Móvel - MultiVivo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Móvel - MultiVivo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>gr_ATC_MVL_FIN_CONT_NEG_MULTIVIVO_002</name>
        <label>Carregar  ATC-MVL-FIN-CONT-NEG-MULTIVIVO-002</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exibir_ATC_MVL_FIN_CONT_NEG_MULTIVIVO_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-MULTIVIVO-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATCMVLFINCONTAJMTV002</name>
        <label>Carregar ATC-MVL-FIN-CONT-AJ-MTV-002</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exibir_ATC_MVL_FIN_CONT_AJ_MTV_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-MTV-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATCMVLFINCONTAJMTV009</name>
        <label>Carregar ATC-MVL-FIN-CONT-AJ-MTV-009</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exibir_ATC_MVL_FIN_CONT_AJ_MTV_009</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AJ-MTV-009</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATCMVLFINCONTNEGMTV002</name>
        <label>Carregar ATC-MVL-FIN-CONT-NEG-MTV-002</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exibir_TC_MVL_FIN_CONT_NEG_MTV_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-MTV-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gRDisputedItem</name>
        <label>Carrega o item da fatura</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Multi002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputeItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>gRDisputedItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Concessao</name>
        <label>Concessão</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <flowName>DisputeFixedConvergentConcession</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputeItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCallTransfer</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-TRANSF-MTV-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForConcession</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-AC-MTV-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForCustomerSegment</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-MTV-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForDeniedRetention</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-RET-MTV-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdCodeForReincidentCon</name>
            <value>
                <stringValue>ATC-MVL-FIN-CONT-NEG-REINC-MTV-001</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Exibir_ATC_MVL_FIN_CONT_AJ_MTV_002</name>
        <label>Exibir ATC-MVL-FIN-CONT-AJ-MTV-002</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>gRDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATCMVLFINCONTAJMTV002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Exibir_ATC_MVL_FIN_CONT_AJ_MTV_009</name>
        <label>Exibir ATC-MVL-FIN-CONT-AJ-MTV-009</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>gRDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATCMVLFINCONTAJMTV009</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Exibir_ATC_MVL_FIN_CONT_NEG_MULTIVIVO_002</name>
        <label>Exibir  ATC-MVL-FIN-CONT-NEG-MULTIVIVO-002</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <flowName>generalServiceDefinition</flowName>
        <inputAssignments>
            <name>definicaoAtendimento</name>
            <value>
                <elementReference>gr_ATC_MVL_FIN_CONT_NEG_MULTIVIVO_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Exibir_TC_MVL_FIN_CONT_NEG_MTV_002</name>
        <label>Exibir  ATC-MVL-FIN-CONT-NEG-MTV-002</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>gRDisputedItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATCMVLFINCONTNEGMTV002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Multi002</name>
        <label>Multi002</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcMulti002</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputeItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique no Salesforce, se Cliente possui mais linhas adicionais do que as inclusas no plano contratado.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verificar se Cliente possui mais linhas adicionais do que as inclusas no plano contratado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Multi002</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearMulti002</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Multi004</name>
        <label>Multi004</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Multi005</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputeItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Após analise da fatura informe ao cliente todas as linhas adicionais contratadas.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe o cliente todas as linhas adicionais contratadas.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Multi004</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Multi005</name>
        <label>Multi005</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Multi0066</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputeItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe ao cliente a quantidade de linhas adicionais gratuitas inclusas no plano.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Multi005</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearMulti005</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Multi0066</name>
        <label>Multi006</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Multi013</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputeItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe cliente, havendo contratação de linhas excedentes, haverá cobrança adicional por assinatura</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Multi006</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Multi009</name>
        <label>Multi009</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcMulti0009</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputeItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique no Salesforce, se a Linha dependente está vinculada a linha do titular.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>A Linha dependente está vinculada a linha do titular?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Multi009</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearMulti009</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Multi010</name>
        <label>Multi010</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcMulti010</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputeItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Verifique na fatura contestada se a linha dependente está sendo cobrada na linha do titular.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verificar se a linha dependente está sendo cobrada na linha do titular.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Multi010</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>answearMulti010</assignToReference>
            <name>answear</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Multi013</name>
        <label>Multi013</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>dcMulti013</targetReference>
        </connector>
        <flowName>GenericManualAction</flowName>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue> Cliente reconhece todas as linhas contratadas? </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>Multi013</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>answearMulti002</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearMulti005</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearMulti009</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>answearMulti010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputeItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
