force-app/main/default/flows/DisputeFixedDefectPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>dcB2C_SM_NPU_DEF_009</name>
        <label>A) Verificar se consta registro de solicitação de visita técnica</label>
        <locationX>1507</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>B2C_SM_NPU_DEF_009_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B2C_SM_NPU_DEF_009.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_SM_NPU_DEF_010</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2C_SM_NPU_DEF_010</name>
        <label>A) Verificar se a contestação é referente a uma fatura com vencimento menor que 60 dias</label>
        <locationX>1029</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>B2CSM_NPU_DEF_012</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearYesDEF_010</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B2C_SM_NPU_DEF_010.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2CSM_NPU_DEF_010_1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2C_SM_NPU_DEF_011</name>
        <label>M) Verificar se o valor está correto</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Carregar_ATC_FX_FIN_CONT_AJ_PLA_DEF_001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearYesDEF_011</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B2C_SM_NPU_DEF_011.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_SM_NPU_DEF_011_2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2C_SM_NPU_MOTIVOS</name>
        <label>M) Verificar motivo pelo qual cliente não pode utilizar produtos</label>
        <locationX>2010</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>BLOQUEIO_NOS_PRODUTOS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BLOQUEIO NOS PRODUTOS</defaultConnectorLabel>
        <rules>
            <name>isDefect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckClientReason.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discorda de cobrança pois alega que não usou devido a DEFEITO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_SM_NPU_DEF_009</targetReference>
            </connector>
            <label>DEFEITO</label>
        </rules>
        <rules>
            <name>isChangeAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckClientReason.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discorda de cobrança pois alega que não usou devido a aguardar realização de MUDANÇA DE ENDEREÇO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sfNaoPodeUtilizarME</targetReference>
            </connector>
            <label>MUDANÇA DE ENDEREÇO</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2CSM_NPU_DEF_010_1</name>
        <label>A) Verificar ressarcimento automático nas faturas recentes (60 dias)</label>
        <locationX>567</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>B2CSM_NPU_DEF_010_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearYesDEF_010_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B2CSM_NPU_DEF_010_1.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2CSM_NPU_DEF_010_2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2CSM_NPU_DEF_010_2</name>
        <label>M) Validar se ressarcimento é referente ao defeito identificado</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>B2CSM_NPU_DEF_010_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>answearYesDEF_010_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B2CSM_NPU_DEF_010_2.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_SM_NPU_DEF_011</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2CSM_NPU_DEF_012</name>
        <label>A) Existe registro de ressarcimento automático após o defeito?</label>
        <locationX>1491</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>grATC_FX_FIN_CONT_AJ_PLA_DEF_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dc012Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B2CSM_NPU_DEF_012.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2CSM_NPU_DEF_012_1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2CSM_NPU_DEF_012_1</name>
        <label>M) Verifique conforme o HINT. O ressarcimento é referente ao defeito identificado?</label>
        <locationX>1260</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>grATC_FX_FIN_CONT_AJ_PLA_DEF_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dc012_1Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B2CSM_NPU_DEF_012_1.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2CSM_NPU_DEF_012_2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcB2CSM_NPU_DEF_012_2</name>
        <label>M) O valor do ressarcimento está correto?</label>
        <locationX>1062</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>grATC_FX_FIN_CONT_AJ_PLA_DEF_002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>dc012_2Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B2CSM_NPU_DEF_012_2.answear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2CSM_NPU_DEF_012_3</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contestação - Fixa/Convergente - Plano Fixa - Cancelou {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contestação - Fixa/Convergente - Planos - Não pôde utilizar por Defeito</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Carregar_ATC_FX_FIN_CONT_AJ_PLA_DEF_001</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-PLA-DEF-001</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_AJ_PLA_DEF_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-PLA-DEF-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Carregar_ATC_FX_FIN_CONT_NEG_PLA_DEF_001</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-PLA-DEF-001</label>
        <locationX>1986</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_PLA_DEF_001</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-DEF-001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Carregar_ATC_FX_FIN_CONT_NEG_PLA_DEF_002</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-PLA-DEF-002</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_PLA_DEF_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-DEF-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Carregar_ATC_FX_FIN_CONT_NEG_PLA_DEF_003</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-PLA-DEF-003</label>
        <locationX>567</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sfATC_FX_FIN_CONT_NEG_PLA_DEF_003</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-DEF-003</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_AJ_PLA_DEF_002</name>
        <label>Carregar ATC-FX-FIN-CONT-AJ-PLA-DEF-002</label>
        <locationX>1722</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_AJ_PLA_DEF_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-AJ-PLA-DEF-002</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grATC_FX_FIN_CONT_NEG_PLA_DEF_004</name>
        <label>Carregar ATC-FX-FIN-CONT-NEG-PLA-DEF-004</label>
        <locationX>930</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATC_FX_FIN_CONT_NEG_PLA_DEF_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StepCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATC-FX-FIN-CONT-NEG-PLA-DEF-004</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grDisputeItemById</name>
        <label>Carregar item contestado</label>
        <locationX>2010</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckClientReason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisputedItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1884</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grDisputeItemById</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ATC_FX_FIN_CONT_AJ_PLA_DEF_002</name>
        <label>ATC-FX-FIN-CONT-AJ-PLA-DEF-002</label>
        <locationX>1722</locationX>
        <locationY>1214</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputeItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_AJ_PLA_DEF_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ATC_FX_FIN_CONT_NEG_PLA_DEF_004</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-DEF-004</label>
        <locationX>930</locationX>
        <locationY>1754</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputeItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>grATC_FX_FIN_CONT_NEG_PLA_DEF_004</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>B2C_SM_NPU_DEF_009</name>
        <label>B2C-SM-NPU-DEF-009</label>
        <locationX>1507</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>dcB2C_SM_NPU_DEF_009</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceRepairRequest</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-DEF-009</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2C_SM_NPU_DEF_009_1</name>
        <label>B2C-SM-NPU-DEF-009.1</label>
        <locationX>1986</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Carregar_ATC_FX_FIN_CONT_NEG_PLA_DEF_001</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Não foi identificado defeitos no período que caberia ressarcimento para esse ciclo de faturamento. Revisite a seleção de fatura. Entendido?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-DEF-009.1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2C_SM_NPU_DEF_010</name>
        <label>B2C-SM-NPU-DEF-010</label>
        <locationX>1029</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>dcB2C_SM_NPU_DEF_010</targetReference>
        </connector>
        <flowName>DisputeCheckInvoceDuoDateLastThen60Days</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-DEF-010</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2C_SM_NPU_DEF_011</name>
        <label>B2C-SM-NPU-DEF-011</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcB2C_SM_NPU_DEF_011</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O valor do ressarcimento está correto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-DEF-011</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2C_SM_NPU_DEF_011_2</name>
        <label>B2C-SM-NPU-DEF-011.2</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Carregar_ATC_FX_FIN_CONT_NEG_PLA_DEF_002</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe ao cliente que o ressarcimento já ocorreu. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-DEF-011.2</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2CSM_NPU_DEF_010_1</name>
        <label>B2CSM-NPU-DEF-010.1</label>
        <locationX>567</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcB2CSM_NPU_DEF_010_1</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceCreditsInTheLast60Days</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2CSM-NPU-DEF-010.1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2CSM_NPU_DEF_010_2</name>
        <label>B2CSM-NPU-DEF-010.2</label>
        <locationX>380</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcB2CSM_NPU_DEF_010_2</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Valide se ressarcimento na fatura é referente ao defeito identificado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue> Verifique conforme o HINT. O ressarcimento é referente ao defeito identificado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2CSM-NPU-DEF-010.2</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2CSM_NPU_DEF_010_3</name>
        <label>B2CSM-NPU-DEF-010.3</label>
        <locationX>567</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Carregar_ATC_FX_FIN_CONT_NEG_PLA_DEF_003</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe ao cliente que o ressarcimento automático ocorre em até 60 dias.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue> Informe ao cliente que o ressarcimento automático ocorre em até 60 dias e deve aguardar o prazo.  Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2CSM-NPU-DEF-010.3</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2CSM_NPU_DEF_012</name>
        <label>B2CSM-NPU-DEF-012</label>
        <locationX>1491</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>dcB2CSM_NPU_DEF_012</targetReference>
        </connector>
        <flowName>DisputeCheckExistenceCreditsAfterRepair</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2CSM-NPU-DEF-012</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2CSM_NPU_DEF_012_1</name>
        <label>B2CSM-NPU-DEF-012.1</label>
        <locationX>1260</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>dcB2CSM_NPU_DEF_012_1</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Valide se ressarcimento na fatura é referente ao defeito identificado </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Verifique conforme o HINT. O ressarcimento é referente ao defeito identificado?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2CSM-NPU-DEF-012.1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2CSM_NPU_DEF_012_2</name>
        <label>B2CSM-NPU-DEF-012.2</label>
        <locationX>1062</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>dcB2CSM_NPU_DEF_012_2</targetReference>
        </connector>
        <flowName>BooleanGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>O valor do ressarcimento está correto?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2CSM-NPU-DEF-012.2</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2CSM_NPU_DEF_012_3</name>
        <label>B2CSM-NPU-DEF-012.3</label>
        <locationX>930</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>grATC_FX_FIN_CONT_NEG_PLA_DEF_004</targetReference>
        </connector>
        <flowName>OnlyTrueGenericManualAction</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>question</name>
            <value>
                <stringValue>Informe ao cliente que o ressarcimento já ocorreu. Cliente ciente?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2CSM-NPU-DEF-012.3</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>BLOQUEIO_NOS_PRODUTOS</name>
        <label>BLOQUEIO NOS PRODUTOS</label>
        <locationX>2514</locationX>
        <locationY>458</locationY>
        <flowName>DisputeFixedConvergentCheckfraudblockstemporarysuspension</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CheckClientReason</name>
        <label>B2C-SM-NPU-MOTIVOS</label>
        <locationX>2010</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>dcB2C_SM_NPU_MOTIVOS</targetReference>
        </connector>
        <flowName>DisputeSelectClientReason</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hint</name>
            <value>
                <stringValue>Informe se o cliente não pode utilizar os serviços por DEFEITO, MUDANÇA DE ENDEREÇO ou BLOQUEIO NOS SERVIÇOS. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>step</name>
            <value>
                <stringValue>B2C-SM-NPU-MOTIVOS</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_AJ_PLA_DEF_001</name>
        <label>ATC-FX-FIN-CONT-AJ-PLA-DEF-001</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputeItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_AJ_PLA_DEF_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_PLA_DEF_001</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-DEF-001</label>
        <locationX>1986</locationX>
        <locationY>890</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputeItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_NEG_PLA_DEF_001</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_PLA_DEF_002</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-DEF-002</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputeItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_NEG_PLA_DEF_002</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfATC_FX_FIN_CONT_NEG_PLA_DEF_003</name>
        <label>ATC-FX-FIN-CONT-NEG-PLA-DEF-003</label>
        <locationX>567</locationX>
        <locationY>2438</locationY>
        <flowName>DisputeGeneralUpdateDisputedItem</flowName>
        <inputAssignments>
            <name>disputedItem</name>
            <value>
                <elementReference>grDisputeItemById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceDefinition</name>
            <value>
                <elementReference>Carregar_ATC_FX_FIN_CONT_NEG_PLA_DEF_003</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sfNaoPodeUtilizarME</name>
        <label>Não pode utilizar ME</label>
        <locationX>2250</locationX>
        <locationY>458</locationY>
        <flowName>DisputeCannotUseME</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disputedItemId</name>
            <value>
                <elementReference>disputedItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disputedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
