force-app/main/default/flows/FibraRuralLeadElegibilidade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Formata a cidade recebida do utilizando a classe apex (FibraRuralLeadElegibilidadeHandler) para remover a acentuação e assim permitir a busca subsequente sem acentuação</description>
        <name>CityFormatFromLead</name>
        <label>FormataCidadeRecebidaLead</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>FibraRuralLeadElegibilidadeService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConsultaElegibilidadeNome</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>unformatString,{!$Record.City}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>cityLeadWithoutAccent</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Email_Inviavel</name>
        <label>Enviar Email Inviável</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>FibraRuralLeadElegibilidadeService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>sendEmailController,FIBRA_RURAL_INVIABILIDADE,{!$Record.Email},{!$Record.FirstName} {!$Record.MiddleName} {!$Record.LastName},{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>emailReturn</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Email_Viavel</name>
        <label>Enviar Email Viável</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>FibraRuralLeadElegibilidadeService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>sendEmailController,FIBRA_RURAL_OPORTUNIDADE,{!$Record.Email},{!$Record.FirstName} {!$Record.MiddleName} {!$Record.LastName},{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>emailReturn</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Verifica se foi encontrado algum registro de elegibilidade equivalente ativo no objeto Elegibilidade Fibra Rural</description>
        <name>Encontrou_Elegibilidade_Ativa</name>
        <label>Encontrou Elegibilidade Ativa</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Elegibilidade_Encontrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>idEligibilityFound</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Status_do_Lead_Como_Viavel</targetReference>
            </connector>
            <label>Elegibilidade Encontrada</label>
        </rules>
        <rules>
            <name>Elegibilidade_Nao_Encontrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>idEligibilityFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Status_do_Lead_Como_Inviavel</targetReference>
            </connector>
            <label>Elegibilidade Não Encontrada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica se o tipo de registro é Fibra Rural, apenas Leads de Fibra Rural devem ser considerados nesse fluxo</description>
        <name>Valida_o_Tipo_de_Registro_Fibra_Rural</name>
        <label>Valida o Tipo de Registro Fibra Rural</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Tipo de Registro Diferente de Fibra Rural</defaultConnectorLabel>
        <rules>
            <name>Tipo_de_Registro_Igual_a_Fibra_Rural</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FibraRural</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CityFormatFromLead</targetReference>
            </connector>
            <label>Tipo de Registro Igual a Fibra Rural</label>
        </rules>
    </decisions>
    <description>Aplica as regras de Elegibilidade para os Leads do contexto de Fibra Rural</description>
    <interviewLabel>FibraRuralLeadElegibilidade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FibraRuralLeadElegibilidade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Procura o nome da elegibilidade no objeto &quot;Elegibilidade Fibra Rural&quot;</description>
        <name>ConsultaElegibilidadeNome</name>
        <label>ConsultaElegibilidadeNome</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_Elegibilidade_Ativa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cityLeadWithoutAccent</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RuralFiberEligibility</stringValue>
            </value>
        </filters>
        <object>Configuration__c</object>
        <outputAssignments>
            <assignToReference>idEligibilityFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Atualiza Status do Lead Como Inviável</description>
        <name>Atualiza_Status_do_Lead_Como_Inviavel</name>
        <label>Atualiza Status do Lead Como Inviável</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Enviar_Email_Inviavel</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>ImpracticableFR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o status do Lead como viável</description>
        <name>Atualiza_Status_do_Lead_Como_Viavel</name>
        <label>Atualiza Status do Lead Como Viável</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Enviar_Email_Viavel</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>ViableFR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valida_o_Tipo_de_Registro_Fibra_Rural</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewFR</stringValue>
            </value>
        </filters>
        <filters>
            <field>City</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Armazena o nome da cidade do Lead sem a formatação original (retirando acentuação)</description>
        <name>cityLeadWithoutAccent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>emailReturn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Retorna o ID da Elegibilidade Encontrada</description>
        <name>idEligibilityFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
