force-app/main/default/flows/FlowCheckoutAfterBulk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckoutAPI</name>
        <label>Checkout Procedure</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>CustomVIPImplementationInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>procedureName</name>
            <value>
                <stringValue>val_CheckoutOMBulk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ExtractCartId.cartIdFilter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomVIPImplementationInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ExtractCartId</name>
        <label>Extract Cart</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>CartIdJSONFilter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MaintainOrderProductServiceIdentifier</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonInputs</name>
            <value>
                <elementReference>$Record.vlocity_cmt__AdditionalData__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CartIdJSONFilter</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adiciona o ServiceIdentifier do produto removido do carrinho para o novo, em casos de troca e ativação/desativação de promoção</description>
        <name>MaintainOrderProductServiceIdentifier</name>
        <label>UpdateAddedObjLineNumber</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>CustomVIPImplementationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckoutAPI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>procedureName</name>
            <value>
                <stringValue>val_MaintainOrderProductServiceIdentifier</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ExtractCartId.cartIdFilter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomVIPImplementationInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>cartId</name>
        <dataType>String</dataType>
    </constants>
    <environments>Default</environments>
    <interviewLabel>FlowCheckoutAfterBulk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowCheckoutAfterBulk</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ExtractCartId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__StepName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Price</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Trigger Bulk Replace</stringValue>
            </value>
        </filters>
        <object>vlocity_cmt__AsyncProcess__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
