force-app/main/default/flows/FlowBulkReplaceAfterAddMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BulkReplaceFlowParameters</name>
        <label>BulkReplaceFlowParameters</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>BulkReplaceFlowParameters</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>valStartTriggerBulkReplace</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonInputs</name>
            <value>
                <elementReference>$Record.vlocity_cmt__AdditionalData__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BulkReplaceFlowParameters</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>valStartTriggerBulkReplace</name>
        <label>valStartTriggerBulkReplace</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>CustomVIPImplementationInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>BulkReplaceFlowParameters.accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cartGroupId</name>
            <value>
                <elementReference>BulkReplaceFlowParameters.cartGroupId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>BulkReplaceFlowParameters.cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cartType</name>
            <value>
                <elementReference>BulkReplaceFlowParameters.cartType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupCartId</name>
            <value>
                <elementReference>BulkReplaceFlowParameters.groupCartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupCartName</name>
            <value>
                <elementReference>BulkReplaceFlowParameters.groupCartName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureName</name>
            <value>
                <stringValue>val_StartTriggerBulkReplace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetOfferId</name>
            <value>
                <elementReference>BulkReplaceFlowParameters.targetOfferId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIntent</name>
            <value>
                <elementReference>BulkReplaceFlowParameters.userIntent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomVIPImplementationInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>FlowBulkReplaceAfterAddMember {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowBulkReplaceAfterAddMember</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BulkReplaceFlowParameters</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Trigger Add Members for</stringValue>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <object>vlocity_cmt__AsyncProcess__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
