force-app/main/default/flows/GuidedScriptServiceRequestFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>{!currentScript.Description__c}</description>
        <name>fillRoute2</name>
        <label>Preenche a Rota</label>
        <locationX>1178</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>txtRouteSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!currentScript.Name}: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtRouteSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>txtOptionDescriptionSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNoteScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isThereNextScript</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkRecordTypeInstruction</name>
        <label>Tipo de Registro é uma Instrução?</label>
        <locationX>960</locationX>
        <locationY>1426</locationY>
        <defaultConnector>
            <targetReference>Fluxo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isInstruction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInstructionRecordTypeId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentScript.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EndScreen</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSubStatus</name>
        <label>DecisionSubStatus</label>
        <locationX>631</locationX>
        <locationY>1431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DecisionSubStatusApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubStatus.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSs</targetReference>
            </connector>
            <label>DecisionSubStatusApproved</label>
        </rules>
        <rules>
            <name>DecisionSubStatusRepproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubStatus.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSs_0</targetReference>
            </connector>
            <label>DecisionSubStatusRepproved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Existe próximo Script?</description>
        <name>isThereNextScript</name>
        <label>Existe próximo Script?</label>
        <locationX>959</locationX>
        <locationY>949</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentScriptConfigId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentScriptConfig</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentScriptConfigId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showFinishedWithoutInstructionScreen</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusDecision</name>
        <label>StatusDecision</label>
        <locationX>960</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IndevidoTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Indevido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord</targetReference>
            </connector>
            <label>IndevidoTrue</label>
        </rules>
        <rules>
            <name>IndevidoFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Indevido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getInstructionRecordTypeId</targetReference>
            </connector>
            <label>IndevidoFalse</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ltFlow</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFlowRecordTypeId.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesSupport</stringValue>
            </value>
        </filters>
        <object>Script__c</object>
        <outputAssignments>
            <assignToReference>txtRouteSelected</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentScriptConfigId</assignToReference>
            <field>ScriptConfig__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Lista de rotas disponíveis</description>
        <name>ltScriptConfigRoute</name>
        <dataType>String</dataType>
        <displayField>OptionDescription__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentScriptConfig__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentScriptConfig.Id</elementReference>
            </value>
        </filters>
        <object>ScriptConfig__c</object>
        <outputAssignments>
            <assignToReference>IdScriptConfig</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentScriptConfigId</assignToReference>
            <field>NextScriptConfig__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>txtOptionDescriptionSelected</assignToReference>
            <field>OptionDescription__c</field>
        </outputAssignments>
        <sortField>OptionDescription__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>NextScriptConfig__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FinishedWithoutInstruction</name>
        <dataType>String</dataType>
        <expression>{!$Label.FinishedWithoutInstruction}</expression>
    </formulas>
    <formulas>
        <name>GetLogLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowSalesSupport}</expression>
    </formulas>
    <interviewLabel>GuidedScriptServiceRequestFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo de solicitação de serviço</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Obtém o registro do próximo Script</description>
        <name>currentScript</name>
        <label>Obtém Script</label>
        <locationX>968</locationX>
        <locationY>1289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecordTypeInstruction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentScriptConfig.ScriptToShow__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>currentScriptConfig</name>
        <label>Obtém ScriptConfig</label>
        <locationX>970</locationX>
        <locationY>1156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>currentScript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentScriptConfigId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ScriptConfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>760</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>UpdateUndueFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinalMessage__c</field>
            <value>
                <elementReference>Motivo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>AnalysisComplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubStatus__c</field>
            <value>
                <stringValue>Improper</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSs</name>
        <label>UpdateSs</label>
        <locationX>413</locationX>
        <locationY>1347</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinalMessage__c</field>
            <value>
                <stringValue>{!currentScript.Description__c}  {!txtNote}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>AnalysisComplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubStatus__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSs_0</name>
        <label>UpdateSs</label>
        <locationX>413</locationX>
        <locationY>1518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinalMessage__c</field>
            <value>
                <stringValue>{!currentScript.Description__c}  {!txtNote}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>AnalysisComplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubStatus__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceRequest__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EndScreen</name>
        <label>Apresenta Detalhe do Script</label>
        <locationX>777</locationX>
        <locationY>1426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisionSubStatus</targetReference>
        </connector>
        <fields>
            <name>showHistoryShow2</name>
            <extensionName>c:ScriptShowList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>route</name>
                <value>
                    <elementReference>txtRouteSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;{!currentScript.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubStatus</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sub-Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Aprovado</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Negado</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fluxo</name>
        <label>Apresenta a Pergunta do Fluxo</label>
        <locationX>1382</locationX>
        <locationY>947</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>fillRoute2</targetReference>
        </connector>
        <fields>
            <name>showHistoryFlow</name>
            <extensionName>c:ScriptShowList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>route</name>
                <value>
                    <elementReference>txtRouteSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lblQuestion</name>
            <fieldText>&lt;p&gt;{!currentScript.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lblQuestionDetail</name>
            <fieldText>&lt;p&gt;{!currentScript.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>optRoute</name>
            <choiceReferences>ltScriptConfigRoute</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtNoteScreen</name>
            <defaultValue>
                <stringValue>{!txtNote}</stringValue>
            </defaultValue>
            <fieldText>Notas</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>getFlow</name>
        <label>Apresenta os Fluxos</label>
        <locationX>966</locationX>
        <locationY>490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StatusDecision</targetReference>
        </connector>
        <fields>
            <name>optFlow</name>
            <choiceReferences>ltFlow</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Indevido</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Indevido</name>
            <dataType>Boolean</dataType>
            <fieldText>Indevido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Motivo</name>
            <dataType>String</dataType>
            <fieldText>Motivo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Indevido</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showFinishedWithoutInstructionScreen</name>
        <label>showFinishedWithoutInstruction</label>
        <locationX>788</locationX>
        <locationY>943</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>showHistory</name>
            <extensionName>c:ScriptShowList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>route</name>
                <value>
                    <elementReference>txtRouteSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShowFinishedWithoutInstruction</name>
            <fieldText>&lt;p&gt;{!FinishedWithoutInstruction}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdateUndueFlow</name>
        <label>UpdateUndueFlow</label>
        <locationX>562</locationX>
        <locationY>621</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FluxoFinal</name>
            <fieldText>&lt;p&gt;Fluxo foi realizado com sucesso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>840</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>GetFlowRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetFlowRecordTypeId</name>
        <label>GetFlowRecordTypeId</label>
        <locationX>965</locationX>
        <locationY>347</locationY>
        <connector>
            <targetReference>getFlow</targetReference>
        </connector>
        <flowName>getRecordTypeId</flowName>
        <inputAssignments>
            <name>RecordTypeDeveloperName</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SObjectApiName</name>
            <value>
                <stringValue>Script__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>getInstructionRecordTypeId</name>
        <label>getInstructionRecordTypeId</label>
        <locationX>967</locationX>
        <locationY>793</locationY>
        <connector>
            <targetReference>isThereNextScript</targetReference>
        </connector>
        <flowName>getRecordTypeId</flowName>
        <inputAssignments>
            <name>RecordTypeDeveloperName</name>
            <value>
                <stringValue>Instruction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SObjectApiName</name>
            <value>
                <stringValue>Script__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Id do Grupo</description>
        <name>currentScriptConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentScriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdScriptConfig</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Notas que será exibida durante a execução do fluxo</description>
        <name>txtNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Opção selecionada no Script</description>
        <name>txtOptionDescriptionSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtRouteSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
