force-app/main/default/flows/HDEAssignToQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>DeadLine</name>
        <label>DeadLine</label>
        <locationX>1358</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>ExecutionTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_1</name>
        <label>Set 1</label>
        <locationX>1149</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>ExecutionTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_2</name>
        <label>Set 2</label>
        <locationX>936</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>ExecutionTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_3</name>
        <label>Set 3</label>
        <locationX>733</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>ExecutionTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>type</name>
        <label>type</label>
        <locationX>1039</locationX>
        <locationY>580</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acompanhamento_e_Tratativa_Fila_Atendente_Flow_2</targetReference>
            </connector>
            <label>Call center</label>
        </rules>
    </decisions>
    <description>Fluxo que agenda a execução do fluxo HDEGenesysQueue 3h antes de vencer o SLA final do caso</description>
    <environments>Default</environments>
    <interviewLabel>Acompanhamento e Tratativa - Enfileirar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acompanhamento e Tratativa - Enfileirar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>920</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsHDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_Hours_Before_SLA</name>
            <connector>
                <targetReference>Set_3</targetReference>
            </connector>
            <label>3 Hours Before SLA</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SLADeadline__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Hours_Before_SLA</name>
            <connector>
                <targetReference>Set_2</targetReference>
            </connector>
            <label>2 Hours Before SLA</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SLADeadline__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Hour_Before_SLA</name>
            <connector>
                <targetReference>Set_1</targetReference>
            </connector>
            <label>1 Hour Before SLA</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SLADeadline__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SLA_Deadline</name>
            <connector>
                <targetReference>DeadLine</targetReference>
            </connector>
            <label>SLA Deadline</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SLADeadline__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Acompanhamento_e_Tratativa_Fila_Atendente_Flow_2</name>
        <label>Acompanhamento e Tratativa - Fila Atendente Flow 2</label>
        <locationX>1046</locationX>
        <locationY>786</locationY>
        <flowName>HDEGenesysQueue</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExecutionTime</name>
            <value>
                <elementReference>ExecutionTime</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Id</assignToReference>
            <name>caseId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>uma variável de saída para identificar se é a execução de 3 horas, 2 horas, 1 hora ou no momento do vencimento do SLA.</description>
        <name>ExecutionTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </variables>
</Flow>
