force-app/main/default/flows/HDECasePrioritization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Posta no chatter que o chamado foi priorizado</description>
        <name>Posta_no_chatter</name>
        <label>Posta no chatter</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>PrioritizeCase_0_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>PrioritizeCase_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue> @[{!Busca_o_chamado.OwnerId}], o Chamado {!Busca_o_chamado.CaseNumber} foi classificado como Crítico por {!Busca_o_chamado.LastModifiedBy.FirstName} {!Busca_o_chamado.LastModifiedBy.LastName}, matricula: {!Busca_o_chamado.LastModifiedBy.Alias} em {!Busca_o_chamado.LastModifiedDate}. Favor priorizar o atendimento.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Busca_o_chamado.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Posta_no_chatter_para_fila</name>
        <label>Posta no chatter para fila</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>PrioritizeCase_0_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>PrioritizeCase_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>O Chamado {!Busca_o_chamado.CaseNumber} foi classificado como Crítico por {!Busca_o_chamado.LastModifiedBy.FirstName} {!Busca_o_chamado.LastModifiedBy.LastName}, matricula: {!Busca_o_chamado.LastModifiedBy.Alias} em {!Busca_o_chamado.LastModifiedDate}. Favor priorizar o atendimento.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Busca_o_chamado.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Atribui_novos_valores_ao_caso</name>
        <label>Atribui novos valores ao caso</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Busca_o_chamado.CriticalComment__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!CriticalComment} / </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Busca_o_chamado.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Busca_o_chamado.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Crítico</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>VerifyIfUserIsQueue</name>
        <label>Verifica se o usuário é uma fila</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Posta_no_chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>UserIsQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_o_chamado.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Posta_no_chatter_para_fila</targetReference>
            </connector>
            <label>Usuário é uma fila</label>
        </rules>
    </decisions>
    <interviewLabel>HDE - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDE - Priorização de chamado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Busca_o_chamado</name>
        <label>Busca o chamado</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_novos_valores_ao_caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsHDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>VerifyIfUserIsQueue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PrioritizeCase_0_0_0</targetReference>
        </faultConnector>
        <inputReference>Busca_o_chamado</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>PrioritizeCase</name>
        <label>Priorizar Chamado</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Busca_o_chamado</targetReference>
        </connector>
        <fields>
            <name>CriticalComment</name>
            <fieldText>Detalhes da priorização</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Limite de 2000 caracteres&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!CriticalComment}) &lt;= 2000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PrioritizeCase_0_0</name>
        <label>Priorizar Chamado</label>
        <locationX>314</locationX>
        <locationY>1010</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseUpdatesSuccesfully</name>
            <fieldText>&lt;p&gt;O Chamado foi priorizado com sucesso&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PrioritizeCase_0_0_0</name>
        <label>Priorizar Chamado</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseUpdatesSuccesfully_0</name>
            <fieldText>&lt;p&gt;Houve um erro na priorização do chamado. Informe seu administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PrioritizeCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
