force-app/main/default/flows/HDEChangeCaseComplexityAndAssignToQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>HDE - Altera complexidade do caso e atribui à fila</description>
    <interviewLabel>HDE - Altera complexidade do caso e atribui à fila {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDE - Altera complexidade do caso e atribui à fila</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obter Registros dos Metadados Personalizados utilizados na parametrização</description>
        <name>GetCustomMetadataRecords</name>
        <label>Obter Registros dos Metadados Personalizados</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseComplexity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>UsedIn__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SourceApiName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerServiceReason__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>TargetApiName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseComplexityReason__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>OperatorSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Segment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SourcePicklistValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CustomerServiceReason__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ToFromHDE__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseComplexity</name>
        <label>Atualiza a complexidade do caso</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerServiceReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCustomMetadataRecords.SourcePicklistValue__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseComplexityReason__c</field>
            <value>
                <stringValue>Motivos de Alta Complexidade</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomMetadataRecords</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerServiceReason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsHDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
