force-app/main/default/flows/HDEDuplicateCasePosBlock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>postagem_no_Chatter</name>
        <label>postagem no Chatter</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Novo caso criado: \n- Status: {!StatusCasoAntigo}; \n - Usuário Atribuído: {!OwnerName}; \n - Data de Abertura: {!Case_to_close.CreatedDate}; \n - Data de Vencimento do SLA Final: {!Case_to_close.FinalTransactionDate__c}; \n - Data de Vencimento do Caso: {!Case_to_close.DueDate__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Fechar Status Caso Antigo da coleção Case to close para postagem do Chatter.</description>
        <name>FecharStatus</name>
        <label>Fechar Status Caso Antigo</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Case_to_close.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>postagem_no_Chatter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Outro_registro</name>
        <label>Outro registro?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Fechar_caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_to_close</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_close.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fechar_caso_Antigo</targetReference>
            </connector>
            <label>Fechar caso</label>
        </rules>
    </decisions>
    <description>Quando o novo Caso for de um nível hierárquico superior e for encontrado um Caso duplicado, esse Caso (antigo) encontrado deve ser fechado</description>
    <environments>Default</environments>
    <formulas>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Case_to_close.OwnerId}, &quot;00G&quot;), &quot;FILA&quot;, {!Case_to_close.CaseOwnerFormula__c})</expression>
    </formulas>
    <formulas>
        <name>StatusCasoAntigo</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(TEXT({!Case_to_close.Status}),&apos;Closed&apos;),&apos;Fechado&apos;, TEXT({!Case_to_close.Status}))</expression>
    </formulas>
    <interviewLabel>Acompanhamento e Tratativa - Pós Bloqueio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acompanhamento e Tratativa - Pós Bloqueio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Pega o registro que deve ser fechado, caso haja necessidade</description>
        <name>Case_to_close</name>
        <label>Case to close</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outro_registro</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND ( (3 AND 4 AND 8) OR (3 AND 5 AND 7) ) AND 6 AND 9</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CustomerServiceReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CustomerServiceReason__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ComplainedAsset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ComplainedAsset__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HDEOtherProducts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HDEOtherProducts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HDEOtherProducts__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>ComplainedAsset__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>CustomerServiceReason__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>fechar_caso_Antigo</name>
        <label>fechar caso Antigo</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>FecharStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_to_close.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseCloseType__c</field>
            <value>
                <stringValue>Procedente - Não executado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDescription__c</field>
            <value>
                <stringValue>Automação Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDetail__c</field>
            <value>
                <stringValue>Novo Chamado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubDetailService__c</field>
            <value>
                <stringValue>Vazados Instância</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_to_close</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
