force-app/main/default/flows/HDEFlagCustomerUpset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Posta um aviso no chatter do case avisando o supervisor que um cliente está irritado e precisa de ajuda</description>
        <name>PostOnSupervisorsChatter</name>
        <label>Posta no chatter</label>
        <locationX>182</locationX>
        <locationY>1776</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!SupervisorsString}{!ChatterBaseString}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Posta um aviso no chatter do caso avisando os supervisores que um cliente está irritado e precisa de ajuda</description>
        <name>PostOnSupervisorsChatterLimit</name>
        <label>Posta no chatter</label>
        <locationX>270</locationX>
        <locationY>1224</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ResetLimit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!SupervisorsString}{!ChatterBaseString}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Adiciona nome do supervisor à string</description>
        <name>AddSupervisorToString</name>
        <label>Adiciona nome do supervisor à string</label>
        <locationX>402</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>SupervisorsString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!SupervisorUserLoop.Id}], </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TakeOneFromLoopLimit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToVariable</name>
        <label>Atribuição à variável</label>
        <locationX>182</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>Supervisores</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetrieveSupervisors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervisores</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RetrieveSupervisors2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SupervisorUserLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribui novamente o valor do limite para 25</description>
        <name>ResetLimit</name>
        <label>Reseta o limite</label>
        <locationX>270</locationX>
        <locationY>1344</locationY>
        <assignmentItems>
            <assignToReference>LoopLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetSupervisorString</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseta a string de supervisores para que a nova iteração seja limpa</description>
        <name>ResetSupervisorString</name>
        <label>Reseta a string de supervisores</label>
        <locationX>270</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>SupervisorsString</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SupervisorUserLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Diminui em 1 o valor da variável LoopLimit</description>
        <name>TakeOneFromLoopLimit</name>
        <label>Diminui em 1 o valor da variável LoopLimit</label>
        <locationX>402</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>LoopLimit</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyLoopLimitIteractions</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ChatterBaseString</name>
        <dataType>String</dataType>
        <value>
            <stringValue> o cliente do caso está irritado e o operador precisa de apoio.</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Verifica se o owner é uma fila para impedir muitos usuários sejam acionados durante o processo</description>
        <name>CheckIfOwnerIsAQueue</name>
        <label>Verifica se o owner é uma fila</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>RetrieveSupervisors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OwnerIsAQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetrieveSupervisors2</targetReference>
            </connector>
            <label>O Owner é uma fila</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica se o loop atingiu o limite de iterações</description>
        <name>VerifyLoopLimitIteractions</name>
        <label>Verifica se o loop atingiu o limite de iterações</label>
        <locationX>402</locationX>
        <locationY>1104</locationY>
        <defaultConnector>
            <targetReference>SupervisorUserLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>LimitReached</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostOnSupervisorsChatterLimit</targetReference>
            </connector>
            <label>Atingiu o limite</label>
        </rules>
    </decisions>
    <description>HDE - Fluxo que cria uma tarefa para o supervisor acompanhar um atendimento em que o cliente está irritado</description>
    <interviewLabel>HDE - Flag Cliente Irritado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDE - Flag Cliente Irritado</label>
    <loops>
        <description>Loop que percorre a coleção de registros de supervisores para que todos sejam atribuídos ao post do chatter</description>
        <name>SupervisorUserLoop</name>
        <label>Loop para supervisor</label>
        <locationX>182</locationX>
        <locationY>744</locationY>
        <collectionReference>Supervisores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddSupervisorToString</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PostOnSupervisorsChatter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Node para obter os supervisores do atendente com base na hierarquia de papéis</description>
        <name>RetrieveSupervisors</name>
        <label>Obter Supervisores do Proprietário</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddToVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.UserRole.ParentRoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Node para obter os supervisores do atendente com base na hierarquia de papéis</description>
        <name>RetrieveSupervisors2</name>
        <label>Obter Supervisores do Criador do caso</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddToVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.UserRole.ParentRoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckIfOwnerIsAQueue</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerMoodRating__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsHDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Variável que armazena o limite de loop para evitar erros nas menções do chatter</description>
        <name>LoopLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Supervisores</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SupervisorsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
