force-app/main/default/flows/HDEGenesysQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_CaseToAutomaticRouting</name>
        <label>Send CaseToAutomaticRouting</label>
        <locationX>972</locationX>
        <locationY>876</locationY>
        <actionName>HDECasesService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priority</name>
            <value>
                <elementReference>priority</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Alta</name>
        <label>Set Alta</label>
        <locationX>789</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ALTA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_CaseToAutomaticRouting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Baixa</name>
        <label>Set Baixa</label>
        <locationX>1184</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BAIXA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_CaseToAutomaticRouting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Critica</name>
        <label>set Critica</label>
        <locationX>507</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRITICA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_CaseToAutomaticRouting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default</name>
        <label>Set Default</label>
        <locationX>1502</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEDIA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_CaseToAutomaticRouting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Media</name>
        <label>Set Media</label>
        <locationX>972</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEDIA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_CaseToAutomaticRouting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_it_Closed</name>
        <label>Is it Closed</label>
        <locationX>374</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>964</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Set_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRITICA</name>
            <conditionLogic>(1 AND( 2 OR 3) ) OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>ExecutionTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atenção</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expirado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExecutionTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Critica</targetReference>
            </connector>
            <label>CRITICA</label>
        </rules>
        <rules>
            <name>ALTA</name>
            <conditionLogic>(1 OR 4 ) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ExecutionTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atenção</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExecutionTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Alta</targetReference>
            </connector>
            <label>ALTA</label>
        </rules>
        <rules>
            <name>MEDIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Media</targetReference>
            </connector>
            <label>MEDIA</label>
        </rules>
        <rules>
            <name>BAIXA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A Iniciar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Baixa</targetReference>
            </connector>
            <label>BAIXA</label>
        </rules>
    </decisions>
    <description>Chama a Genesys para enviar novamente as informações do Caso, alterando a *prioridade*</description>
    <interviewLabel>Acompanhamento e Tratativa - Fila Atendente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acompanhamento e Tratativa - Fila Atendente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_case</name>
        <label>Get Case</label>
        <locationX>382</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>256</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>RecordId</stringValue>
        </value>
    </variables>
    <variables>
        <description>uma variável de entrada para identificar se é a execução de 3 horas, 2 horas, 1 hora ou no momento do vencimento do SLA.</description>
        <name>ExecutionTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>seta a prioridade necessária ao método invocável</description>
        <name>priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
