force-app/main/default/flows/HDESLAAndStatusChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Envio de email para o proprietario do caso, quando chegar no status Atenção</description>
        <name>EnvioEmailAlertaAtencao1</name>
        <label>Envio Email Alerta Atenção</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <actionName>Case.AlertaAlteracaoStatusHDE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NotificacaoPersonalizadaAtencao</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envio de email para o proprietario do caso, quando chegar no status Atenção</description>
        <name>EnvioEmailAlertaAtencao2</name>
        <label>Envio Email Alerta Atenção</label>
        <locationX>2866</locationX>
        <locationY>768</locationY>
        <actionName>Case.AlertaAlteracaoStatusHDE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NotificacaoPersonalizadaAtencao1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envio de email para o proprietario do caso, quando chegar no status Critico.</description>
        <name>EnvioEmailAlertaCritico</name>
        <label>Envio Email Alerta Critico</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <actionName>Case.AlertaAlteracaoStatusHDE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NotificacaoPersonalizadaCritico</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envio de sininho para o proprietario do caso, quando chegar no status Atenção</description>
        <name>NotificacaoPersonalizadaAtencao</name>
        <label>Envio de Notificação Personalizada Atenção</label>
        <locationX>842</locationX>
        <locationY>888</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>VerifyIfStatusIsCritical</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Seu caso {!$Record.CaseNumber} foi atualizado para o status {!$Record.Status} !!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Owners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Alteração de Status!!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envio de sininho para o proprietario do caso, quando chegar no status Atenção</description>
        <name>NotificacaoPersonalizadaAtencao1</name>
        <label>Envio Notificação Personalizada Atenção</label>
        <locationX>2866</locationX>
        <locationY>888</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Seu caso {!$Record.CaseNumber} foi atualizado para o status {!$Record.Status} !!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotification1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Owners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Alteração de Status!!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envio de sininho para o proprietario do caso, quando chegar no status Critico</description>
        <name>NotificacaoPersonalizadaCritico</name>
        <label>Envio de Notificação Personalizada Critico</label>
        <locationX>1106</locationX>
        <locationY>768</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>VerifyIfStatusIsCritical</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Seu caso {!$Record.CaseNumber} foi atualizado para o status {!$Record.Status} !!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Owners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Alteração de Status!!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>NotificacaoOwner</name>
        <label>Atribuir Notificação Ao Proprietario</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Owners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_se_o_sla_foi_alterado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotificacaoOwner2</name>
        <label>Atribuir Notificação Ao Proprietario</label>
        <locationX>2734</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Owners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCritical2_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsCritical2</name>
        <label>É critico</label>
        <locationX>1678</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseToGray</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsCritical2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <label>É critico</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCritical2_0</name>
        <label>É critico</label>
        <locationX>2206</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseToYellow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsCritical2_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <label>É critico</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCritical2_0_0</name>
        <label>É critico</label>
        <locationX>2734</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseToRed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsCritical2_1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <label>É critico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_se_o_sla_foi_alterado</name>
        <label>Verifica se o sla foi alterado</label>
        <locationX>710</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>VerifyIfStatusIsCritical</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SLA_Alterado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HoraBaseStatusAIniciar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaStatusDoCasoAIniciar</targetReference>
            </connector>
            <label>SLA A Iniciar</label>
        </rules>
        <rules>
            <name>SLA_Aguardando</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HoraBaseStatusAguardando</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaStatusDoCasoAguardando</targetReference>
            </connector>
            <label>SLA Aguardando</label>
        </rules>
        <rules>
            <name>SLA_Em_Andamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HoraBaseStatusEmAndamento</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaStatusDoCasoEmAndamento</targetReference>
            </connector>
            <label>SLA Em Andamento</label>
        </rules>
        <rules>
            <name>SLA_Atencao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HoraBaseStatusAtencao</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Atenção</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaStatusDoCasoAtencao</targetReference>
            </connector>
            <label>SLA Atenção</label>
        </rules>
        <rules>
            <name>SLA_Critico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnvioEmailAlertaCritico</targetReference>
            </connector>
            <label>SLA Critico</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verificar se o Status é crítico</description>
        <name>VerifyIfStatusIsCritical</name>
        <label>Verificar se o Status é crítico</label>
        <locationX>710</locationX>
        <locationY>1104</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsNotCriticalAndReasonWasChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustomerServiceReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCustomMetadata</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Não é crítico e motivo foi alterado</label>
        </rules>
    </decisions>
    <description>Calcula o SLA e altera o status de acordo com o a data de criação</description>
    <environments>Default</environments>
    <formulas>
        <name>HoraBaseStatusAguardando</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.DueDate__c}  - 0.25</expression>
    </formulas>
    <formulas>
        <description>Fórmula para verificar se o status do chamado deve ser &quot;A Iniciar&quot;</description>
        <name>HoraBaseStatusAIniciar</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.DueDate__c}  - 0.333334</expression>
    </formulas>
    <formulas>
        <name>HoraBaseStatusAtencao</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.DueDate__c} - 0.0833334</expression>
    </formulas>
    <formulas>
        <name>HoraBaseStatusEmAndamento</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.DueDate__c}  - 0.125</expression>
    </formulas>
    <interviewLabel>HDE - SLA e Alteração de status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDE - SLA e Alteração de status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomMetadata</name>
        <label>Obter metadados Personalizados</label>
        <locationX>578</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>UsedIn__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SourceApiName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerServiceReason__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>TargetApiName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </filters>
        <filters>
            <field>SourcePicklistValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CustomerServiceReason__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TargetPicklistValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crítico</stringValue>
            </value>
        </filters>
        <filters>
            <field>OperatorSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Segment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ToFromHDE__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotification</name>
        <label>Buscar Notificação Personalizada1</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotificacaoOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChangeStatusHDE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotification1</name>
        <label>Buscar Notificação Personalizada 2</label>
        <locationX>2734</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotificacaoOwner2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChangeStatusHDE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaStatusDoCasoAguardando</name>
        <label>AtualizaStatusDoCasoAguardando</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>VerifyIfStatusIsCritical</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aguardando</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaStatusDoCasoAIniciar</name>
        <label>AtualizaStatusDoCasoAIniciar</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>VerifyIfStatusIsCritical</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>A Iniciar</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaStatusDoCasoAtencao</name>
        <label>AtualizaStatusDoCasoAtencao</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>EnvioEmailAlertaAtencao1</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Atenção</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaStatusDoCasoEmAndamento</name>
        <label>AtualizaStatusDoCasoEmAndamento</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>VerifyIfStatusIsCritical</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseStatus</name>
        <label>Atualiza o status do caso</label>
        <locationX>578</locationX>
        <locationY>1344</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerServiceReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCustomMetadata.SourcePicklistValue__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Crítico</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseToGray</name>
        <label>Atualiza o Caso para Aguardando</label>
        <locationX>1810</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aguardando</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseToRed</name>
        <label>Atualiza o Caso para Atenção</label>
        <locationX>2866</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>EnvioEmailAlertaAtencao2</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Atenção</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseToYellow</name>
        <label>Atualiza o Caso para Andamento</label>
        <locationX>2338</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsHDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ChangeStatusToGray</name>
            <connector>
                <targetReference>IsCritical2</targetReference>
            </connector>
            <label>Muda status para &quot;aguardando&quot; faltando 8 horas para o vencimento</label>
            <maxBatchSize>20</maxBatchSize>
            <offsetNumber>-8</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ChangeStatusToYellow</name>
            <connector>
                <targetReference>IsCritical2_0</targetReference>
            </connector>
            <label>Muda status para &quot;Em andamento&quot; faltando 6 horas para o vencimento</label>
            <offsetNumber>-6</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ChangeStatusToRed</name>
            <connector>
                <targetReference>GetNotification1</targetReference>
            </connector>
            <label>Muda status para &quot;Atenção&quot; faltando 3 horas para o vencimento</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Mensagem utulizada para o envio do email</description>
        <name>MensagemdoEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;ATENÇÃO!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Seu caso &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!$Record.CaseNumber}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt; foi atualizado para o status &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!$Record.Status&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;}, com a data de vencimento para o dia:&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt; {!$Record.DueDate__c}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Owners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
