force-app/main/default/flows/HDESLAAndStatusChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallApexCaseNotification01</name>
        <label>Chamada Apex Case Notification</label>
        <locationX>1832</locationX>
        <locationY>2243</locationY>
        <actionName>SenderCaseNotificationService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageType</name>
            <value>
                <elementReference>GeneralSettingName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SenderCaseNotificationService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CallApexCaseNotification02</name>
        <label>Chamada Apex Case Notification</label>
        <locationX>3482</locationX>
        <locationY>1008</locationY>
        <actionName>SenderCaseNotificationService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageType</name>
            <value>
                <elementReference>GeneralSettingName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SenderCaseNotificationService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ClearVariable01</name>
        <label>Limpar Variável</label>
        <locationX>1700</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>GeneralSettingName</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>GeneralSettingName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecords01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearVariable02</name>
        <label>Limpar Variável</label>
        <locationX>3350</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>GeneralSettingName</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>GeneralSettingName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecords02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GeneralSettingRecords01</name>
        <label>Registros de Configurações Gerais</label>
        <locationX>1788</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>GeneralSettingName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopNotificationRecords01.NotificationName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecords01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GeneralSettingRecords02</name>
        <label>Registros de Configurações Gerais</label>
        <locationX>3438</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>GeneralSettingName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopNotificationRecords02.NotificationName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotificationRecords02</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>FilterNotificationRecords01</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtrar Registros Notificação</label>
        <locationX>1700</locationX>
        <locationY>1619</locationY>
        <assignNextValueToReference>currentItem_FilterNotificationRecords01</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetNotificationName01</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterNotificationRecords01.CaseRecordType__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilterNotificationRecords01.CaseStatus__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.Status</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ClearVariable01</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FilterNotificationRecords02</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtrar Registros Notificação</label>
        <locationX>3350</locationX>
        <locationY>384</locationY>
        <assignNextValueToReference>currentItem_FilterNotificationRecords01</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetNotificationName02</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterNotificationRecords01.CaseRecordType__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilterNotificationRecords01.CaseStatus__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.Status</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ClearVariable02</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>HaveRecords01</name>
        <label>Tem Registros?</label>
        <locationX>1700</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>CallApexCaseNotification01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>NoRecords01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterNotificationRecords01</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveRecords02</name>
        <label>Tem Registros?</label>
        <locationX>3350</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>CallApexCaseNotification02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>NoRecords02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterNotificationRecords02</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCritical2</name>
        <label>É critico</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseToGray</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsCritical2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <label>É critico</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCritical2_0</name>
        <label>É critico</label>
        <locationX>2294</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseToYellow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsCritical2_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <label>É critico</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCritical2_0_0</name>
        <label>É critico</label>
        <locationX>2030</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseToRed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsCritical2_1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNotificationName01</targetReference>
            </connector>
            <label>É critico</label>
        </rules>
        <rules>
            <name>StatusAlreadyEqualAttention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atenção</stringValue>
                </rightValue>
            </conditions>
            <label>Status já igual a Atenção</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_se_o_sla_foi_alterado</name>
        <label>Verifica se o sla foi alterado</label>
        <locationX>710</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SLA_Alterado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HoraBaseStatusAIniciar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaStatusDoCasoAIniciar</targetReference>
            </connector>
            <label>SLA A Iniciar</label>
        </rules>
        <rules>
            <name>SLA_Aguardando</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HoraBaseStatusAguardando</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaStatusDoCasoAguardando</targetReference>
            </connector>
            <label>SLA Aguardando</label>
        </rules>
        <rules>
            <name>SLA_Em_Andamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HoraBaseStatusEmAndamento</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaStatusDoCasoEmAndamento</targetReference>
            </connector>
            <label>SLA Em Andamento</label>
        </rules>
        <rules>
            <name>SLA_Atencao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HoraBaseStatusAtencao</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Atenção</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaStatusDoCasoAtencao</targetReference>
            </connector>
            <label>SLA Atenção</label>
        </rules>
        <rules>
            <name>SLA_Critico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>SLA Critico</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verificar se o Status é crítico</description>
        <name>VerifyIfStatusIsCritical</name>
        <label>Verificar se o Status é crítico</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Verifica_se_o_sla_foi_alterado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsNotCriticalAndReasonWasChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crítico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustomerServiceReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCustomMetadata</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Não é crítico e motivo foi alterado</label>
        </rules>
    </decisions>
    <description>PTI4349-61 - Gestão de Notificações para Casos de Acompanhamento</description>
    <environments>Default</environments>
    <formulas>
        <description>Padroniza o Customer Value para conferir com o metadata ToFromHDE2__mdt</description>
        <name>CustomerSegment</name>
        <dataType>String</dataType>
        <expression>IF(OR(TEXT({!$Record.Account.vlocity_cmt__CustomerValue__c}) = &apos;Púrpura&apos;,TEXT({!$Record.Account.vlocity_cmt__CustomerValue__c}) = &apos;PÚRPURA&apos;,TEXT({!$Record.Account.vlocity_cmt__CustomerValue__c}) = &apos;púrpura&apos;), 
&apos;PURPURA&apos;,
UPPER(TEXT({!$Record.Account.vlocity_cmt__CustomerValue__c})))</expression>
    </formulas>
    <formulas>
        <name>HoraBaseStatusAguardando</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.DueDate__c}  - 0.25</expression>
    </formulas>
    <formulas>
        <description>Fórmula para verificar se o status do chamado deve ser &quot;A Iniciar&quot;</description>
        <name>HoraBaseStatusAIniciar</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.DueDate__c}  - 0.333334</expression>
    </formulas>
    <formulas>
        <name>HoraBaseStatusAtencao</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.DueDate__c} - 0.0833334</expression>
    </formulas>
    <formulas>
        <name>HoraBaseStatusEmAndamento</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.DueDate__c}  - 0.125</expression>
    </formulas>
    <formulas>
        <name>Org</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.CreatedBy.Profile.UserLicense.Name},&apos;Partner Community&apos;), &apos;Comunidades&apos;, &apos;Vivo&apos;)</expression>
    </formulas>
    <interviewLabel>HDE - SLA e Alteração de status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDE - SLA e Alteração de status</label>
    <loops>
        <name>LoopNotificationRecords01</name>
        <label>Loop Registros Notificação</label>
        <locationX>1700</locationX>
        <locationY>1835</locationY>
        <collectionReference>FilterNotificationRecords01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GeneralSettingRecords01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HaveRecords01</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopNotificationRecords02</name>
        <label>Loop Registros Notificação</label>
        <locationX>3350</locationX>
        <locationY>600</locationY>
        <collectionReference>FilterNotificationRecords02</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GeneralSettingRecords02</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HaveRecords02</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomMetadata</name>
        <label>Obter metadados Personalizados</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseStatus</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>CustomerSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerSegment</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerServiceReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CustomerServiceReason__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatorSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Segment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Critical__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </filters>
        <filters>
            <field>ORG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ToFromHDE2__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationName01</name>
        <label>Obter Nome Notificação</label>
        <locationX>1700</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FilterNotificationRecords01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TriggerMoments__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLAtoExpire</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GeneralSetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationName02</name>
        <label>Obter Nome Notificação</label>
        <locationX>3350</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FilterNotificationRecords02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TriggerMoments__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExpiredSLA</stringValue>
            </value>
        </filters>
        <filters>
            <field>NotifiedUser__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>UserAbove3rd</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GeneralSetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaStatusDoCasoAguardando</name>
        <label>AtualizaStatusDoCasoAguardando</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aguardando</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaStatusDoCasoAIniciar</name>
        <label>AtualizaStatusDoCasoAIniciar</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>A Iniciar</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaStatusDoCasoAtencao</name>
        <label>AtualizaStatusDoCasoAtencao</label>
        <locationX>842</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Atenção</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaStatusDoCasoEmAndamento</name>
        <label>AtualizaStatusDoCasoEmAndamento</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseStatus</name>
        <label>Atualiza o status do caso</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Verifica_se_o_sla_foi_alterado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerServiceReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCustomMetadata.CustomerServiceReason__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Crítico</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseToGray</name>
        <label>Atualiza o Caso para Aguardando</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aguardando</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseToRed</name>
        <label>Atualiza o Caso para Atenção</label>
        <locationX>2360</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Atenção</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseToYellow</name>
        <label>Atualiza o Caso para Andamento</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyIfStatusIsCritical</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsHDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ChangeStatusToGray</name>
            <connector>
                <targetReference>IsCritical2</targetReference>
            </connector>
            <label>Muda status para &quot;aguardando&quot; faltando 8 horas para o vencimento</label>
            <maxBatchSize>20</maxBatchSize>
            <offsetNumber>-8</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ChangeStatusToYellow</name>
            <connector>
                <targetReference>IsCritical2_0</targetReference>
            </connector>
            <label>Muda status para &quot;Em andamento&quot; faltando 6 horas para o vencimento</label>
            <offsetNumber>-6</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ChangeStatusToRed</name>
            <connector>
                <targetReference>IsCritical2_0_0</targetReference>
            </connector>
            <label>Muda status para &quot;Atenção&quot; faltando 3 horas para o vencimento</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>TwoHoursToDueDate</name>
            <connector>
                <targetReference>IsCritical2_0_0</targetReference>
            </connector>
            <label>2 horas para o vencimento</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>OneHourToDueDate</name>
            <connector>
                <targetReference>IsCritical2_0_0</targetReference>
            </connector>
            <label>1 hora para o vencimento</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>CaseDueDate</name>
            <connector>
                <targetReference>GetNotificationName02</targetReference>
            </connector>
            <label>Vencimento do Caso</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FilterNotificationRecords01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GeneralSetting__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GeneralSetting__c</objectType>
    </variables>
    <variables>
        <name>GeneralSettingName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
