force-app/main/default/flows/PersonalGuindanceSS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Orientação Personal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orientação Personal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Registros de orientação da solictação de serviço do Personal V</description>
        <name>GuindancePersonalSS</name>
        <label>GuindancePersonalSS</label>
        <locationX>452</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PersonalGuindanceHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonalServicereRequest.ServiceReason__c</elementReference>
            </value>
        </filters>
        <object>GuindanceServiceRequest__mdt</object>
        <outputAssignments>
            <assignToReference>getGuindancePersonalV</assignToReference>
            <field>PersonalGuindance__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>registro de solicitação de serviço</description>
        <name>PersonalServicereRequest</name>
        <label>PersonalServicereRequest</label>
        <locationX>184</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GuindancePersonalSS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PersonalGuindanceHeader</name>
        <label>Orientação Personal</label>
        <locationX>678</locationX>
        <locationY>276</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PersonalGuindance</name>
            <fieldText>&lt;p&gt;{!getGuindancePersonalV}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>PersonalServicereRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getGuindancePersonalV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id salicitação de serviço do persornal</description>
        <name>getRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
