force-app/main/default/flows/ScriptAltaMobileSemRPA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IfAppXOffer</name>
        <label>IfAppXOffer</label>
        <locationX>1261</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>LoopApp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>AppXOffer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOfferId.PackageOffer__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopApp.package__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aplicativos_dispon_veis</targetReference>
            </connector>
            <label>AppXOffer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ifconfirme</name>
        <label>Ifconfirme</label>
        <locationX>333</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>EndMsgNoAccepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ConfirmYesIf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceAceite</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Message_Screen</targetReference>
            </connector>
            <label>ConfirmYesIf</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfControle</name>
        <label>IfControle</label>
        <locationX>705</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Portabilidade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ControleYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfferTypePlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Controle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScriptMessageControle</targetReference>
            </connector>
            <label>ControleYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfPort</name>
        <label>IfPort</label>
        <locationX>296</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>GetDelivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PortChooseYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoicePortabilidade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetScriptDetailPort</targetReference>
            </connector>
            <label>PortChooseYes</label>
        </rules>
    </decisions>
    <description>Fluxo para Script de Alta Movel sem inicia o RPA</description>
    <dynamicChoiceSets>
        <name>ChoiceAceite</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ChoiceAceite__c</picklistField>
        <picklistObject>ScriptDetail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePortabilidade</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ChoicePortabilidade__c</picklistField>
        <picklistObject>ScriptDetail__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Script Alta Movel sem RPA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Script Alta Movel sem RPA</label>
    <loops>
        <name>LoopApp</name>
        <label>LoopApp</label>
        <locationX>1018</locationX>
        <locationY>553</locationY>
        <collectionReference>GetScriptDetailApp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IfAppXOffer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetCondicoesGerais</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCondicoesGerais</name>
        <label>GetCondicoesGerais</label>
        <locationX>1013</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CondGeraisMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypeScriptDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GeneralConditions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ScriptDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDelivery</name>
        <label>GetDelivery</label>
        <locationX>38</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Orienta_o_Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypeScriptDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FinalOrientation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ScriptDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOffer</name>
        <label>GetOffer</label>
        <locationX>653</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetScriptDetailsOfferFeatures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOfferId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetScriptDetailApp</name>
        <label>GetScriptDetailApp</label>
        <locationX>1011</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopApp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypeScriptDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ScriptDetail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>package__c</queriedFields>
        <queriedFields>ScriptDetailMessage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetScriptDetailControle</name>
        <label>GetScriptDetailControle</label>
        <locationX>847</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfControle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypeScriptDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Control</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ScriptDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetScriptDetailPort</name>
        <label>GetScriptDetailPort</label>
        <locationX>186</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MessagePort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypeScriptDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Portability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ScriptDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetScriptDetailsOfferFeatures</name>
        <label>GetScriptDetailsOfferFeatures</label>
        <locationX>826</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caracteristica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypeScriptDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OfferFeatures</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ScriptDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Aplicativos_dispon_veis</name>
        <label>Aplicativos disponíveis</label>
        <locationX>1224</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopApp</targetReference>
        </connector>
        <fields>
            <name>ScriptApp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!LoopApp.ScriptDetailMessage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Step 1</description>
        <name>Caracteristica</name>
        <label>Características e conteúdo do plano contratado</label>
        <locationX>1015</locationX>
        <locationY>180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetScriptDetailApp</targetReference>
        </connector>
        <fields>
            <name>OfferDescription</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!OfferDescriptionConcat}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScriptDetailsCaracteristica</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetScriptDetailsOfferFeatures.ScriptDetailMessage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CondGeraisMessage</name>
        <label>CondGeraisMessage</label>
        <locationX>837</locationX>
        <locationY>690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetScriptDetailControle</targetReference>
        </connector>
        <fields>
            <name>CondGeraisMessageScript</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetCondicoesGerais.ScriptDetailMessage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirme_com_o_cliente_a_compra_de_uma_nova_linha_m_vel_VIVO</name>
        <label>Confirme com o cliente a compra de uma nova linha móvel VIVO</label>
        <locationX>203</locationX>
        <locationY>704</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ifconfirme</targetReference>
        </connector>
        <fields>
            <name>ConfirmeMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Você confirma a aquisição da linha {!OfferDescriptionConcat}  com o valor mensal de R$ &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!GetOfferId.TotalPrice__c} &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confir</name>
            <choiceReferences>ChoiceAceite</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EndMessage</name>
        <label>EndMessage</label>
        <locationX>728</locationX>
        <locationY>833</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndMessageScript</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Parabenize o cliente pela contratação realizada:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;“Parabéns! Pela aquisição da oferta Vivo Móvel&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Atenção: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Finalize o procedimento de ativação nos sistemas de origem/legado&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EndMsgNoAccepted</name>
        <label>EndMsgNoAccepted</label>
        <locationX>454</locationX>
        <locationY>885</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndMsgNoAcceptedTxt</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Informe o cliente que a venda da nova linha não será finalizado.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MessagePort</name>
        <label>MessagePort</label>
        <locationX>50</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetDelivery</targetReference>
        </connector>
        <fields>
            <name>MessagePortScript</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetScriptDetailPort.ScriptDetailMessage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Orienta_o_Final</name>
        <label>Orientação Final</label>
        <locationX>38</locationX>
        <locationY>736</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirme_com_o_cliente_a_compra_de_uma_nova_linha_m_vel_VIVO</targetReference>
        </connector>
        <fields>
            <name>OrientacaoFinal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetDelivery.ScriptDetailMessage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Portabilidade</name>
        <label>Portabilidade?</label>
        <locationX>463</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfPort</targetReference>
        </connector>
        <fields>
            <name>OptionPort</name>
            <choiceReferences>ChoicePortabilidade</choiceReferences>
            <dataType>String</dataType>
            <fieldText>O cliente deseja fazer portabilidade do número?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScriptMessageControle</name>
        <label>ScriptMessageControle</label>
        <locationX>671</locationX>
        <locationY>634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Portabilidade</targetReference>
        </connector>
        <fields>
            <name>MessageControle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetScriptDetailControle.ScriptDetailMessage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Template_Message_Screen</name>
        <label>Template Message Screen</label>
        <locationX>547</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EndMessage</targetReference>
        </connector>
        <fields>
            <name>DisplayTextAltaMobile</name>
            <fieldText>&lt;p&gt;{!ServiceSummaryText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>copyButton2</name>
            <extensionName>c:copyButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageCopied</name>
                <value>
                    <elementReference>ServiceSummaryText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>270</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>GetOffer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Resumo de Atendimento</description>
        <name>ServiceSummaryText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Cliente aceitou a aquisição do plano  com {!GetOfferId.MobileInternetDescription__c}, no valor de R${!GetOfferId.TotalPrice__c}. Informado sobre características e condições do plano, prazo de entrega do chip e que as condições são válidas enquanto permanecer com produtos fixa e móvel da Vivo.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>GetOfferId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Offer__c</objectType>
    </variables>
    <variables>
        <name>OfferDescriptionConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetOfferId.OfferDescriptionConcat__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OfferTypePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetOfferId.TypePlan__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ScriptDetailCaracteristica</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ScriptDetail__c</objectType>
    </variables>
    <variables>
        <name>ScriptDetailControle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextMessageAltaMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextMessageAltaMovel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAppLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ScriptDetail__c</objectType>
    </variables>
    <variables>
        <name>VarGetAppLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ScriptDetail__c</objectType>
    </variables>
</Flow>
