force-app/main/default/flows/ScriptFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex</name>
        <label>ApexClass</label>
        <locationX>387</locationX>
        <locationY>310</locationY>
        <actionName>HandlerScriptNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetDetailScript</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstIdParams</name>
            <value>
                <elementReference>ApexInput</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>VerbalizedNameColor</name>
        <label>VerbalizedNameColor</label>
        <locationX>751</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>VerbalizedColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;b&gt;&lt;span style=&quot;color: rgb(102, 0, 102);&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerbalizedColor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopChangeNameColor.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerbalizedColor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/span&gt;&lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateColorName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VerbalizedNameColor_0</name>
        <label>VerbalizedNameColor</label>
        <locationX>559</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>VerbalizedColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;span style=&quot;color: rgb(102, 0, 102);&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerbalizedColor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopChangeNameColor.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerbalizedColor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(Verbalizado)&lt;/span&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateColorName</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FirstScreenDecision</name>
        <label>FirstScreenDecision</label>
        <locationX>947</locationX>
        <locationY>764</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>FirstScreenDecisionTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ScriptChoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScriptChoice_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageScreen</targetReference>
            </connector>
            <label>FirstScreenDecisionTrue</label>
        </rules>
        <rules>
            <name>FirstScreenDecisionFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScriptChoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScriptChoice_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FirstScreen_0_0</targetReference>
            </connector>
            <label>FirstScreenDecisionFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>LogVerbalized</name>
        <label>LogVerbalizedRecurrent</label>
        <locationX>614</locationX>
        <locationY>1077</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>LogVerbTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LogsToDisplayVerbalized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LogsToDisplayRecurrent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetScriptDetailFirstNot</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLogNotDisplay</targetReference>
            </connector>
            <label>LogVerbTrueRecurrent</label>
        </rules>
        <rules>
            <name>LogVerbFalseFirstNotFalse</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>LogsToDisplayVerbalized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetScriptDetailFirstNot</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LogsToDisplayRecurrent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LogsToDisplayRecurrent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLogNotRecurrent</targetReference>
            </connector>
            <label>LogVerbFalseFirstNotFalse OR LogNotRecurrent</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordsToDisplay</name>
        <label>RecordsToDisplay</label>
        <locationX>945</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>RecordsToDisplayYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDetailScript</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FirstScreen</targetReference>
            </connector>
            <label>RecordsToDisplayYes</label>
        </rules>
        <rules>
            <name>RecordsToDisplayNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDetailScript</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRecordsScreen</targetReference>
            </connector>
            <label>RecordsToDisplayNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verbalized</name>
        <label>Verbalized</label>
        <locationX>615</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VerbalizedTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxVerbalizado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckboxVerbalizado_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetScriptDetailFirstNot</targetReference>
            </connector>
            <label>VerbalizedTrue</label>
        </rules>
        <rules>
            <name>VerbalizedFalse</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxVerbalizado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckboxVerbalizado_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckboxVerbalizado_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageScreen_0</targetReference>
            </connector>
            <label>VerbalizedFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerbChangeNameColor</name>
        <label>VerbChangeNameColor</label>
        <locationX>550</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>VerbalizedNameColor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VerbTrueChangeNameColor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChangeNameColor.Verbalized__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChangeNameColor.Operator__r.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CurrentUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChangeNameColor.VerbalizationDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerbalizedNameColor_0</targetReference>
            </connector>
            <label>VerbTrueChangeNameColor</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LogsToDisplay</name>
        <dataType>String</dataType>
        <displayField>NameRichText__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisplayScriptFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ScriptEndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ScriptStartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ScriptStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ScriptDetail__c</object>
        <outputAssignments>
            <assignToReference>LogsToDisplayVerbalizedFirstNot</assignToReference>
            <field>FirstNotification__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LogsToDisplayId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LogsToDisplayName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LogsToDisplayRecurrent</assignToReference>
            <field>Recurrent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LogsToDisplayMessage</assignToReference>
            <field>ScriptMessage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LogsToDisplayScriptId</assignToReference>
            <field>Script__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LogsToDisplayVerbalized</assignToReference>
            <field>Verbalized__c</field>
        </outputAssignments>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>ApexInput</name>
        <dataType>String</dataType>
        <expression>{!RecordId} + &apos;,&apos; +{!CurrentUser}</expression>
    </formulas>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>NoScriptsToDisplay</name>
        <dataType>String</dataType>
        <expression>{!$Label.NoScriptToDisplay}</expression>
    </formulas>
    <formulas>
        <name>SelectScript</name>
        <dataType>String</dataType>
        <expression>{!$Label.SelectScript}</expression>
    </formulas>
    <formulas>
        <name>SelectScriptToContinue</name>
        <dataType>String</dataType>
        <expression>{!$Label.SelectScriptToContinue}</expression>
    </formulas>
    <formulas>
        <name>VerbalizeScript</name>
        <dataType>String</dataType>
        <expression>{!$Label.VerbalizeScript}</expression>
    </formulas>
    <interviewLabel>Fluxo Mural de Avisos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mural de Avisos</label>
    <loops>
        <name>LoopChangeNameColor</name>
        <label>LoopChangeNameColor</label>
        <locationX>559</locationX>
        <locationY>425</locationY>
        <collectionReference>GetDetailScript</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerbChangeNameColor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecordsToDisplay</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateLogNotDisplay</name>
        <label>CreateLogNotDisplay</label>
        <locationX>815</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisplayScriptFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstNotification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LogsToDisplayName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operator__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LogRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScriptMessage__c</field>
            <value>
                <elementReference>LogsToDisplayMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Script__c</field>
            <value>
                <elementReference>LogsToDisplayScriptId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerbalizationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verbalized__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ScriptDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDetailScript</name>
        <label>GetDetailScript</label>
        <locationX>385</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopChangeNameColor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisplayScriptFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ScriptEndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ScriptStartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ScriptStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ScriptDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetScriptDetailFirstNot</name>
        <label>GetScriptDetailFirstNot</label>
        <locationX>624</locationX>
        <locationY>932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LogVerbalized</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Script__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LogsToDisplayScriptId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstNotification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ScriptDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateColorName</name>
        <label>UpdateColorName</label>
        <locationX>1019</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>LoopChangeNameColor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopChangeNameColor.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NameRichText__c</field>
            <value>
                <elementReference>VerbalizedColor</elementReference>
            </value>
        </inputAssignments>
        <object>ScriptDetail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLogNotRecurrent</name>
        <label>UpdateLogNotRecurrent</label>
        <locationX>397</locationX>
        <locationY>1074</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LogsToDisplayId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DisplayScriptFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstNotification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LogsToDisplayName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operator__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerbalizationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verbalized__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ScriptDetail__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FirstScreen</name>
        <label>FirstScreen</label>
        <locationX>955</locationX>
        <locationY>609</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FirstScreenDecision</targetReference>
        </connector>
        <fields>
            <name>ScriptChoice</name>
            <choiceReferences>LogsToDisplay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!SelectScript}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FirstScreen_0_0</name>
        <label>FirstScreen</label>
        <locationX>1098</locationX>
        <locationY>768</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FirstScreenDecision</targetReference>
        </connector>
        <fields>
            <name>ScriptChoice_0</name>
            <choiceReferences>LogsToDisplay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!SelectScript}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 0, 0);&quot;&gt;{!SelectScriptToContinue}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MessageScreen</name>
        <label>MessageScreen</label>
        <locationX>750</locationX>
        <locationY>766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verbalized</targetReference>
        </connector>
        <fields>
            <name>ScriptName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!LogsToDisplayName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScriptMessage</name>
            <fieldText>&lt;p&gt;{!LogsToDisplayMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckboxVerbalizado</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Verbalizado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MessageScreen_0</name>
        <label>MessageScreen</label>
        <locationX>465</locationX>
        <locationY>765</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verbalized</targetReference>
        </connector>
        <fields>
            <name>ScriptName_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!LogsToDisplayName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScriptMessage_0</name>
            <fieldText>&lt;p&gt;{!LogsToDisplayMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckboxVerbalizado_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Verbalizado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 4, 4);&quot;&gt;{!VerbalizeScript}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRecordsScreen</name>
        <label>NoRecordsScreen</label>
        <locationX>1169</locationX>
        <locationY>433</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Title_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!NoScriptsToDisplay}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>623</locationX>
        <locationY>1328</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(46, 140, 25); background-color: rgb(255, 255, 255);&quot;&gt;{!LogsToDisplayName} &lt;/b&gt;&lt;span style=&quot;font-size: 20px; color: rgb(46, 140, 25); background-color: rgb(255, 255, 255);&quot;&gt;foi verbalizado com sucesso!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinishMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(11, 11, 11);&quot;&gt;Clique em concluir para retornar ao mural de avisos&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>GetLogRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetLogRecordTypeId</name>
        <label>GetLogRecordTypeId</label>
        <locationX>388</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Apex</targetReference>
        </connector>
        <flowName>getRecordTypeId</flowName>
        <inputAssignments>
            <name>RecordTypeDeveloperName</name>
            <value>
                <stringValue>WarningLogs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SObjectApiName</name>
            <value>
                <stringValue>ScriptDetail__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>LogRecordType</assignToReference>
            <name>RecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Icon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;img src=&apos;/resource/AvisoIcon&apos; /&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogsToDisplayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogsToDisplayMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogsToDisplayName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogsToDisplayRecurrent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogsToDisplayScriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogsToDisplayVerbalized</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogsToDisplayVerbalizedFirstNot</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VerbalizedColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
