force-app/main/default/flows/Solicitacao_de_Servicos_Disparo_de_Notificacoes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Disparo_e_mail_Due_Date</name>
        <label>Disparo e-mail Due Date</label>
        <locationX>1502</locationX>
        <locationY>492</locationY>
        <actionName>ServiceRequest__c.Due_Date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>foundCustomNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ServiceRequest__c.Due_Date</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Disparo_e_mail_Notification_Date</name>
        <label>Disparo e-mail Notification Date</label>
        <locationX>710</locationX>
        <locationY>492</locationY>
        <actionName>ServiceRequest__c.Notificacao_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>foundPushNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ServiceRequest__c.Notificacao_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Exibe notificação para o usuário</description>
        <name>notificationDueDate</name>
        <label>Notificação Due Date</label>
        <locationX>1370</locationX>
        <locationY>816</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>listOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Verificar informaçao sobre {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>solicitacaoVencida</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Envia notificação para o usuário com as mesmas informações do e-mail</description>
        <name>pushNotificationDate</name>
        <label>Notificação Notification date</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getPushNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>listOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Favor verificar sua Solicitação</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>solicitacaoIraVencer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Adiciona o ownerID do registro à uma lista para que seja enviada a notificação</description>
        <name>addOwnerList</name>
        <label>Adiciona owner à lista</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>listOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pushNotificationDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adiciona o OwnerId do registro à uma lista</description>
        <name>addRecordToList</name>
        <label>Adiciona registro à lista</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>listOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>notificationDueDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verifica se encontrou o registro de custom notification com o developerName igual à pushNotification.</description>
        <name>foundCustomNotification</name>
        <label>Encontrou notificação customizada?</label>
        <locationX>1502</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>yesFoundCustomNotification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCustomNotification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRecordToList</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica se a notificação customizada foi encontrada</description>
        <name>foundPushNotification</name>
        <label>Encontrou Custom Notification?</label>
        <locationX>710</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>yesFoundPushNotification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPushNotification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addOwnerList</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_Status</name>
        <label>Qual Status?</label>
        <locationX>908</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Status_diferente_de_fechado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AnalysisComplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disparo_e_mail_Notification_Date</targetReference>
            </connector>
            <label>Status diferente de fechado?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Alterado</name>
        <label>Status Alterado?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Alterado</name>
            <conditionLogic>3 and (1 or 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AnalysisComplete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosingDateTime__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Gravar_Closing_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Alterado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_diferente_fechado</name>
        <label>Status diferente de fechado?</label>
        <locationX>1700</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Diferente_de_fechado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AnalysisComplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disparo_e_mail_Due_Date</targetReference>
            </connector>
            <label>Diferente de fechado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>solicitacaoIraVencer</name>
        <dataType>String</dataType>
        <expression>&apos;Olá, a solicitação de serviço &apos; + {!$Record.Name}  + &apos; do tipo &apos; +  {!$Record.RecordType.Name} +  &apos; irá expirar no dia &apos; + TEXT({!$Record.DueDate__c}) + &apos;. Favor realizar a devida tratativa.&apos;</expression>
    </formulas>
    <formulas>
        <name>solicitacaoVencida</name>
        <dataType>String</dataType>
        <expression>&apos;Olá, a solicitação de serviço &apos; + {!$Record.Name}  + &apos; do tipo &apos; +  {!$Record.RecordType.Name} +  &apos; expirou no dia &apos; + TEXT({!$Record.DueDate__c}) + &apos;. Favor realizar a devida tratativa.&apos;</expression>
    </formulas>
    <interviewLabel>[Solicitação de Serviços] Disparo de Notificações {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Solicitação de Serviços] Disparo de Notificações</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Pesquisa Custom Notification usada para criar a notificação</description>
        <name>getCustomNotification</name>
        <label>Pesquisa Notificação Customizada</label>
        <locationX>1700</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_diferente_fechado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pushNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pesquisa Custom Notification usada para criar a notificação</description>
        <name>getPushNotification</name>
        <label>Pesquisa Notificação Customizada</label>
        <locationX>908</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Qual_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pushNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Quando for cancelado ou finalizado ou recusado,</description>
        <name>Gravar_Closing_Date</name>
        <label>Gravar Closing Date</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AnalysisComplete</stringValue>
            </value>
        </filters>
        <filters>
            <field>ClosingDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ClosingDateTime__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Alterado</targetReference>
        </connector>
        <object>ServiceRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>NotificationDate</name>
            <connector>
                <targetReference>getPushNotification</targetReference>
            </connector>
            <label>NotificationDate</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>NotificationDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>DueDate</name>
            <connector>
                <targetReference>getCustomNotification</targetReference>
            </connector>
            <label>DueDate</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>DueDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
