force-app/main/default/flows/SystemLinks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssingnementURL</name>
        <label>AssingnementURL</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>TextURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LinksPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenURL</targetReference>
        </connector>
    </assignments>
    <description>Projeto PTI5054 - Aplicado o sublinhado nos links CALCULADORA PRÓ-RATA FIXA e CALCULADORA PRÓ-RATA MÓVEL.</description>
    <dynamicChoiceSets>
        <name>SystemNames</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LinkType</elementReference>
            </value>
        </filters>
        <object>SystemLink__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>URL__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Links Sistemas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Links Sistemas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ScreenSystem</name>
        <label>ScreenSystem</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssingnementURL</targetReference>
        </connector>
        <fields>
            <name>LinksPicklist</name>
            <choiceReferences>SystemNames</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sistemas</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayTextLinkPicklist</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://{!TextURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!TextURL}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TextURL</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WebLinksScreenTextFixed</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;http://seuportal.vivo.com.br/ferramentas/simulador/proRata/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(51, 9, 95); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;&lt;u&gt;CALCULADORA PRÓ-RATA MÓVEL&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(186, 36, 186); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt; &lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LinkType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Móvel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WebLinksScreenTextMobile</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;http://seuportal.vivo.com.br/ferramentas/simulador/faturamento_prorata/index.php&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(51, 9, 95); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;&lt;u&gt;﻿CALCULADORA PRÓ-RATA FIXA&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LinkType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fixa</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenURL</name>
        <label>ScreenURL</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtShowLink</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!TextURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!TextURL}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtCalcProRataMovel</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;http://seuportal.vivo.com.br/ferramentas/simulador/proRata/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(51, 9, 95); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;﻿CALCULADORA PRÓ-RATA MÓVEL&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LinkType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Móvel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtCalcProRataFixa</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;http://seuportal.vivo.com.br/ferramentas/simulador/faturamento_prorata/index.php&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(51, 9, 95); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;CALCULADORA PRÓ-RATA FIXA&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LinkType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fixa</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenSystem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Tipo do Link para filtrar os registros</description>
        <name>LinkType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextSystemName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
