force-app/main/default/flows/TSURU_SF_Atribuir_Marca_o_do_Cliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>formater_msg</name>
        <label>formater msg</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>mark</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pendente envio B2C -</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mark</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_marca_o</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>tsuru</name>
        <label>é tsuru?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>{!get_user.Id}</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueeue</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[TSURU][SF] - Atribuir a Solicitação de Serviço {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[TSURU][RT] - Atribuir Marcação do Cliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_user</name>
        <label>get user</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tsuru</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>svcvivomaestro@telefonica.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueeue</name>
        <label>getQueeue</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>formater_msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BackofficeAtendimento</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_marca_o</name>
        <label>update marcação</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Description__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>mark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getQueeue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_user</targetReference>
        </connector>
        <object>Script__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mark</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
