force-app/main/default/flows/UpdateFibraRuralCanceledLeadfield.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Valida_Tipo_de_Registro_Igual_a_Fibra_Rural</name>
        <label>Valida Tipo de Registro Igual a Fibra Rural</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Diferende de Fibra Rural</defaultConnectorLabel>
        <rules>
            <name>Fibra_Rural</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fibra Rural</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCanceledLeadField</targetReference>
            </connector>
            <label>Igual a Fibra Rural</label>
        </rules>
    </decisions>
    <interviewLabel>Atualiza {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza campo Lead Cancelado Fibra Rural</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCanceledLeadField</name>
        <label>Atualiza campo Lead Cancelado</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CanceledLead__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valida_Tipo_de_Registro_Igual_a_Fibra_Rural</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CancelledFR</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
