force-app/main/default/flows/UpdateCurrentUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>OwnerIdIsEqualToUser</name>
        <label>Owner ID is equal to User</label>
        <locationX>448</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>ClearCurrentUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCurrentUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName} &amp; &apos; &apos; &amp; {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <interviewLabel>Update Current User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Current User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ClearCurrentUser</name>
        <label>Clear Current User</label>
        <locationX>198</locationX>
        <locationY>533</locationY>
        <inputAssignments>
            <field>CurrentUser__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCurrentUser</name>
        <label>Update Current User</label>
        <locationX>752</locationX>
        <locationY>530</locationY>
        <inputAssignments>
            <field>CurrentUser__c</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>OwnerIdIsEqualToUser</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
