force-app/main/default/flows/UserLoginMultiSession.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>IncludeSessionInList</name>
        <label>IncludeSessionInList</label>
        <locationX>766</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>SessionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopUserSessionRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Space</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopUserSessionRecords.SourceIp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Space</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopUserSessionRecords.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreaker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUserSessionRecords</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>LineBreaker</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;br&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Space</name>
        <dataType>String</dataType>
        <value>
            <stringValue> | </stringValue>
        </value>
    </constants>
    <decisions>
        <name>DecisionMultiSession</name>
        <label>DecisionMultiSession</label>
        <locationX>560</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasMultiSession</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserSession</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopUserSessionRecords</targetReference>
            </connector>
            <label>hasMultiSession</label>
        </rules>
    </decisions>
    <description>Login Flow to check concurrent user sessions</description>
    <interviewLabel>UserLoginMultiSession {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UserLoginMultiSession</label>
    <loops>
        <name>LoopUserSessionRecords</name>
        <label>LoopUserSessionRecords</label>
        <locationX>767</locationX>
        <locationY>67</locationY>
        <collectionReference>GetUserSession</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IncludeSessionInList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ScreenUserSessionInfo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteOtherSession</name>
        <label>DeleteOtherSession</label>
        <locationX>1083</locationX>
        <locationY>81</locationY>
        <inputReference>GetUserSession</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetUserSession</name>
        <label>GetUserSession</label>
        <locationX>428</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionMultiSession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UsersId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCurrent</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SessionType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TempUIFrontdoor</stringValue>
            </value>
        </filters>
        <filters>
            <field>SessionType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>InternalServiceCall</stringValue>
            </value>
        </filters>
        <filters>
            <field>SessionType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Oauth2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AuthSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ScreenUserSessionInfo</name>
        <label>Session Infos</label>
        <locationX>923</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DeleteOtherSession</targetReference>
        </connector>
        <fields>
            <name>DisplayUserSessionInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Controle de sessões simultâneas:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Usuário &lt;b&gt;{!$User.Username}&lt;/b&gt; possui sessões simultâneas em andamento, as sessões a seguir serão encerradas:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SessionList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetUserSession</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SessionList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>UserRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$UserRole.Id</elementReference>
        </value>
    </variables>
</Flow>
